<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Abonos de venta</h2>
    <!-- <button routerLink="/orden-de-abono/crear" [queryParams]="{ estado:'Pre-abono' }" tooltip="Crear orden de abono (F4)" class="btn btn-default tcla-F4"><i class="fa fa-plus"></i> Añadir orden de abono</button> -->
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            @if (abonos?.total) {
                <span class="text-muted d-flex align-items-center gap-2">
                    Mostrando 
                    <select name="paginate" class="form-select w-auto" (change)="filtrarAbonos()" [(ngModel)]="filtros.paginate">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                     de {{ abonos?.total + ' registros' }}
                </span>
            }
        </div>

        <div class="col-md-6 mb-3">
            <div class="d-flex gap-2">
                <button [disabled]="downloading" tooltip="Descargar abonos de clientes" (click)="descargar()" class="btn btn-default tcla-F6">
                    <img appLazyImage="/assets/icons/download.png" class="icon">
                </button>
                <form class="d-flex input-group" name="form" (ngSubmit)="filtrarAbonos()" autocomplete="off">
                    <input type="text" name="buscador" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtros.buscador">
                </form>
                <button tooltip="Filtrar (F3)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F3"> <img appLazyImage="/assets/icons/filter.png" class="icon"> </button>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap gap-2 mb-3">
        <div class="d-flex gap-2 flex-wrap">
            <button class="btn" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/ventas">Todos</button>
            <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/devoluciones/ventas">Devoluciones</button>
            <button class="btn tcla-F5 " tooltip="Actualizar (F5)" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/ventas/abonos" (click)="loadAll()" >Abonos</button>
            <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/ventas/recurrentes">Recurrentes</button>
        </div>
        <div class="ms-auto d-flex gap-2">
            <select name="estado" (change)="filtrarAbonos()" [(ngModel)]="filtros.estado" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="Confirmado">Confirmado</option>
                <option value="Cancelado">Cancelado</option>
            </select>
            <!-- <ng-select name="id_cliente" (change)="filtrarAbonos()" [(ngModel)]="filtros.id_cliente" class="form-select p-0 border-0 bg-default  w-auto" style="min-width: 100px;">
                <ng-option value="">Proveedores</ng-option>
                <ng-option *ngFor="let cliente of clientees" [value]="cliente.id">
                    {{cliente.nombre}}
                </ng-option>
            </ng-select> -->
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th (click)="setOrden('fecha')" [ngClass]="{'sorted-asc': filtros.orden == 'fecha' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'fecha' && filtros.direccion == 'desc'}" class="click">Fecha</th>
                        <th>Cliente</th>
                        <th class="d-none d-md-table-cell">Venta</th>
                        <th class="d-none d-md-table-cell">Método de pago</th>
                        <th>Estado</th>
                        <!-- <th>Estado</th> -->
                        <th  (click)="setOrden('total')" [ngClass]="{'sorted-asc': filtros.orden == 'total' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'total' && filtros.direccion == 'desc'}" class="click text-right">Total</th>
                        <th class="text-center">Más</th>
                    </tr>
                </thead>
                <tbody>
                    @if (abonos?.total < 1 && !loading) {
                        <tr>
                            <td colspan="6" class="text-center">
                                <span class="badge bg-primary">No tiene abonos registrados</span>
                            </td>
                        </tr>
                    }
                    @if (loading) {
                        <tr>
                            <td colspan="6" class="text-center">
                                <span class="badge bg-primary">Cargando...</span>
                            </td>
                        </tr>
                    }

                    @for (abono of abonos?.data; track abono.id) {
                        <tr>
                        
                        <td>{{abono.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{abono.venta?.nombre_cliente | truncate:30 }}@if (abono.venta?.id_cliente && abono.venta?.id_cliente != 1) {<a class="float-end d-none"  tooltip="Ver información del cliente" routerLink="/cliente/editar/{{abono.venta?.id_cliente}}"><i class="fa fa-edit"></i></a>}</td>
                        <td>
                            {{abono.venta?.nombre_documento }} # {{abono.venta?.correlativo }}
                            <a class="float-end d-none"  tooltip="Ver información de la venta" routerLink="/venta/{{abono.id_venta}}"><i class="fa fa-magnifying-glass"></i></a>
                        </td>
                        <td>{{abono.forma_pago}}</td>
                        <td>
                            <select name="estado" class="form-select w-auto border-0" (change)="setEstado(abono)" [(ngModel)]="abono.estado" [ngClass]="{'bg-light-danger' : abono?.estado == 'Cancelado', 'bg-light-success' : abono?.estado == 'Confirmado'}">
                                <option value="Cancelado">Cancelado</option>
                                <option value="Confirmado">Confirmado</option>
                            </select>
                        </td>
                        <td class="text-right">{{abono.total | currency}}</td>
                        <td class="text-center">
                            <span class="btn" [popover]="accionesTemplate" [outsideClick]="true" tooltip="Acciones">
                                <i class="fa fa-ellipsis-vertical fa-fw"></i>
                            </span>
                            <ng-template #accionesTemplate>
                                <div class="list-group border-0">
                                    @if (apiService.canEditTest('ventas.abonos.editar')) {
                                        <a (click)="imprimir(abono)" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-fw fa-print"></i> Imprimir
                                        </a>
                                    }
                                    <a (click)="generarPartidaContable(abono)" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-edit"></i> Generar partida contable
                                    </a>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (abonos && abonos.last_page && abonos.last_page > 1) {
            <div class="col-12">
                <app-pagination [items]="abonos" (setPagination)="setPagination($event)"></app-pagination>
            </div>
        }
    </div>
</section>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtrar</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="filtrarAbonos()">
        <div class="row">

            <div class="form-group col-sm-6">
                <label>Del:</label>
                <input type='date' class="form-control" name="filtros.inicio" [(ngModel)]="filtros.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label>Al:</label>
                <input type='date' class="form-control" name="filtros.fin" [(ngModel)]="filtros.fin"/>
            </div>

            <div class="form-group col-md-6">
                <label for="forma_pago">Método de pago:</label>
                <select name="forma_pago" [(ngModel)]="filtros.forma_pago" class="form-select">
                    <option value="">Todos</option>
                    @for (forma of formaPagos; track forma.id) {
                        <option [value]="forma.nombre">{{ forma.nombre }}</option>
                    }
                </select>
            </div>

            <!-- <div class="form-group col-md-6">
                <label>Cliente:</label>
                <ng-select [(ngModel)]="filtros.id_cliente" class="form-select p-0" name="filtros.id_cliente">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                        {{ cliente.tipo == 'Empresa' ? cliente.nombre_empresa : cliente.nombre_completo }}
                    </ng-option>
                </ng-select>
            </div> -->

            <div class="form-group col-sm-6">
                <label for="filtros.id_documento">Documento:</label>
                <select [(ngModel)]="filtros.id_documento" class="form-control form-select" name="filtros.id_documento">
                    <option value="">Todos</option>
                    @for (documento of documentos; track documento.id) {
                        <option [value]="documento.id">
                            {{ documento.nombre }}
                        </option>
                    }
                </select>
            </div>

        </div>
        
        <div class="d-grid mt-3">
            <button type="submit" [disabled]="loading" class="btn btn-primary">
                @if (!loading) {
                    <span>Filtrar</span>
                }
                @if (loading) {
                    <span>Filtrando...</span>
                }
            </button>
        </div>
    </form>
  </div>
</ng-template>
