<div class="d-flex justify-content-between bg-white rounded p-3 mb-3">
  <h3>Nueva Cotización</h3>
  <button class="btn btn-light text-danger" routerLink="/cotizaciones"><i class="fa fa-arrow-left"></i>
    Regresar</button>
</div>

<section class="card border-0 p-3 mb-3">
  <div class="row">
    <div class="form-group col-md-4 col-lg-2">
      <label for="fecha">Fecha</label><br>
      <input type="date" class="form-control" [(ngModel)]="venta.fecha" name="fecha" id="fecha">
    </div>
    <div class="form-group col-md-4 col-lg-3">
      <label for="id_usuario">Usuario</label>
      <select name="id_usuario" [(ngModel)]="venta.id_usuario" class="form-select">
        @for (usuario of usuarios; track usuario.id) {
          <option [value]="usuario.id">
            {{ usuario.name }}
          </option>
        }
      </select>
    </div>
    <div class="form-group col-md-4 col-lg-3">
      <label for="id_sucursal">Sucursal</label>
      <select name="id_sucursal" [(ngModel)]="venta.id_sucursal" class="form-select">
        @for (sucursal of sucursales; track sucursal.id) {
          <option [value]="sucursal.id">
            {{ sucursal.nombre }}
          </option>
        }
      </select>
    </div>
    <div class="form-group col-md-4 col-lg-2">
      <label for="id_documento">Documento</label>
      <select name="id_documento" [(ngModel)]="venta.id_documento" (change)="setDocumento($event.target.value)"
        class="form-select">
        @for (documento of documentos; track documento.id) {
          <option [value]="documento.id">{{ documento.nombre }}</option>
        }
      </select>
    </div>
    <div class="form-group col-md-4 col-lg-2">
      <label for="correlativo">Correlativo</label>
      <input type="number" class="form-control" [(ngModel)]="venta.correlativo" name="correlativo" id="correlativo">
    </div>
  </div>
  <div class="row">
    <h6 class="mt-3">Detalles de la venta</h6>
    <div class="form-group col-md-12 col-lg-4">
      <label for="">Cliente</label>
      <div class="input-group flex-nowrap">
        <ng-select name="id_cliente" placeholder="Consumidor Final" [(ngModel)]="venta.id_cliente"
          class="form-select p-0">
          <ng-option value=""> Consumidor final </ng-option>
          @if (loading) {
            <ng-option value=""> Cargando clientes... </ng-option>
          }
          @for (cliente of clientes; track cliente.id) {
            <ng-option [value]="cliente.id">
              {{ cliente.tipo == 'Empresa' ? cliente.nombre_empresa : cliente.nombre_completo }}
            </ng-option>
          }
        </ng-select>
        <app-crear-cliente [id_cliente]="venta.id_cliente" (update)="setCliente($event)"></app-crear-cliente>
      </div>
    </div>

    @if (apiService.auth_user().empresa.modulo_proyectos) {
      <div class="form-group col-md-12 col-lg-3">
        <label for="">Proyecto</label>
        <div class="input-group flex-nowrap">
          <ng-select name="id_proyecto" placeholder="Seleccione aquí" [(ngModel)]="venta.id_proyecto"
            class="form-select p-0">
            @for (proyecto of proyectos; track proyecto.id) {
              <ng-option [value]="proyecto.id">
                {{ proyecto.nombre }}
              </ng-option>
            }
          </ng-select>
          <app-crear-proyecto [id_proyecto]="venta.id_proyecto" (update)="setProyecto($event)"></app-crear-proyecto>
        </div>
      </div>
    }
  </div>
</section>

<section class="card border-0 p-3 mb-3">
  <h6 class="mt-3">Productos y servicios</h6>

  <app-venta-detalles [venta]="venta" [usuarios]="usuarios" (update)="updateVenta($event)"
    (sumTotal)="sumTotal()"></app-venta-detalles>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm table-borderless table-condensed mb-0">
        <tbody>
          <tr>
            <td class="text-right"><b>Sub Total</b> </td>
            <td style="width: 150px;" class="text-right"> {{ venta.sub_total | currency:'USD':'symbol':'1.2'}} </td>
            <td style="width: 50px;"></td>
          </tr>
          <tr>
            <td class="text-right"><b>Descuentos</b> </td>
            <td style="width: 150px;" class="text-right"> {{ venta.descuento | currency:'USD':'symbol':'1.2'}} </td>
            <td style="width: 50px;"></td>
          </tr>
          <tr>
            <td class="text-right"> <b>Impuestos</b></td>
            <td style="width: 150px;" class="text-right"> {{ venta.iva | currency:'USD':'symbol':'1.2'}} </td>
            <td style="width: 50px;"></td>
          </tr>
          @for (impuesto of venta?.impuestos; track impuesto.id || impuesto.nombre) {
            <tr>
              <td class="text-right"> {{ impuesto.nombre }} </td>
              <td style="width: 150px;" class="text-right">
                @if (!impuesto?.monto) {
                  <span>%{{ impuesto.porcentaje }}</span>
                }
                @if (impuesto?.monto > 0) {
                  <span tooltip="{{ impuesto.monto | currency:'USD':'symbol':'1.2'}}">%{{
                    impuesto.porcentaje }}</span>
                }
              </td>
              <td style="width: 50px;"></td>
            </tr>
          }
          @if (venta.retencion) {
            <tr>
              <td class="text-right"> <b>Retención (1%)</b></td>
              <td style="width: 150px;" class="text-right"> {{ venta.iva_retenido | currency:'USD':'symbol':'1.2'}} </td>
              <td style="width: 50px;"></td>
            </tr>
          }
          @if (venta.exenta > 0) {
            <tr>
              <td class="text-right"> <b>Ventas Exentas</b> </td>
              <td style="width: 150px;" class="text-right"><b> {{ venta.exenta | currency:'USD':'symbol':'1.2'}}</b> </td>
              <td style="width: 50px;"></td>
            </tr>
          }
          @if (venta.no_sujeta > 0) {
            <tr>
              <td class="text-right"> <b>Ventas No Sujetas</b> </td>
              <td style="width: 150px;" class="text-right"><b> {{ venta.no_sujeta | currency:'USD':'symbol':'1.2'}}</b>
              </td>
              <td style="width: 50px;"></td>
            </tr>
          }
          @if (venta.cuenta_a_terceros > 0) {
            <tr>
              <td class="text-right"> <b>Cuenta a terceros</b> </td>
              <td style="width: 150px;" class="text-right"><b> {{ venta.cuenta_a_terceros |
                  currency:'USD':'symbol':'1.2'}}</b> </td>
              <td style="width: 50px;"></td>
            </tr>
          }
          <tr>
            <td class="text-right"> <b>Total</b> </td>
            <td style="width: 150px;" class="text-right"><b> {{ venta.total | currency:'USD':'symbol':'1.2'}}</b> </td>
            <td style="width: 50px;"></td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>


</section>
<section class="card border-0 p-3 mb-3">
  <div class="row">
    <h6 class="mt-3">Detalles de facturación</h6>
    <!-- Estado: {{ venta.estado }} -->
    @if (apiService.auth_user().empresa.venta_consigna && venta.cotizacion != 1) {
      <div class="form-group col-md-6 col-lg-3 without-label">
        <div class="form-switch border rounded">
          <label for="consigna">Consigna</label>
          <input [disabled]="!venta.credito" class="form-check-input float-end" type="checkbox" role="switch"
            (change)="setConsigna()" [(ngModel)]="venta.consigna" name="venta.credito">
        </div>
      </div>
    }
    <div class="form-group col-md-4 col-lg-3">
      <label for="fecha_expiracion">Fecha de expiración:</label><br>
      <input type="date" class="form-control" [(ngModel)]="venta.fecha_expiracion" name="fecha_expiracion"
        id="fecha_expiracion">
    </div>
    <div class="form-group col-md-6 col-lg-3 without-label">
      <div class="form-switch bg-light-info rounded">
        <label for="cobrar_impuestos">Con IVA</label>
        <input class="form-check-input float-end" type="checkbox" role="switch" (change)="sumTotal()"
          [(ngModel)]="venta.cobrar_impuestos" name="venta.cobrar_impuestos">
      </div>
    </div>
    <div class="form-group col-md-6 col-lg-3 without-label">
      <div class="form-switch bg-light-info rounded">
        <label for="percepcion">Retención</label>
        <input class="form-check-input float-end" type="checkbox" role="switch" (change)="sumTotal()"
          [(ngModel)]="venta.retencion" name="compra.retencion">
      </div>
    </div>
    <!-- <div class="form-group col-md-6 col-lg-3">
      <label for="forma_pago">Método de pago</label>
      <div class="input-group flex-nowrap">
        <select name="forma_pago" (change)="cambioMetodoDePago()" [(ngModel)]="venta.forma_pago" class="form-select">
          <option [value]="forma.nombre" *ngFor="let forma of formaPagos">{{ forma.nombre }}</option>
        </select>
        <app-metodos-de-pago [venta]="venta" [formaPagos]="formaPagos"
          (update)="totalPorMetodoDePago()"></app-metodos-de-pago>
      </div>
    </div> -->
    @if (venta.forma_pago != 'Efectivo' && venta.forma_pago != 'Wompi') {
      <div class="form-group col-md-6 col-lg-3">
        <label for="detalle_banco">Bancos</label>
        <select name="detalle_banco" [(ngModel)]="venta.detalle_banco" class="form-select">
          <option value="">Seleccione aquí</option>
          @for (banco of bancos; track banco.id || banco.nombre) {
            <option [value]="banco.nombre">{{ banco.nombre }}</option>
          }
        </select>
      </div>
    }
    <div class="form-group col-md-12 col-lg-12">
      <label for="observaciones">Términos de venta:</label><br>
      <textarea class="form-control" placeholder="Escribe aquí" [(ngModel)]="venta.observaciones" name="observaciones"
        cols="30" rows="3"></textarea>
    </div>
  </div>
  @if (apiService.auth_user().empresa.editar_descripcion_venta && venta.cotizacion != 1) {
    <div class="row">
      <div class="form-group col-md-12 col-lg-6 without-label">
        <div class="form-switch bg-light-info rounded">
          <label for="descripcion_personalizada">Agrupar detalles de venta y personalizar descripción</label>
          <input class="form-check-input float-end" type="checkbox" role="switch"
            [(ngModel)]="venta.descripcion_personalizada" name="compra.descripcion_personalizada">
        </div>
      </div>
    </div>
  }
  <div class="row mt-5">
    <div class="col-md-12">
      <button type="submit" (click)="onFacturar()" [disabled]="saving" class="ml-3 btn btn-primary float-end tcla-F8"
        title="Procesar venta (F8)">
        @if (!saving) {
          <span>
            Procesar
            <span>cotización</span>
            <img src="assets/icons/arrow-right-stroke.png" class="icon2 ms-2">
          </span>
        }
        @if (saving) {
          <span>Procesando...</span>
        }
      </button>
      <!-- <button type="submit" (click)="openModalFacturar(mfacturar)" [disabled]="loading" class="ml-3 btn btn-primary float-end tcla-F10" title="Procesar venta (F10)">
              Revisar información <img src="assets/icons/arrow-right-stroke.png" class="icon2 ms-2">
          </button> -->
      <button (click)="limpiar()" class="tcla-Delete" style="opacity: 0;">.</button>
    </div>
  </div>
</section>
<ng-template #mfacturar>
  <div class="modal-header">
    <div class="modal-title text-center w-100">
      <p class="my-0">{{venta.tipo_documento}}</p>
      <h3>{{venta.correlativo}}</h3>
    </div>
    <button type="button" class="close float-end btn-option" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onFacturar()">
      <div class="row text-center">
        <h4 class="col-md-6">Total: <span class="badge badge-primary">{{ venta.total | currency:'USD':'symbol':'1.2'
            }}</span></h4>
        <h4 class="col-md-6">Vuelto: 
          @if (venta.recibido) {
            <span class="badge badge-info">{{ venta.recibido -
              venta.total | currency:'USD':'symbol':'1.2' }}</span>
          }
          @if (!venta.recibido) {
            <span class="badge badge-info">$0.00</span>
          }
        </h4>
        <div class="form-group text-center col-md-12 my-3">
          <label for="recibido">Recibido:</label>
          <input type="number" name="recibido" [(ngModel)]="venta.recibido"
            placeholder="{{ venta.total | currency:'USD':'symbol':'1.2' }}" class="form-control text-center">
        </div>

        @if (!venta.nota) {
          <div class="form-group col-md-12 mb-3">
            <label for="nota">Nota:</label><br>
            <input type="text" class="form-control" [(ngModel)]="venta.nota" name="nota" id="nota">
          </div>
        }

        <label class="mt-4" style="font-size: 16px;"><input style="width: 15px; height: 15px;" type="checkbox"
            [(ngModel)]="imprimir" name="imprimir"> Imprimir</label>

      </div>
      <div class="row text-center">
        <div class="col-md-12 mt-4">
          <button type="submit" class="btn btn-primary btn-block tcla-F12" id="submit" [disabled]="loading">
            @if (!loading) {
              <span>Cobrar <small>(F12)</small></span>
            }
            @if (loading) {
              <span>Cobrando...</span>
            }
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #msupervisor>
  <div class="modal-header">
    <h4 class="modal-title text-center">Autorización</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
      <form name="form" (ngSubmit)="supervisorCheck()">
        <div class="form-group col-md-12">
          <label for="codigo">Ingrese el código de supervisor:</label>
          <input type="password" [(ngModel)]="supervisor.codigo" name="codigo" class="form-control text-center">
        </div>
        <div class="col-md-12">
          <button [disabled]="loading || !supervisor.codigo" class="btn btn-primary btn-block">
            @if (!loading) {
              <span>Guardar</span>
            }
            @if (loading) {
              <span>Guardando...</span>
            }
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>