<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Documentos</h2>
    @if (apiService.canCreateTest('finanzas.documentos.crear')) {
        <button (click)="openModal(mdetalle, {})"  tooltip="Crear documento (F4)" class="btn btn-default tcla-F4"><i class="fa fa-plus"></i> Añadir documento</button>
    }
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            @if (documentos?.length) {
                <span class="text-muted">
                    Mostrando {{ documentos?.length + ' registros' }}
                </span>
            }
        </div>

        <div class="col-md-6 mb-3">
            <div class="d-flex gap-2">
                <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtro.nombre">
                <!-- <button tooltip="Filtrar (F3)" class="btn btn-default tcla-F3"><i class="fa fa-filter"></i></button> -->
            </div>
        </div>
    </div>

    <div class="d-flex mb-3">
        <div class="col d-flex gap-2">
            <button class="btn btn-primary tcla-F5" tooltip="Actualizar (F5)" (click)="loadAll()">Todos</button>
            <!-- <button class="btn btn-default">Traslados</button> -->
        </div>
        <!-- <div class="col d-flex gap-2 justify-content-end">
            <select name="estado"  [(ngModel)]="filtro.estado" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div> -->
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Sucursal</th>
                        <th>Nombre</th>
                        <th>Correlativo</th>
                        <th>Predeterminado</th>
                        <th>Estado</th>
                        @if (apiService.canEditTest('finanzas.documentos.editar')) {
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (documentos?.length < 1 && !loading) {
                        <tr>
                            <td colspan="10" class="text-center">
                                <span class="badge bg-primary">No tiene documentos registradas</span>
                            </td>
                        </tr>
                    }
                    @if (loading) {
                        <tr>
                            <td colspan="10" class="text-center">
                                <span class="badge bg-primary">Cargando...</span>
                            </td>
                        </tr>
                    }

                    <!-- mostrar solo activos -->
                    @for (documento of documentos | filter:['nombre']:filtro.nombre | filter:'activo':'1'; track documento.id || $index) {
                        <tr>
                            <td>{{documento.nombre_sucursal}}</td>
                            <td>{{documento.nombre }}</td>
                            <td>{{documento.correlativo}}</td>
                            <td>
                                <select name="predeterminado" [(ngModel)]="documento.predeterminado" class="form-select w-auto border-0" (change)="setEstado(documento,true)" [ngClass]="{'bg-light-danger' : documento.predeterminado == 0, 'bg-light-success' : documento.predeterminado == 1}">
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                            </td>
                            <td>
                                <select name="activo" [(ngModel)]="documento.activo" class="form-select w-auto border-0" (change)="setEstado(documento)" [ngClass]="{'bg-light-danger' : documento.activo == 0, 'bg-light-success' : documento.activo == 1}" >
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </td>
                            <!-- <td *ngIf="apiService.canEditTest('finanzas.documentos.editar')" class="text-center">
                                <a class="btn btn-light" (click)="openModal(mdetalle, documento)" tooltip="Ver y editar">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                            </td> -->

                            <!-- <td class="text-center" *ngIf="apiService.canEdit()"> -->
                            @if (apiService.canEditTest('finanzas.documentos.editar')) {
                                <td class="text-center">
                                    <span class="btn" [popover]="accionesTemplate" [outsideClick]="true" tooltip="Acciones">
                                        <i class="fa fa-ellipsis-vertical fa-fw"></i>
                                    </span>
                                    <ng-template #accionesTemplate>
                                        <div class="list-group border-0">

                                            <a class="list-group-item list-group-item-action border-0 click" (click)="openModal(mdetalle, documento)" tooltip="Ver y editar">
                                                <i class="fa fa-pencil-alt"></i> Ver y editar
                                            </a>

                                            <a  routerLink="/documento/historial/{{documento.nombre}}" class="list-group-item list-group-item-action border-0 click" tooltip="Ver historial">
                                                <i class="fa fa-right-left"></i> Ver historial
                                            </a>
                                            <a class="list-group-item list-group-item-action border-0 click" (click)="openModal(mresolucion, documento,true)" tooltip="Agregar nueva resolución">
                                                <i class="fa fa-plus"></i> Nueva resolución
                                            </a>


                                        </div>
                                    </ng-template>
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (documentos?.last_page > 1) {
            <div class="col-12">
                <app-pagination [items]="documentos" (setPagination)="setPagination($event)"></app-pagination>
            </div>
        }
    </div>
</section>


<ng-template #mdetalle>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Documento</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide(); alertService.modal = false;" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <app-notificaciones-container></app-notificaciones-container>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="documento.nombre">Nombre</label>
                <select class="form-select" [(ngModel)]="documento.nombre" name="documento.nombre">
                    <option value="Factura">Factura</option>
                    <option value="Crédito fiscal">Crédito fiscal</option>
                    <option value="Ticket">Ticket</option>
                    <option value="Cotización">Cotización</option>
                    <option value="Recibo">Recibo</option>
                    <option value="Orden de compra">Orden de compra</option>
                    <option value="Nota de crédito">Nota de crédito</option>
                    <option value="Nota de débito">Nota de débito</option>
                    <option value="Sujeto excluido">Sujeto excluido</option>
                    <option value="Factura de exportación">Factura de exportación</option>
                    <option value="Abono de Venta">Abono de Venta</option>
                    <option value="Factura comercial">Factura comercial</option>
                    <!-- <option value="Abono de Compra">Abono de Compra</option> -->
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="id_sucursal">Sucursal</label>
                <select name="id_sucursal" [(ngModel)]="documento.id_sucursal" class="form-select">
                    @for (sucursal of sucursales; track sucursal.id || $index) {
                        <option [value]="sucursal.id">
                            {{ sucursal.nombre }}
                        </option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="documento.correlativo">Correlativo</label>
                <input type="text" class="form-control" [(ngModel)]="documento.correlativo" name="documento.correlativo">
            </div>
            <div class="form-group col-md-6">
                <label for="documento.rangos">Serie</label>
                <input type="text" class="form-control" [(ngModel)]="documento.rangos" name="documento.rangos">
            </div>
            <div class="form-group col-md-6">
                <label for="documento.numero_autorizacion">Autorización</label>
                <input type="text" class="form-control" [(ngModel)]="documento.numero_autorizacion" name="documento.numero_autorizacion">
            </div>
            <div class="form-group col-md-6">
                <label for="documento.resolucion">Resolución</label>
                <input type="text" class="form-control" [(ngModel)]="documento.resolucion" name="documento.resolucion">
            </div>
            <div class="form-group col-md-6">
                <label for="documento.fecha">Fecha</label>
                <input type="date" class="form-control" [(ngModel)]="documento.fecha" name="documento.fecha">
            </div>
            <div class="form-group col-md-6">
                <div class="form-switch bg-light-info rounded">
                  <label for="activo">Activo</label>
                  <input class="form-check-input float-end" type="checkbox" role="switch" [(ngModel)]="documento.activo" name="activo">
                </div>
            </div>
            <div class="form-group col-12">
                <label for="documento.nota">Nota</label>
                <textarea name="documento.nota" class="form-control" cols="30" rows="3" maxlength="1000" [(ngModel)]="documento.nota"></textarea>
                <small class="text-muted">Máximo 1000 caracteres</small>
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                @if (!loading) {
                    <span>Guardar</span>
                }
                @if (loading) {
                    <span>Guardando...</span>
                }
            </button>
        </div>
    </form>
  </div>
</ng-template>



<ng-template #mresolucion>
    <div class="modal-header">
      <div class="modal-title text-center">
          <h2 class="text-center no-margin">Documento</h2>
      </div>
      <button type="button" class="btn-close" (click)="modalRef.hide(); alertService.modal = false;" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form autocomplete="off" (ngSubmit)="onSubmit()">
          <app-notificaciones-container></app-notificaciones-container>
          <div class="row">
              <div class="form-group col-md-6">
                  <label for="documento.nombre">Nombre</label>
                  <select class="form-select" [(ngModel)]="documento.nombre" name="documento.nombre" [disabled]="nuevaResolucion">
                      <option value="Factura">Factura</option>
                      <option value="Crédito fiscal">Crédito fiscal</option>
                      <option value="Ticket">Ticket</option>
                      <option value="Cotización">Cotización</option>
                      <option value="Recibo">Recibo</option>
                      <option value="Orden de compra">Orden de compra</option>
                      <option value="Nota de crédito">Nota de crédito</option>
                      <option value="Nota de débito">Nota de débito</option>
                      <option value="Sujeto excluido">Sujeto excluido</option>
                      <option value="Factura de exportación">Factura de exportación</option>
                      <option value="Abono de Venta">Abono de Venta</option>
                      <!-- <option value="Abono de Compra">Abono de Compra</option> -->
                  </select>
              </div>
              <div class="form-group col-md-6">
                  <label for="id_sucursal">Sucursal</label>
                  <select name="id_sucursal" [(ngModel)]="documento.id_sucursal" class="form-select" [disabled]="nuevaResolucion">
                      @for (sucursal of sucursales; track sucursal.id || $index) {
                          <option [value]="sucursal.id">
                              {{ sucursal.nombre }}
                          </option>
                      }
                  </select>
              </div>
              <div class="form-group col-md-6">
                  <label for="documento.correlativo">Correlativo</label>
                  <input type="text" class="form-control" [(ngModel)]="documento.correlativo" name="documento.correlativo">
              </div>
              <div class="form-group col-md-6">
                  <label for="documento.rangos">Serie</label>
                  <input type="text" class="form-control" [(ngModel)]="documento.rangos" name="documento.rangos">
              </div>
              <div class="form-group col-md-6">
                  <label for="documento.numero_autorizacion">Autorización</label>
                  <input type="text" class="form-control" [(ngModel)]="documento.numero_autorizacion" name="documento.numero_autorizacion">
              </div>
              <div class="form-group col-md-6">
                  <label for="documento.resolucion">Resolución</label>
                  <input type="text" class="form-control" [(ngModel)]="documento.resolucion" name="documento.resolucion">
              </div>
              <div class="form-group col-md-6">
                  <label for="documento.fecha">Fecha</label>
                  <input type="date" class="form-control" [(ngModel)]="documento.fecha" name="documento.fecha">
              </div>
              <div class="form-group col-md-6">
                  <div class="form-switch bg-light-info rounded">
                    <label for="activo">Activo</label>
                    <input class="form-check-input float-end" type="checkbox" role="switch" [(ngModel)]="documento.activo" name="activo">
                  </div>
              </div>
              <div class="form-group col-12">
                  <label for="documento.nota">Nota</label>
                  <textarea name="documento.nota" class="form-control" cols="30" rows="3" maxlength="1000" [(ngModel)]="documento.nota"></textarea>
                  <small class="text-muted">Máximo 1000 caracteres</small>
              </div>
          </div>
          <div class="d-grid">
              <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                  @if (!loading) {
                      <span>Guardar</span>
                  }
                  @if (loading) {
                      <span>Guardando...</span>
                  }
              </button>
          </div>
      </form>
    </div>
  </ng-template>


