<div class="d-flex justify-content-between bg-white rounded p-3 mb-3">
  <h3 (click)="loadAll()">{{ gasto.id ? 'Editar ' : 'Crear ' }} Gasto</h3>

  <div class="d-flex align-items-center float-end gap-3">
    @if (!gasto.id) {
      <button class="btn btn-primary me-2" (click)="openJsonImport(jsonImportTemplate)">
        <i class="fa fa-file-import"></i> Importar JSON
      </button>
    }

        <button class="btn btn-light text-danger" (click)="goBack()"><i class="fa fa-arrow-left"></i> Regresar</button>
    </div>
</div>

<form autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="bg-white rounded p-3">
        <div class="row">
            <div class="form-group col-md-4 col-lg-3">
                <label for="">Fecha:</label>
                <input type='date' class="form-control" name="fecha" [(ngModel)]="gasto.fecha"/>
            </div>
            <div class="form-group col-md-4 col-lg-3">
                <label for="id_usuario">Usuario:</label>
              <select name="id_usuario" [(ngModel)]="gasto.id_usuario" class="form-select">
                @for (usuario of usuarios; track usuario.id) {
                <option [value]="usuario.id">
                {{ usuario.name }}
                </option>
                }
              </select>
            </div>
            <div class="form-group col-md-4 col-lg-3">
                <label for="tipo_documento">Documento</label>
              <select name="tipo_documento" (change)="selectTipoDocumento()" [(ngModel)]="gasto.tipo_documento"
                      class="form-select">
                @for (documento of documentos; track documento.nombre || $index) {
                <option [value]="documento.nombre">{{ documento.nombre }}</option>
                }
              </select>
            </div>
            <div class="form-group col-md-4 col-lg-3">
                <label for="referencia">Referencia:</label>
                <input type="text" class="form-control" name="referencia" [(ngModel)]="gasto.referencia" placeholder="Escriba aquí" />
            </div>
            <div class="form-group col-md-4 col-lg-3" *ngIf="gasto.percepcion">
                <label for="sello_mh">Sello de Recepción</label>
                <input type="text" class="form-control" name="sello_mh" [(ngModel)]="gasto.sello_mh" placeholder="Sello de recepción" />
            </div>
        </div>
     </div>
     <div class="bg-white rounded p-3 mb-3">
        <h6>Detalle de gasto</h6>
        <div class="row">
            <div class="form-group col-md-4 col-lg-3">
                <label for="id_sucursal">Sucursal:</label>
              <select name="id_sucursal" [(ngModel)]="gasto.id_sucursal" class="form-select">
                @for (sucursal of sucursales; track sucursal.id) {
                <option [value]="sucursal.id">
                {{ sucursal.nombre }}
                </option>
                }
              </select>
            </div>
            <div class="form-group col-md-4 col-lg-3">
                <label for="id_proveedor" class="w-100">Proveedor:</label>
                <div class="input-group flex-nowrap">
                  <ng-select name="id_proveedor" [(ngModel)]="gasto.id_proveedor" class="form-select p-0">
                    <ng-option value="">Seleccione aquí</ng-option>
                    @for (proveedor of proveedores; track proveedor.id) {
                    <ng-option [value]="proveedor.id">
                    {{ proveedor.tipo == 'Empresa' ? proveedor.nombre_empresa : proveedor.nombre_completo }}
                    </ng-option>
                    }
                  </ng-select>
                    <app-crear-proveedor (update)="setProveedor($event)"></app-crear-proveedor>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3">
                <label for="id_categoria" class="w-100">Categoria:</label>
                <div class="input-group flex-nowrap">
                  @if (contabilidadHabilitada) {
                    <ng-select name="id_categoria" [(ngModel)]="gasto.id_categoria" class="form-select p-0">
                      <ng-option value="">Seleccione aquí</ng-option>
                      @for (categoria of categorias; track categoria.id) {
                      <ng-option [value]="categoria.id">
                      {{ categoria.nombre }}
                      </ng-option>
                      }
                    </ng-select>
                  } @else {
                    <select name="tipo" [(ngModel)]="gasto.tipo" class="form-select">
                        <option value="">Seleccione aquí</option>
                        <option value="Alquiler">Alquiler</option>
                        <option value="Combustible">Combustible</option>
                        <option value="Costo de venta">Costo de venta</option>
                        <option value="Gastos varios">Gastos varios</option>
                        <option value="Insumos">Insumos</option>
                        <option value="Impuestos">Impuestos</option>
                        <option value="Gastos Administrativos">Gastos Administrativos</option>
                        <option value="Mantenimiento">Mantenimiento</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Materia Prima">Materia Prima</option>
                        <option value="Servicios">Servicios</option>
                        <option value="Pago comisión">Pago comisión</option>
                        <option value="Planilla">Planilla</option>
                        <option value="Préstamos">Préstamos</option>
                        <option value="Publicidad">Publicidad</option>
                    </select>
                  }
                </div>
            </div>
          @if (contabilidadHabilitada) {
          <div class="form-group col-md-6 col-lg-4">
            <label for="id_departamento">Departamento:</label>
            <div class="input-group flex-nowrap">
              <select
                [(ngModel)]="gasto.id_departamento"
                name="id_departamento"
                class="form-select"
                id="id_departamento"
                (change)="onDepartamentoChangeGasto()">
                <option value="">Seleccione departamento</option>
                @for (departamento of departamentos; track departamento.id) {
          <option [value]="departamento.id"
                  [selected]="gasto.id_departamento == departamento.id">
            {{ departamento.nombre }}
          </option>
          }
          </select>
          <app-crear-departamento [id_departamento]="gasto.id_departamento"
                                  (update)="setDepartamento($event)"></app-crear-departamento>
        </div>
      </div>
          }
            <div class="form-group col-md-4 col-lg-3">
                <label for="area_empresa">Area empresa:</label>
              <div class="input-group flex-nowrap">
                <select
                  [(ngModel)]="gasto.id_area_empresa"
                  name="id_area_empresa"
                  class="form-select"
                  id="id_area_empresa"
                  [disabled]="!gasto.id_departamento || loadingAreas">
                  <option value="">{{ !gasto.id_departamento ? 'Primero seleccione departamento' : 'Seleccione área' }}
                  </option>
                  @for (area of areasDisponibles; track area.id) {
                  <option [value]="area.id"
                          [selected]="gasto.id_area_empresa == area.id">
                  {{ area.nombre }}
                  </option>
                  }
                </select>
                <app-crear-area-empresa
                  [id_area]="gasto.id_area_empresa"
                  [id_departamento_preselected]="gasto.id_departamento"
                  (update)="setArea($event)">
                </app-crear-area-empresa>
              </div>
              @if (loadingAreas) {
              <small class="text-muted">Cargando áreas...</small>
              }
            </div>
          <div class="form-group col-md-4 col-lg-3">
            <label for="tipo_documento">Documento</label>
            <select name="tipo_documento" (change)="selectTipoDocumento()" [(ngModel)]="gasto.tipo_documento"
                    class="form-select">
              @for (documento of documentos; track documento.nombre || $index) {
              <option [value]="documento.nombre">{{ documento.nombre }}</option>
              }
            </select>
          </div>
          <div class="form-group col-md-4 col-lg-3">
            <label for="referencia">Referencia:</label>
            <input type="text" class="form-control" name="referencia" [(ngModel)]="gasto.referencia"
                   placeholder="Escriba aquí"/>
          </div>
          @if (isColumnEnabled('columna_proyecto')) {
          <div class="form-group col-md-4 col-lg-3">
            <label for="num_identificacion">Número identificación:</label>
            <input
              type="text"
              [(ngModel)]="gasto.num_identificacion"
              name="num_identificacion"
              class="form-control"
              id="num_identificacion"
              placeholder="Número de identificación">
          </div>
          }
          @if (apiService.auth_user().empresa.modulo_proyectos) {
          <div class="form-group col-md-12 col-lg-3">
            <label for="">Proyecto</label>
            <div class="input-group flex-nowrap">
              <ng-select name="id_proyecto" placeholder="Seleccione aquí" [(ngModel)]="gasto.id_proyecto"
                         class="form-select p-0">
                @for (proyecto of proyectos; track proyecto.id) {
          <ng-option [value]="proyecto.id">
            {{ proyecto.nombre }}
          </ng-option>
          }
          </ng-select>
          <app-crear-proyecto [id_proyecto]="gasto.id_proyecto" (update)="setProyecto($event)"></app-crear-proyecto>
        </div>
      </div>
          }
        </div>
    </div>
    <div class="bg-white rounded p-3 mb-3">
        <h6>Detalle de facturación</h6>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="">Concepto:</label>
                <input type="text" class="form-control" name="concepto" [(ngModel)]="gasto.concepto" placeholder="Escriba aquí" />
            </div>
            <div class="form-group col-md-4 col-lg-3">
                <label for="">Sub total:</label>
                <input type='number' class="form-control" name="sub_total" (change)="setTotal()" [(ngModel)]="gasto.sub_total"/>
            </div>
            <div class="form-group col-md-4 col-lg-2">
                <label for="">IVA:</label>
                <input type='number' disabled class="form-control" name="iva" [(ngModel)]="gasto.iva"/>
            </div>
            <div class="form-group col-md-4 col-lg-2">
                <label for="">Percepción:</label>
                <input type='number' disabled class="form-control" name="iva_percibido" [(ngModel)]="gasto.iva_percibido"/>
            </div>
            <div class="form-group col-md-4 col-lg-2">
                <label for="">Renta:</label>
                <input type='number' disabled class="form-control" name="renta_retenida" [(ngModel)]="gasto.renta_retenida"/>
            </div>
            <div class="form-group col-md-4 col-lg-3">
                <label for="" class="fw-medium">Total:</label>
                <input type='number' class="form-control" name="total" (change)="setSubTotal()" [(ngModel)]="gasto.total"/>
            </div>
            <div class="form-group col-md-4 col-lg-3">
                <label for="forma_pago">Forma de pago:</label>
                <select name="forma_pago" [(ngModel)]="gasto.forma_pago" class="form-select" id="forma_pago">
                    <option value="{{ forma.nombre }}" *ngFor="let forma of formaspago">{{ forma.nombre }}</option>
                </select>
            </div>
            @if (gasto.forma_pago != 'Efectivo' && gasto.forma_pago != 'Wompi') {
            <div class="form-group col-md-4 col-lg-3">
                <label for="detalle_banco">Bancos:</label>
                <select name="detalle_banco" [(ngModel)]="gasto.detalle_banco" class="form-select">
                    <option value="">Seleccione aquí</option>
                    @if (contabilidadHabilitada) {
                      @for (banco of bancos; track banco.id) {
                        <option [value]="banco.nombre_banco">{{ banco.nombre_banco }}</option>
                      }
                    } @else {
                      @for (banco of bancos; track banco.nombre) {
                        <option [value]="banco.nombre">{{ banco.nombre }}</option>
                      }
                    }
                </select>
            </div>
            }
          </div>
    </div>

  <div class="bg-white rounded p-3 mb-3">
    <div class="form-group col-md-4 col-lg-4 mt-4">
      <div class="form-switch border rounded">
        <label>Opciones Avanzadas</label>
        <input class="form-check-input float-end" type="checkbox" role="switch" (click)="toggleDiv()"
               [(ngModel)]="opAvanzadas" name="opciones_ava_detalles">
      </div>
    </div>

    @if (opAvanzadas) {
      <div class="row">
        @if (opAvanzadas) {
          <div class="form-group col-md-4 col-lg-3 without-label">
            <div class="form-switch bg-light-info rounded">
              <label for="impuesto">IVA ({{ apiService.auth_user().empresa.iva }}%)</label>
              <input class="form-check-input float-end" type="checkbox" role="switch" (change)="setTotal()"
                     [(ngModel)]="gasto.impuesto" name="impuesto">
              <label for="impuesto">IVA (13%)</label>
              <input class="form-check-input float-end" (change)="setImpuesto('iva')" type="checkbox" role="switch"
                     [(ngModel)]="gasto.impuesto" name="impuesto">
            </div>
          </div>
        }
        <div class="form-group col-md-3 col-lg-3 without-label">
          <div class="form-switch bg-light-info rounded">
            <label for="impuesto">Renta (10%)</label>
            <input class="form-check-input float-end" type="checkbox" role="switch" (change)="setImpuesto('renta')"
                   [(ngModel)]="gasto.renta" name="renta">
          </div>
        </div>
        <div class="form-group col-md-3 col-lg-3 without-label">
          <div class="form-switch bg-light-info rounded">
            <label for="percepcion">Percepción (1%)</label>
            <input class="form-check-input float-end" type="checkbox" role="switch" (change)="setImpuesto('percepcion')"
                   [(ngModel)]="gasto.percepcion" name="gasto.percepcion">
          </div>
        </div>
        @if (opAvanzadas) {
          <div class="form-group col-md-4 col-lg-3 without-label">
            <div class="form-switch bg-light-info rounded">
              <label for="recurrente">Recurrente</label>
              <input class="form-check-input float-end" type="checkbox" role="switch" [(ngModel)]="gasto.recurrente"
                     name="recurrente">
            </div>
          </div>
        }
      <div class="form-group col-md-4 col-lg-3 without-label">
        <div class="form-switch bg-light-info rounded">
          <label for="switch_otros_impuestos">Otros impuestos</label>
          <input class="form-check-input float-end"
                 type="checkbox"
                 role="switch"
                 id="switch_otros_impuestos"
                 (change)="setOtrosImpuestos()"
                 [(ngModel)]="mostrar_otros_impuestos"
                 name="mostrar_otros_impuestos">
        </div>
      </div>

        @if (mostrar_otros_impuestos) {
          <div class="form-group col-md-8 col-lg-8">
            <label for="">Selecciona los impuestos aplicables</label>
            <div class="input-group flex-nowrap">
              <ng-select
                name="otros_impuestos"
                placeholder="Seleccione impuestos"
                [(ngModel)]="gasto.otros_impuestos"
                [multiple]="true"
                (change)="onImpuestosChange()"
                class="form-select p-0">
                @for (impuesto of impuestos; track impuesto.id) {
                  <ng-option [value]="impuesto.id">
                    {{ impuesto.nombre }} ({{ impuesto.porcentaje }}%)
                  </ng-option>
                }
              </ng-select>
              <app-crear-impuesto (update)="setImpuesto($event)"></app-crear-impuesto>
            </div>

            <!-- Lista de impuestos seleccionados -->
            @if (impuestos_seleccionados.length > 0) {
              <div class="mt-2 mb-3">
                <div class="d-flex flex-wrap gap-2">
                  @for (impuesto of impuestos_seleccionados; track impuesto.id || $index) {
                    <span class="badge bg-light-info text-info">
                      {{ impuesto.nombre }} ({{ impuesto.porcentaje }}%)
                    </span>
                  }
                </div>
              </div>
            }
          </div>
        }
        @if (gasto.impuestos_valores && gasto.impuestos_valores.length > 0) {
          <div class="row">
            @for (impuestoValor of gasto.impuestos_valores; track impuestoValor.id_impuesto || $index) {
              <div class="form-group col-md-4 col-lg-4">
                <label for="">{{ impuestoValor.nombre }}:</label>
                <input
                  type='number'
                  step="0.01"
                  class="form-control"
                  [name]="'impuesto_'+impuestoValor.id_impuesto"
                  [(ngModel)]="impuestoValor.valor"
                  (change)="onImpuestoValorChange()"/>
              </div>
            }
          </div>
        }
      <div class="form-group col-6 col-lg-2">
        <label for="tipo_operacion">Tipo de operación:</label>
        <select name="tipo_operacion" class="form-select" [(ngModel)]="gasto.tipo_operacion">
          <option [ngValue]="null">Seleccione aquí</option>
          <option value="Gravada">Gravada</option>
          <option value="No Gravada">No Gravada</option>
          <option value="Excluido">Excluido</option>
          <option value="Mixta">Mixta</option>
        </select>
      </div>
      <div class="form-group col-6 col-lg-2">
        <label for="tipo_clasificacion">Clasificación:</label>
        <select name="tipo_clasificacion" class="form-select" [(ngModel)]="gasto.tipo_clasificacion">
          <option [ngValue]="null">Seleccione aquí</option>
          <option value="Costo">Costo</option>
          <option value="Gasto">Gasto</option>
        </select>
      </div>
      <div class="form-group col-6 col-sm-3">
        <label for="tipo_sector">Sector:</label>
        <select name="tipo_sector" class="form-select" [(ngModel)]="gasto.tipo_sector">
          <option [ngValue]="null">Seleccione aquí</option>
          <option value="Industria">Industria</option>
          <option value="Comercio">Comercio</option>
          <option value="Agropecuaria">Agropecuaria</option>
          <option value="Servicios, profesiones, artes y oficios">Servicios profesiones, artes y oficios</option>
        </select>
      </div>
      <div class="form-group col-6 col-lg-5">
        <label for="tipo_costo_gasto">Tipo {{ gasto.tipo_clasificacion }}:</label>
        <select name="tipo_costo_gasto" class="form-select" [(ngModel)]="gasto.tipo_costo_gasto">
          <option [ngValue]="null">Seleccione aquí</option>
          <option value="Gastos de venta sin donación">Gastos de venta sin donación</option>
          <option value="Gastos de administración sin donación">Gastos de administración sin donación</option>
          <option value="Gastos financieros sin donación">Gastos de financieros sin donación</option>
          <option value="Costo artículos producidos/comprados importaciones/internaciones">Costo artículos
            producidos/comprados importaciones/internaciones
          </option>
          <option value="Costo artículos producidos/comprados interno">Costo artículos producidos/comprados interno
          </option>
          <option value="Costos indirectos de fabricación">Costos indirectos de fabricación</option>
          <option value="Mano de obra">Mano de obra</option>
        </select>
      </div>
      <div class="form-group col-md-12 col-lg-12">

        <div class="form-group col-md-4 col-lg-2">
          <label for="">Otros impuestos:</label>
          <input type='number' class="form-control" step="any" (change)="setImpuesto('otros')" name="otros_impuestos"
                 [(ngModel)]="gasto.otros_impuestos"/>
        </div>
      </div>
        <div class="form-group col-md-12">
          <label for="">Observaciones:</label>
          <input type="text" class="form-control" name="nota" [(ngModel)]="gasto.nota" placeholder="Escriba aquí"/>
        </div>
      </div>
    }

    <div class="row mt-2">
      <h6>Detalles contable</h6>
      <div class="form-group col-lg-2">
        <label for="tipo_operacion">Tipo de operación:</label>
        <select name="tipo_operacion" class="form-select" [(ngModel)]="gasto.tipo_operacion">
          <option [ngValue]="null">Seleccione aquí</option>
          <option value="Gravada">Gravada</option>
          <option value="No Gravada">No Gravada</option>
          <option value="Excluido">Excluido</option>
          <option value="Mixta">Mixta</option>
        </select>
      </div>
      <div class="form-group col-lg-2">
        <label for="tipo_clasificacion">Clasificación:</label>
        <select name="tipo_clasificacion" class="form-select" [(ngModel)]="gasto.tipo_clasificacion">
          <option [ngValue]="null">Seleccione aquí</option>
          <option value="Costo">Costo</option>
          <option value="Gasto">Gasto</option>
        </select>
      </div>
      <div class="form-group col-lg-4">
        <label for="tipo_costo_gasto">Tipo:</label>
        <select name="tipo_costo_gasto" class="form-select" [(ngModel)]="gasto.tipo_costo_gasto">
          <option [ngValue]="null">Seleccione aquí</option>
          <option value="Gastos de venta sin donación">Gastos de venta sin donación</option>
          <option value="Gastos de administración sin donación">Gastos de administración sin donación</option>
          <option value="Gastos financieros sin donación">Gastos de financieros sin donación</option>
          <option value="Costo artículos producidos/gastodos importaciones/internaciones">Costo artículos
            producidos/gastodos importaciones/internaciones
          </option>
          <option value="Costo artículos producidos/gastodos interno">Costo artículos producidos/gastodos interno
          </option>
          <option value="Costos indirectos de fabricación">Costos indirectos de fabricación</option>
          <option value="Mano de obra">Mano de obra</option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <label for="tipo_sector">Sector:</label>
        <select name="tipo_sector" class="form-select" [(ngModel)]="gasto.tipo_sector">
          <option [ngValue]="null">Seleccione aquí</option>
          <option value="Industria">Industria</option>
          <option value="Comercio">Comercio</option>
          <option value="Agropecuaria">Agropecuaria</option>
          <option value="Servicios, profesiones, artes y oficios">Servicios profesiones, artes y oficios</option>
        </select>
      </div>
    </div>

  </div>

  @if (gasto.id) {
    <div class="card bg-white rounded p-3 mb-3" *ngIf="gasto.abonos?.length > 0 || gasto.estado == 'Pendiente'">
      <h5 class="card-title p-3">
        Recibos de pago
        <a *ngIf="gasto.saldo > 0" (click)="openAbono(mabono, gasto)" class="btn btn-default float-end">
          <i class="fas fa-fw fa-hand-holding-usd"></i> Agregar abono
        </a>
      </h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Forma de pago</th>
                <th>Estado</th>
                <th class="text-end">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="5" class="text-center" *ngIf="gasto.abonos?.length < 1 && !loading">
                  <span class="badge bg-primary">No tiene abonos agregados</span>
                </td>
                <td colspan="5" class="text-center" *ngIf="loading">
                  <span class="badge bg-primary">Cargando...</span>
                </td>
              </tr>
              <tr *ngFor="let abono of gasto.abonos; let i=index">
                <td>{{ abono.fecha | date:'dd/MM/yyyy' }}</td>
                <td>{{ abono.concepto }}</td>
                <td>{{ abono.forma_pago }} <small *ngIf="abono.detalle_banco" class="text-muted">({{ abono.detalle_banco }})</small></td>
                <td>
                  <select name="estado" class="form-select w-auto border-0" (change)="setEstado(abono)" [(ngModel)]="abono.estado" [ngClass]="{'bg-light-danger' : abono?.estado == 'Cancelado', 'bg-light-success' : abono?.estado == 'Confirmado'}">
                    <option value="Cancelado">Cancelado</option>
                    <option value="Confirmado">Confirmado</option>
                  </select>
                </td>
                <td class="text-end">{{ abono.total | currency:'USD':'symbol':'1.2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  }

  <div class="bg-white rounded p-3 mb-3">
    <div class="form-group col-sm-12 pt-2 pb-4">
      <button type="submit" [disabled]="saving" class="btn btn-primary float-end tcla-F8" tooltip="Procesar (F8)">
        @if (!saving) {
          <span>Procesar gasto  <img appLazyImage="assets/icons/arrow-right-stroke.png" class="icon2 ms-2"></span>
        }
        @if (saving) {
          <span>Procesando...</span>
        }
      </button>
    </div>
  </div>
</form>

<ng-template #mabono>
  <div class="modal-header d-block text-center">
    <h4 class="modal-title">Agregar abono</h4>
    <button type="button" class="btn-close" (click)="modalRef?.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-crear-abono-gasto [gasto]="gasto" (update)="loadAll()"></app-crear-abono-gasto>
  </div>
</ng-template>

<ng-template #jsonImportTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Importar Gasto desde JSON</h4>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="jsonFile" class="form-label">Seleccionar archivo JSON</label>
      <input type="file" class="form-control" id="jsonFile" (change)="handleFileInput($event)" accept=".json">
    </div>
    <div class="mb-3">
      <label class="form-label">O pegar contenido JSON</label>
      <textarea class="form-control" rows="10" [(ngModel)]="jsonContent" name="jsonContent"></textarea>
    </div>
    <div class="d-grid">
      <button type="button" [disabled]="processingJson || !jsonContent.trim()" class="btn btn-primary"
              (click)="processJsonData()">
        @if (!processingJson) {
          <span>Procesar</span>
        }
        @if (processingJson) {
          <span>Procesando...</span>
        }
      </button>
    </div>
  </div>
</ng-template>


