<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Compras</h2>
    @if (apiService.canCreateTest('compras.crear')) {
        <button routerLink="/compra/crear" tooltip="Crear compra (F4)" class="btn btn-default tcla-F4"><i class="fa fa-plus"></i> Añadir compra</button>
    }
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row mb-3">
        <div class="col">
            @if (compras?.total) {
                <span class="text-muted d-flex align-items-center gap-2">
                    Mostrando
                    <select name="paginate" class="form-select w-auto" (change)="filtrarCompras()" [(ngModel)]="filtros.paginate">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                     de {{ compras?.total + ' registros' }}
                </span>
            }
        </div>

        <div class="col">
            <div class="d-flex gap-2">
                <button tooltip="Descargar compras" (click)="openDescargar(mdescargar)" class="btn btn-default tcla-F6"><img appLazyImage="/assets/icons/download.png" class="icon"></button>
                <form class="d-flex input-group" name="form" (ngSubmit)="filtrarCompras()" autocomplete="off">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Buscar"
                        [(ngModel)]="filtros.buscador" (input)="onBuscadorInput()">
                </form>
                <button tooltip="Filtrar (F3)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F3"> <img appLazyImage="/assets/icons/filter.png" class="icon"> </button>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap gap-2 mb-3">
        <div class="d-flex gap-2 flex-wrap">
            <button class="tcla-F5 btn " tooltip="Actualizar (F5)" routerLinkActive="btn-primary" (click)="loadAll()" routerLink="/compras">Todas</button>
            <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/devoluciones/compras">Devoluciones</button>
            <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/compras/abonos">Abonos</button>
            <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/compras/recurrentes">Recurrentes</button>
        </div>
        <div class="ms-auto d-flex gap-2">
            <select name="estado" (change)="filtrarCompras()" [(ngModel)]="filtros.estado" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Anulada">Anulada</option>
                <option value="Consigna">Consigna</option>
                <option value="Pagada">Pagada</option>
            </select>
            <ng-select name="id_proveedor" (change)="filtrarCompras()" [(ngModel)]="filtros.id_proveedor"
                class="form-select p-0 border-0 bg-default w-auto" [clearable]="true" placeholder="Proveedor">
                @for (proveedor of proveedores; track proveedor.id) {
                    <ng-option [value]="proveedor.id">
                        {{ proveedor.tipo == 'Empresa' ? proveedor.nombre_empresa : proveedor.nombre_completo }}
                    </ng-option>
                }
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th (click)="setOrden('fecha')" [ngClass]="{'sorted-asc': filtros.orden == 'fecha' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'fecha' && filtros.direccion == 'desc'}" class="click">Fecha</th>
                        @if (isColumnEnabled('columna_proyecto')) {
                            <th (click)="setOrden('id_proyecto')" [ngClass]="{'sorted-asc': filtros.orden == 'id_proyecto' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'id_proyecto' && filtros.direccion == 'desc'}" class="click">Proyecto</th>
                        }

                        <th>Proveedor</th>
                        <th class="d-none d-md-table-cell">Documento</th>
                        <th class="d-none d-md-table-cell">Método de pago</th>
                        <th>Fecha pago</th>
                        <th>Estado</th>
                        <th (click)="setOrden('total')" [ngClass]="{'sorted-asc': filtros.orden == 'total' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'total' && filtros.direccion == 'desc'}" class="click text-right">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    @if (compras?.total < 1 && !loading) {
                        <tr>
                            <td colspan="10" class="text-center">
                                <span class="badge bg-primary">No tiene compras registradas</span>
                            </td>
                        </tr>
                    }
                    @if (loading) {
                        <tr>
                            <td colspan="10" class="text-center">
                                <span class="badge bg-primary">Cargando...</span>
                            </td>
                        </tr>
                    }

                    @for (compra of compras?.data; track compra.id) {
                        <tr class="animated fadeIn">

                        <td>{{compra.fecha | date:'dd/MM/yyyy'}}</td>
                        @if (isColumnEnabled('columna_proyecto')) {
                            <td>
                                <div class="d-flex flex-column align-items-center">
                                    @if (compra.nombre_proyecto) {
                                        <span class="badge bg-info">{{ compra.nombre_proyecto | truncate:20 }}</span>
                                    }
                                    <small class="text-muted d-block">{{compra.num_identificacion ?? ''}}</small>
                                </div>
                                @if (!compra.nombre_proyecto) {
                                    <span class="text-muted">-</span>
                                }
                            </td>
                        }
                        <td>{{compra.nombre_proveedor | truncate:30 }}@if (compra.id_proveedor) {<a class="float-end d-none"  tooltip="Ver información del proveedor" routerLink="/proveedor/editar/{{compra.id_proveedor}}"><i class="fa fa-edit"></i></a>}</td>
                        <td>{{compra.tipo_documento}} #{{compra.referencia}}</td>
                        <td><span title="{{ compra.detalle_banco }}">{{compra.forma_pago}}</span></td>
                        <td>{{compra.fecha_pago | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <span class="badge py-2 position-relative" style="font-size: 0.8rem;" [ngClass]="{'bg-warning' : compra?.estado == 'Pendiente', 'bg-danger' : compra?.estado == 'Anulada', 'bg-info' : compra?.estado == 'Consigna', 'bg-success' : compra?.estado == 'Pagada', 'bg-primary' : compra?.estado == 'Pre-compra'}">
                                {{ compra.estado }}
                                @if (apiService.auth_user().empresa.facturacion_electronica && compra.sello_mh) {
                                    <span title="Emitido a hacienda" style="position: absolute; top: -3px; right: -3px; font-size: 10px; color: blue;">
                                        ✅
                                    </span>
                                }
                            </span>
                        </td>
                        <td class="text-end">
                            <span *ngIf="compra.estado != 'Pendiente' && !compra.abonos_sum_total && !compra.devoluciones_sum_total">
                                {{compra.total | currency}}
                            </span>
                            <span *ngIf="compra.estado == 'Pendiente' || compra.abonos_sum_total > 0 || compra.devoluciones_sum_total > 0" class="click"
                                placement="left" [popover]="popTemplate" triggers="mouseenter:mouseleave">
                                {{compra.total | currency}}
                            </span>
                            <ng-template #popTemplate>
                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td>Total</td>
                                            <td class="text-end">{{ compra.total | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td>Abonos</td>
                                            <td class="text-end">{{ compra.abonos_sum_total | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td>Devoluciones</td>
                                            <td class="text-end">{{ compra.devoluciones_sum_total | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saldo</td>
                                            <td class="text-end">{{ getSaldo(compra) | currency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-template>

                        </td>
                        <td class="text-center">
                            <span class="btn" [popover]="accionesTemplate" [outsideClick]="true" tooltip="Acciones">
                                <i class="fa fa-ellipsis-vertical fa-fw"></i>
                            </span>
                            <ng-template #accionesTemplate>
                                <div class="list-group border-0">

                                    @if (apiService.auth_user().empresa.facturacion_electronica && compra.tipo_documento == 'Sujeto excluido' && compra.estado != 'Anulada' && !compra.sello_mh) {
                                        <a class="list-group-item list-group-item-action border-0 click" (click)="openDTE(mDTE, compra)" tooltip="Emitir DTE">
                                            <i class="fa fa-fw fa-file-invoice"></i> Emitir DTE
                                        </a>
                                    }
                                    @if (apiService.auth_user().empresa.facturacion_electronica && compra.tipo_documento == 'Sujeto excluido' && compra.sello_mh) {
                                        <a class="list-group-item list-group-item-action border-0 click" (click)="openDTE(mDTE, compra)" tooltip="Ver DTE">
                                            <i class="fa fa-fw fa-file-invoice"></i> Ver DTE
                                        </a>
                                    }

                                    @if (apiService.canEditTest('compras.editar')) {
                                        <a (click)="openModalEdit(mcompra, compra)" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-fw fa-edit"></i> Editar
                                        </a>
                                    }
                                    @if (compra.estado == 'Consigna' && apiService.canEditTest('compras.editar')) {
                                        <a routerLink="/compra/consigna/revisar/{{compra.id}}" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fas fa-fw fa-hand-holding-usd"></i> Revisar consigna
                                        </a>
                                    }
                                    @if (compra.estado == 'Pendiente' && apiService.canEditTest('compras.editar')) {
                                        <a (click)="openAbono(mabono, compra)" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fas fa-fw fa-hand-holding-usd"></i> Pagar compra
                                        </a>
                                    }
                                    @if (compra.estado != 'Anulada' && apiService.canEditTest('compras.editar')) {
                                        <a (click)="anularDTE(compra)" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-fw fa-ban"></i> Anular compra
                                        </a>
                                    }
                                    @if (compra.estado == 'Anulada' && apiService.canEditTest('compras.editar')) {
                                        <a (click)="setEstado(compra, 'Pagada')" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-fw fa-check"></i> Revertir anulación
                                        </a>
                                    }
                                    @if (compra.recurrente == 0 && apiService.canEditTest('compras.editar')) {
                                        <a (click)="setRecurrencia(compra)" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-fw fa-repeat"></i> Hacer recurrente
                                        </a>
                                    }
                                    <a routerLink="/compra/{{compra.id}}" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-magnifying-glass"></i> Detalles
                                    </a>
                                    <a (click)="imprimir(compra)" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-print"></i> Imprimir
                                    </a>
                                    @if (apiService.canEditTest('compras.editar')) {
                                        <a routerLink="/devolucion-compra/nueva" [queryParams]="{ id_compra: compra.id }" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-right-left"></i> Hacer devolucion
                                        </a>
                                    }
                                    @if (apiService.canEdit() && compra.tipo_documento == 'Crédito fiscal') {
                                        <a routerLink="/devolucion-compra/nueva" [queryParams]="{ id_compra: compra.id, tipo_documento: 'nota_credito'}" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-folder-minus"></i> Hacer nota de crédito
                                        </a>
                                    }
                                    @if (apiService.canEdit() && compra.tipo_documento == 'Crédito fiscal') {
                                        <a routerLink="/devolucion-compra/nueva" [queryParams]="{ id_compra: compra.id, tipo_documento: 'nota_debito'}" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-folder-plus"></i> Hacer nota de débito
                                        </a>
                                    }
                                    @if (contabilidadHabilitada) {
                                        <a (click)="generarPartidaContable(compra)" class="list-group-item list-group-item-action border-0 click">
                                          <i class="fa fa-edit"></i> Generar partida contable
                                        </a>
                                    }
                                </div>
                            </ng-template>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (compras && compras.last_page && compras.last_page > 1) {
            <div class="col-12">
                <app-pagination [items]="compras" (setPagination)="setPagination($event)"></app-pagination>
            </div>
        }
    </div>
</section>

<ng-template #mdescargar>
  <div class="modal-header">
    <h4 class="modal-title text-center">Descargar registro de compras</h4>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-notificaciones-container></app-notificaciones-container>
        <div class="row">
            <div class="d-grid mt-4">
                <p>Descargar los detalles de compras por producto.</p>
                <button [disabled]="saving" (click)="descargarDetalles()" class="btn btn-primary btn-block">
                    @if (!downloadingDetalles) {
                        <span>Descargar Detalles</span>
                    }
                    @if (downloadingDetalles) {
                        <span>Descargando...</span>
                    }
                </button>
            </div>
            <div class="d-grid my-4">
                <p>Descargar los detalles de compras totales.</p>
                <button [disabled]="saving" (click)="descargarCompras()" class="btn btn-primary btn-block">
                    @if (!downloadingCompras) {
                        <span>Descargar Compras</span>
                    }
                    @if (downloadingCompras) {
                        <span>Descargando...</span>
                    }
                </button>
            </div>
            <div class="d-grid my-4">
                <p>Descarga rentabilidad por producto</p>
                <button [disabled]="saving" (click)="abrirModalFiltrosRentabilidad(mfiltrosAcumulado)" class="btn btn-primary btn-block">
                  Descargar rentabilidad por producto
                </button>
            </div>
        </div>
  </div>
</ng-template>

<ng-template #mabono>
    <div class="modal-header d-block text-center">
        <h5 class="modal-title mb-0">Recibo de pago </h5>
    <button type="button" class="btn-close" (click)="modalRef.hide(); alertService.modal = false;" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <app-crear-abono-compra [compra]="compra" (update)="filtrarCompras()"></app-crear-abono-compra>
    </div>
</ng-template>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="filtrarCompras()">
        <div class="row">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtros.inicio" [(ngModel)]="filtros.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtros.fin" [(ngModel)]="filtros.fin"/>
            </div>

            <div class="form-group col-md-12">
                <label for="filtros.proveedor">Proveedor:</label>
                <ng-select [(ngModel)]="filtros.id_proveedor" class="form-select p-0" name="filtros.id_proveedor"
                    [clearable]="true" placeholder="Todos los proveedores">
                    @for (proveedor of proveedores; track proveedor.id) {
                        <ng-option [value]="proveedor.id">
                            {{ proveedor.tipo == 'Empresa' ? proveedor.nombre_empresa : proveedor.nombre_completo }}
                        </ng-option>
                    }
                </ng-select>
            </div>
            <div class="form-group col-md-6">
                <label for="filtros.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtros.id_sucursal" class="form-select" name="filtros.id_sucursal">
                    <option value="">Todos</option>
                    @for (sucursal of sucursales; track sucursal.id) {
                        <option [value]="sucursal.id">
                            {{ sucursal.nombre }}
                        </option>
                    }
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.forma_pago">Método de pago:</label>
                <select [(ngModel)]="filtros.forma_pago" class="form-control form-select" name="filtros.forma_pago">
                    <option value="">Todos</option>
                    @for (formaPago of formaPagos; track formaPago.id) {
                        <option [value]="formaPago.nombre">
                            {{ formaPago.nombre }}
                        </option>
                    }
                    <option value="Multiple">Multiple</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="filtros.id_usuario">Usuario:</label>
                <ng-select [(ngModel)]="filtros.id_usuario" class="form-select p-0" name="filtros.id_usuario">
                    <ng-option value="">Todos</ng-option>
                    @for (usuario of usuarios; track usuario.id) {
                        <ng-option [value]="usuario.id">
                            {{ usuario.name }}
                        </ng-option>
                    }
                </ng-select>
            </div>
            @if (apiService.auth_user().empresa.modulo_proyectos) {
                <div class="form-group col-md-6">
                    <label for="id_proyecto">Proyecto:</label>
                    <ng-select [(ngModel)]="filtros.id_proyecto" class="form-select p-0" name="id_proyecto">
                        <ng-option value="">Todos</ng-option>
                        @for (proyecto of proyectos; track proyecto.id) {
                            <ng-option [value]="proyecto.id">
                                {{ proyecto.nombre }}
                            </ng-option>
                        }
                    </ng-select>
                </div>
            }
            @if (apiService.auth_user().empresa.facturacion_electronica) {
                <div class="form-group col-sm-6">
                    <label for="filtro.dte">Facturación electrónica (DTE):</label>
                    <select name="dts" class="form-select" [(ngModel)]="filtros.dte">
                        <option value="">Todos</option>
                        <option value="0">Sin emitir</option>
                        <option value="1">Emitidos</option>
                    </select>
                </div>
            }

            @if (isColumnEnabled('columna_proyecto')) {
                <div class="form-group col-sm-6">
                    <label for="filtro.num_identificacion">Num. Identificación:</label>
                    <ng-select [(ngModel)]="filtros.num_identificacion" class="form-select p-0" name="num_identificacion">
                        <ng-option value="">Todos</ng-option>
                        @for (numIds of numeros_ids; track numIds.num_identificacion) {
                            <ng-option [value]="numIds.num_identificacion">
                                {{ numIds.num_identificacion }}
                            </ng-option>
                        }
                    </ng-select>
                </div>
            }
        </div>
        <div class="d-grid mt-4">
            <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                @if (!loading) {
                    <span>Filtrar</span>
                }
                @if (loading) {
                    <span>Filtrando...</span>
                }
            </button>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mcompra>
  <div class="modal-header">
    <h4 class="modal-title text-center">Editar compra</h4>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="fecha">Fecha:</label>
                <input type="date" [(ngModel)]="compra.fecha" name="fecha" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="forma_pago">Método de pago:</label>
                <select name="forma_pago" [(ngModel)]="compra.forma_pago" (change)="cambioMetodoDePagoCompraModal()" class="form-select">
                    @for (forma of formaPagos; track forma.id) {
                        <option [value]="forma.nombre">{{ forma.nombre }}</option>
                    }
                </select>
            </div>
            @if (compra.forma_pago && compra.forma_pago !== 'Efectivo' && compra.forma_pago !== 'Wompi') {
                <div class="form-group col-md-6">
                    <label for="detalle_banco">Bancos</label>
                    <select name="detalle_banco" [(ngModel)]="compra.detalle_banco" class="form-select">
                        <option value="">Seleccione aquí</option>
                        @for (banco of bancos; track banco.id) {
                            <option [value]="banco.nombre_banco">{{ banco.nombre_banco }}{{ banco.numero ? ' — ' + banco.numero : '' }}</option>
                        }
                    </select>
                </div>
            }
            <div class="form-group col-md-6">
                <label for="tipo_documento">Documento</label>
                <select name="tipo_documento" [(ngModel)]="compra.tipo_documento" class="form-select">
                    @for (documento of documentos; track documento.id) {
                        <option [value]="documento.nombre">{{ documento.nombre }}</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="referencia">Referencia:</label>
                <input type="number" class="form-control" [(ngModel)]="compra.referencia" name="referencia">
            </div>
            <div class="form-group col-md-6" *ngIf="compra.cobrar_percepcion || compra.percepcion > 0">
                <label for="sello_mh">Sello de Recepción</label>
                <input type="text" class="form-control" [(ngModel)]="compra.sello_mh" name="sello_mh" placeholder="Sello de recepción">
            </div>
            <div class="form-group col-md-6">
                <label for="referencia">Estado:</label>
                <select name="estado"[(ngModel)]="compra.estado" class="form-select">
                    <option value="">Estado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Anulada">Anulada</option>
                    <option value="Pagada">Pagada</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="id_usuario">Usuario:</label>
                <ng-select [(ngModel)]="compra.id_usuario" class="form-select p-0" name="id_usuario">
                    @for (usuario of usuarios; track usuario.id) {
                        <ng-option [value]="usuario.id">
                            {{ usuario.name }}
                        </ng-option>
                    }
                </ng-select>
            </div>
            <div class="form-group col-sm-6">
                <label for="tipo_clasificacion">Clasificación:</label>
                <select name="tipo_clasificacion" class="form-select" [(ngModel)]="compra.tipo_clasificacion">
                    <option [ngValue]="null">Seleccione aquí</option>
                    <option value="Costo">Costo</option>
                    <option value="Gasto">Gasto</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="tipo_operacion">Tipo de operación:</label>
                <select name="tipo_operacion" class="form-select" [(ngModel)]="compra.tipo_operacion">
                    <option [ngValue]="null">Seleccione aquí</option>
                    <option value="Gravada">Gravada</option>
                    <option value="No Gravada">No Gravada</option>
                    <option value="Excluido">Excluido</option>
                    <option value="Mixta">Mixta</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="tipo_costo_gasto">Tipo:</label>
                <select name="tipo_costo_gasto" class="form-select" [(ngModel)]="compra.tipo_costo_gasto">
                    <option [ngValue]="null">Seleccione aquí</option>
                    <option value="Gastos de venta sin donación">Gastos de venta sin donación</option>
                    <option value="Gastos de administración sin donación">Gastos de administración sin donación</option>
                    <option value="Gastos financieros sin donación">Gastos de financieros sin donación</option>
                    <option value="Costo artículos producidos/comprados importaciones/internaciones">Costo artículos producidos/comprados importaciones/internaciones</option>
                    <option value="Costo artículos producidos/comprados interno">Costo artículos producidos/comprados interno</option>
                    <option value="Costos indirectos de fabricación">Costos indirectos de fabricación</option>
                    <option value="Mano de obra">Mano de obra</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="tipo_sector">Sector:</label>
                <select name="tipo_sector" class="form-select" [(ngModel)]="compra.tipo_sector">
                    <option [ngValue]="null">Seleccione aquí</option>
                    <option value="Industria">Industria</option>
                    <option value="Comercio">Comercio</option>
                    <option value="Agropecuaria">Agropecuaria</option>
                    <option value="Servicios, profesiones, artes y oficios">Servicios profesiones, artes y oficios</option>
                </select>
            </div>
            @if (apiService.auth_user().empresa.modulo_proyectos) {
                <div class="form-group col-md-6">
                    <label for="id_proyecto">Proyecto:</label>
                    <ng-select [(ngModel)]="compra.id_proyecto" class="form-select p-0" name="id_proyecto">
                        <ng-option value="">Todos</ng-option>
                        @for (proyecto of proyectos; track proyecto.id) {
                            <ng-option [value]="proyecto.id">
                                {{ proyecto.nombre }}
                            </ng-option>
                        }
                    </ng-select>
                </div>
            }
            @if (contabilidadHabilitada) {
                <div class="form-group col-md-6 without-label">
                    <div class="form-switch border rounded">
                        <label for="es_retaceo">Es para retaceo</label>
                        <input
                            class="form-check-input float-end"
                            type="checkbox"
                            role="switch"
                            [(ngModel)]="compra.es_retaceo"
                            name="es_retaceo"
                            id="es_retaceo">
                    </div>
                </div>
                @if (compra.es_retaceo) {
                    <div class="form-group col-md-12">
                        <div class="alert alert-info py-2 px-3 mt-2 mb-0">
                            <i class="fa fa-info-circle me-2"></i>
                            <small>Las compras marcadas como "para retaceo" aparecerán automáticamente en la selección de gastos al crear un retaceo.</small>
                        </div>
                    </div>
                }
            }
            @if (isColumnEnabled('columna_proyecto')) {
                <div class="form-group col-md-6 col-lg-6">
                    <label for="num_identificacion">Número identificación:</label>
                    <input
                    type="text"
                    [(ngModel)]="compra.num_identificacion"
                    name="num_identificacion"
                    class="form-control"
                    id="num_identificacion"
                    placeholder="Número de identificación">
                </div>
            }
            <div class="form-group col-md-12">
                <label for="observaciones">Observaciones:</label>
                <textarea class="form-control" [(ngModel)]="compra.observaciones" name="observaciones" cols="30" rows="3"></textarea>
            </div>
            <div class="d-grid mt-4">
                <button [disabled]="saving" class="btn btn-primary btn-block">
                    @if (!saving) {
                        <span>Guardar</span>
                    }
                    @if (saving) {
                        <span>Guardando...</span>
                    }
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mDTE>
    <div class="modal-header d-block text-center">
        <h5 class="modal-title mb-0">DTE </h5>
        <button type="button" class="btn-close" (click)="modalRef.hide(); alertService.modal = false;" aria-label="Close"></button>
    </div>
  <div class="modal-body">
        <app-notificaciones-container></app-notificaciones-container>
        <div class="d-grid">

            @if (compra.sello_mh) {
                <button (click)="imprimirDTEJSON(compra)" class="mb-3 btn btn-primary btn-block">
                    Ver JSON
                </button>
            }

            @if (compra.sello_mh) {
                <button (click)="imprimirDTEPDF(compra)" class="mb-3 btn btn-primary btn-block">
                    Ver PDF
                </button>
            }

            @if (compra.sello_mh) {
                <button [disabled]="sending" (click)="enviarDTE()" class="mb-3 btn btn-primary btn-block">
                    @if (!sending) {
                        <span>Enviar por correo</span>
                    }
                    @if (sending) {
                        <span>Enviando...</span>
                    }
                </button>
            }

            @if (!compra.sello_mh) {
                <button [disabled]="saving" (click)="emitirDTE()" class="mb-3 btn btn-primary btn-block">
                    @if (!saving) {
                        <span>Emitir</span>
                    }
                    @if (saving) {
                        <span>Emitiendo...</span>
                    }
                </button>
            }

        </div>
  </div>
</ng-template>

<ng-template #mfiltrosAcumulado>
    <div class="modal-header">
      <h4 class="modal-title text-center">Filtros para Reporte de rentabilidad</h4>
      <button type="button" class="btn-close" (click)="modalRefRentabilidad.hide()" aria-label="Close"></button>
      <!-- <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button> -->
    </div>
    <div class="modal-body">
      <app-notificaciones-container></app-notificaciones-container>

      <form (ngSubmit)="descargarReporteRentabilidad()">
        <div class="row">
          <!-- Fechas -->
          <div class="form-group col-sm-6">
            <label>Del:</label>
            <input type="date" class="form-control" [(ngModel)]="filtrosRentabilidad.inicio" name="inicio">
          </div>
          <div class="form-group col-sm-6">
            <label>Al:</label>
            <input type="date" class="form-control" [(ngModel)]="filtrosRentabilidad.fin" name="fin">
          </div>

          <!-- Sucursales -->
          <div class="form-group col-12 mt-3">
            <label>Sucursales:</label>
            <ng-select [multiple]="true"
                      [items]="sucursales"
                      [(ngModel)]="filtrosRentabilidad.sucursales"
                      bindLabel="nombre"
                      bindValue="id"
                      placeholder="Seleccione sucursales"
                      name="sucursales">
            </ng-select>
          </div>
        </div>

        <div class="d-grid mt-4">
          <button type="submit" class="btn btn-primary" [disabled]="downloadingRentabilidad">
            @if (!downloadingRentabilidad) {
                <span>Descargar Reporte</span>
            }
            @if (downloadingRentabilidad) {
                <span>Descargando...</span>
            }
          </button>
        </div>
      </form>
    </div>
  </ng-template>
