<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Canales</h2>
    <button *ngIf="apiService.canCreateTest('ventas.canales_venta.crear')" (click)="openModal(mdetalle, {})"  tooltip="Crear canal (F4)" class="btn btn-default tcla-F4"><i class="fa fa-plus"></i> Añadir canal</button>
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            <span class="text-muted" *ngIf="canales?.lenght">
                Mostrando {{ canales?.lenght + ' registros' }}
            </span>
        </div>

        <div class="col-md-6 mb-3">
            <div class="d-flex gap-2">
                <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtro.nombre">
                <!-- <button tooltip="Filtrar (F3)" class="btn btn-default tcla-F3"><i class="fa fa-filter"></i></button> -->
            </div>
        </div>
    </div>

    <div class="d-flex mb-3">
        <div class="col d-flex gap-2">
            <button class="btn btn-primary tcla-F5" tooltip="Actualizar (F5)" (click)="loadAll()">Todos</button>
            <!-- <button class="btn btn-default">Traslados</button> -->
        </div>
        <div class="col d-flex gap-2 justify-content-end">
            <select name="estado"  [(ngModel)]="filtro.estado" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <!-- <th>Propina</th> -->
                        <!-- <th>Envios</th> -->
                        <th *ngIf="apiService.canEditTest('ventas.canales_venta.editar')" class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="canales?.lenght < 1 && !loading">
                            <span class="badge bg-primary">No tiene canales registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr *ngFor="let canal of canales | filter:['nombre']:filtro.nombre | filter:'enable':filtro.estado">
                        <td>{{canal.nombre }}</td>
                        <td>{{canal.descripcion}}</td>
                        <td>
                            <select name="enable" [(ngModel)]="canal.enable" class="form-select w-auto border-0" (change)="setEstado(canal)" [ngClass]="{'bg-light-danger' : canal.enable == 0, 'bg-light-success' : canal.enable == 1}">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </td>
                        <!-- <td class="text-center">
                            {{canal.cobra_propina}}
                        </td>
                        <td class="text-center">
                            {{canal.envios}}
                        </td> -->
                        <td class="text-center">
                            <span *ngIf="apiService.canEditTest('ventas.canales_venta.editar')" class="btn" [popover]="accionesTemplate" [outsideClick]="true" tooltip="Acciones">
                                <i class="fa fa-ellipsis-vertical fa-fw"></i>
                            </span>
                            <ng-template #accionesTemplate>
                                <div class="d-flex flex-column align-items-start">
                                    <a (click)="openModal(mdetalle, canal)" class="btn">
                                        <i class="fa fa-fw fa-edit"></i> Editar
                                    </a>
                                </div>
                            </ng-template>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12" *ngIf="canales?.last_page > 1">
            <app-pagination [items]="canales" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</section>


<ng-template #mdetalle>
  <div class="modal-header">
    <div class="modal-title">
        <h2>Canal de venta</h2>
        <!-- <p>Si marca cobrar propina, todas las ventas realizadas por este canal se les cargará el 10%.</p> -->
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide(); this.alertService.modal = false;" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-notificaciones-container></app-notificaciones-container>
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="canal.nombre">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="canal.nombre" name="canal.nombre">
            </div>
            <!-- <div class="form-group col-lg-4 mt-lg-4">
                <div class="form-switch bg-light-info rounded">
                  <label for="cobrar_propina">Propina</label>
                  <input class="form-check-input ms-3" type="checkbox" role="switch" [value]="Si" [(ngModel)]="canal.cobra_propina" name="canal.cobrar_propina">
                </div>
            </div>
            <div class="form-group col-lg-4 mt-lg-4">
                <div class="form-switch bg-light-info rounded">
                  <label for="envios">Envios</label>
                  <input class="form-check-input ms-3" type="checkbox" role="switch" [value]="Si" [(ngModel)]="canal.envios" name="canal.envios">
                </div>
            </div> -->
            <div class="form-group col-12">
                <label for="canal.descripcion">Descripción</label>
                <textarea name="canal.descripcion" class="form-control" cols="30" rows="3" [(ngModel)]="canal.descripcion"></textarea>
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                <span *ngIf="!loading">Añadir</span>
                <span *ngIf="loading">Añadiendo...</span>
            </button>
        </div>
    </form>
  </div>
</ng-template>
