<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Ventas recurrentes</h2>
    <button routerLink="/venta/crear" tooltip="Crear venta (F4)" class="btn btn-default tcla-F4"><i class="fa fa-plus"></i> Añadir venta</button>
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            @if (ventas?.total) {
                <span class="text-muted">
                    Mostrando {{ ventas?.to }} de {{ ventas?.total + ' registros' }}
                </span>
            }
        </div>

        <div class="col-md-6 mb-3">
            <div class="d-flex gap-2">
                <button [disabled]="downloading" tooltip="Descargar ventas recurrentes" (click)="descargar()" class="btn btn-default tcla-F6">
                    <img appLazyImage="/assets/icons/download.png" class="icon">
                </button>
                <form class="d-flex input-group" name="form" (ngSubmit)="filtrarVentas()" autocomplete="off">
                    <input type="text" name="buscador" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtros.buscador">
                </form>
                <button tooltip="Filtrar (F3)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F3"> <img appLazyImage="/assets/icons/filter.png" class="icon"> </button>
                <button tooltip="Limpiar filtros" (click)="limpiarFiltros()" class="btn btn-default">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap gap-2 mb-3">
        <div class="d-flex gap-2 flex-wrap">
            <button class="btn" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}"routerLink="/ventas">Todos</button>
            <button class="btn" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/devoluciones/ventas">Devoluciones</button>
            <button class="btn" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/ventas/abonos">Abonos</button>
            <button class="tcla-F5 btn" tooltip="Actualizar (F5)" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/ventas/recurrentes" (click)="loadAll()" >Recurrentes</button>
        </div>
        <div class="ms-auto d-flex gap-2">
            <select name="estado" (change)="filtrarVentas()" [(ngModel)]="filtros.estado" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Anulada">Anulada</option>
                <option value="Consigna">Consigna</option>
                <option value="Pagada">Pagada</option>
            </select>
            <ng-select name="id_sucursal" (change)="filtrarVentas()" [(ngModel)]="filtros.id_sucursal" class="form-select p-0 border-0 bg-default w-auto">
                <ng-option value="">Sucursal</ng-option>
                @for (sucursal of sucursales; track sucursal.id) {
                    <ng-option [value]="sucursal.id">
                        {{sucursal.nombre}}
                    </ng-option>
                }
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th (click)="setOrden('fecha')" [ngClass]="{'sorted-asc': filtros.orden == 'fecha' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'fecha' && filtros.direccion == 'desc'}" class="click">Fecha</th>
                        <th>Cliente</th>
                        <th class="d-none d-md-table-cell">Documento</th>
                        <!-- <th class="d-none d-md-table-cell">Método de pago</th> -->
                        <!-- <th (click)="setOrden('fecha_pago')" [ngClass]="{'sorted-asc': filtros.orden == 'fecha_pago' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'fecha_pago' && filtros.direccion == 'desc'}" class="click">Fecha pago</th> -->
                        <th>Estado</th>
                        <th (click)="setOrden('total')" [ngClass]="{'sorted-asc': filtros.orden == 'total' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'total' && filtros.direccion == 'desc'}" class="click text-right">Total</th>
                        <th class="text-center">Más</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ventas?.total < 1 && !loading) {
                        <tr>
                            <td colspan="10" class="text-center">
                                <span class="badge bg-primary">No tiene ventas recurrentes</span>
                            </td>
                        </tr>
                    }
                    @if (loading) {
                        <tr>
                            <td colspan="10" class="text-center">
                                <span class="badge bg-primary">Cargando...</span>
                            </td>
                        </tr>
                    }

                    @for (venta of ventas?.data; track venta.id) {
                        <tr>

                        <td>{{venta.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{venta.nombre_cliente | truncate:30 }}@if (venta.id_cliente && venta.id_cliente != 1) {<a class="float-end d-none"  tooltip="Ver información del cliente" routerLink="/cliente/editar/{{venta.id_cliente}}"><i class="fa fa-edit"></i></a>}</td>
                        <td>{{venta.nombre_documento}} #{{venta.correlativo}}</td>
                        <!-- <td>{{venta.forma_pago}}</td> -->
                        <!-- <td>{{venta.fecha_pago | date:'dd/MM/yyyy'}}</td> -->
                        <td>
                            <span class="badge py-2" style="font-size: 0.8rem;" [ngClass]="{'bg-warning' : venta?.estado == 'Pendiente', 'bg-danger' : venta?.estado == 'Anulada', 'bg-info' : venta?.estado == 'Consigna', 'bg-success' : venta?.estado == 'Pagada', 'bg-primary' : venta?.estado == 'Pre-venta'}">{{ venta.estado }}</span>
                        </td>
                        <td class="text-right">{{venta.total | currency}}</td>
                        <td>
                            <div class="d-flex gap-2 justify-content-center">
                                <a routerLink="/venta/crear" tooltip="Generar venta" [queryParams]="{ recurrente:1, id_venta: venta.id }" class="btn btn-default">
                                    <i class="fa fa-fw fa-clone"></i>
                                </a>
                                <a (click)="setRecurrencia(venta)" tooltip="Marcar como no recurrente" class="btn btn-default">
                                    <i class="fa fa-fw fa-ban"></i>
                                </a>
                            </div>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (ventas && ventas.last_page && ventas.last_page > 1) {
            <div class="col-12">
                <app-pagination [items]="ventas" (setPagination)="setPagination($event)"></app-pagination>
            </div>
        }
    </div>
</section>

<ng-template #mabono>
    <div class="modal-header d-block text-center">
        <h5 class="modal-title mb-0">Recibo de pago </h5>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <app-crear-abono-venta [venta]="venta" (update)="filtrarVentas()"></app-crear-abono-venta>
    </div>
</ng-template>

<ng-template #mdescargar>
  <div class="modal-header">
    <h4 class="modal-title text-center">Descargar registro de ventas</h4>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
        <div class="row">
            <div class="d-grid mt-4">
                <button [disabled]="saving" (click)="descargarDetalles()" class="btn btn-primary btn-block">
                    @if (!saving) {
                        <span>Descargar los detalles de ventas</span>
                    }
                    @if (saving) {
                        <span>Descargando...</span>
                    }
                </button>
            </div>
            <div class="d-grid mt-4">
                <button [disabled]="saving" (click)="descargarVentas()" class="btn btn-primary btn-block">
                    @if (!saving) {
                        <span>Descargar las ventas</span>
                    }
                    @if (saving) {
                        <span>Descargando...</span>
                    }
                </button>
            </div>
        </div>
  </div>
</ng-template>

<ng-template #mventa>
  <div class="modal-header">
    <h4 class="modal-title text-center">Editar venta</h4>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="fecha">Fecha:</label>
                <input type="date" [(ngModel)]="venta.fecha" name="fecha" class="form-control" focus="true">
            </div>
            <div class="form-group col-md-6">
                <label for="forma_pago">Método de pago:</label>
                <select name="forma_pago" [(ngModel)]="venta.forma_pago" class="form-select">
                    @for (forma of formaPagos; track forma.id) {
                        <option [value]="forma.nombre">{{ forma.nombre }}</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="id_documento">Documento:</label>
                <select name="id_documento" [(ngModel)]="venta.id_documento" (change)="setDocumento($event.target.value)" class="form-select">
                    @for (documento of documentos; track documento.id) {
                        <option [value]="documento.id">{{ documento.nombre }}</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="correlativo">Correlativo:</label><br>
                <input type="number" class="form-control" [(ngModel)]="venta.correlativo" name="correlativo">
            </div>
            <div class="d-grid mt-4">
                <button [disabled]="saving" class="btn btn-primary btn-block">
                    @if (!saving) {
                        <span>Guardar</span>
                    }
                    @if (saving) {
                        <span>Guardando...</span>
                    }
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center">Filtrar</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="filtrarVentas()">
        <div class="row">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtros.inicio" [(ngModel)]="filtros.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtros.fin" [(ngModel)]="filtros.fin"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.estado">Estado:</label>
                <select [(ngModel)]="filtros.estado" class="form-control form-select" name="filtros.estado">
                    <option value="">Todos</option>
                    <option value="Pagada">Pagadas</option>
                    <option value="Pendiente">Pendientes</option>
                    <option value="Anulada">Anuladas</option>
                    <option value="Consigna">Consignas</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.forma_pago">Forma de pago:</label>
                <select [(ngModel)]="filtros.forma_pago" class="form-control form-select" name="filtros.forma_pago">
                    <option value="">Todos</option>
                    @for (formaPago of formaPagos; track formaPago.id) {
                        <option [ngValue]="formaPago.nombre">
                            {{ formaPago.nombre }}
                        </option>
                    }
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.id_documento">Documento:</label>
                <select [(ngModel)]="filtros.id_documento" class="form-control form-select" name="filtros.id_documento">
                    <option value="">Todos</option>
                    @for (documento of documentos; track documento.id) {
                        <option [ngValue]="documento.id">
                            {{ documento.nombre }}
                        </option>
                    }
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.id_canal">Canal:</label>
                <select [(ngModel)]="filtros.id_canal" class="form-control form-select" name="filtros.id_canal">
                    <option value="">Todos</option>
                    @for (canal of canales; track canal.id) {
                        <option [ngValue]="canal.id">
                            {{ canal.nombre }}
                        </option>
                    }
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtros.id_sucursal" class="form-control form-select" name="filtros.id_sucursal">
                    <option value="">Todos</option>
                    @for (sucursal of sucursales; track sucursal.id) {
                        <option [ngValue]="sucursal.id">
                            {{ sucursal.nombre }}
                        </option>
                    }
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.id_cliente">Cliente:</label>
                <ng-select name="id_cliente" [(ngModel)]="filtros.id_cliente" class="form-select p-0">
                    <ng-option value="">Todos</ng-option>
                    @for (cliente of clientes; track cliente.id) {
                        <ng-option [value]="cliente.id">
                            {{ cliente.tipo == 'Empresa' ? cliente.nombre_empresa : cliente.nombre_completo }}
                        </ng-option>
                    }
                </ng-select>
            </div>

        </div>

        <div class="d-grid mt-3">
            <button type="submit" [disabled]="loading" class="btn btn-primary">
                @if (!loading) {
                    <span>Filtrar</span>
                }
                @if (loading) {
                    <span>Filtrando...</span>
                }
            </button>
        </div>
    </form>
  </div>
</ng-template>
