<nav class="w-100 shadow-sm fixed-top px-2 px-md-5 bg-white" style="height: 65px;">
  <div class="container-fluid d-flex justify-content-between">
    <div class="d-flex justify-content-between align-items-center px-0">
        <button class="btn btn-link text-decoration-none d-flex d-md-none justify-content-end toggle" type="button" (click)="toggleSidebar()">
            <img src="/assets/icons/sidebar.png">
        </button>
    </div>
    <ul class="d-flex mt-3">
        <ul class="list-unstyled ps-0 d-inline-flex">
<!--             <li>
                <a routerLink="/ayuda" class="btn d-inline-flex align-items-center text-decoration-none rounded px-2" tooltip="Ayuda">
                    <i class="fa fa-life-ring me-3"></i>
                </a>
            </li> -->

            <li>
                <a [routerLink]="['/notificaciones']" class="btn d-inline-flex align-items-center text-decoration-none rounded px-2 position-relative">
                    <img src="/assets/icons/bell.png" class="icon me-2">
                    <span style="position: absolute;right: 10px;line-height: 10px;font-size: 8px;top: 1px;" class="badge bg-primary">{{ notificaciones.total ? notificaciones.total : 0 }}</span>
                </a>
            </li>
            <!-- <app-theme></app-theme> -->
          <!--   <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/login']" tooltip="Cerrar sesión" [adaptivePosition]="false" placement="right" class="btn d-inline-flex align-items-center text-decoration-none py-1">
                    <img src="/assets/icons/log-out.png" class="icon me-2">
                </a>
            </li> -->
            <li class="icons nav-item dropdown ps-3">

                <a class="nav-link dropdown-toggle user-img c-pointer-x px-0" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                    <img src="{{ apiService.baseUrl + '/img/' + usuario.avatar }}" height="30" width="30" class="img-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-end" style="margin-top: 54px; min-width: 210px;">
                    <li class="dropdown-item click user-header text-center">
                        <img src="{{ apiService.baseUrl + '/img/' + usuario.avatar }}" class="img-circle" alt="User Image" width="40px">
                        <p>
                          {{ usuario.name }} <br>
                          <small>{{rol }}</small><br>
                          <small>{{usuario.nombre_sucursal }}</small>
                        </p>
                    </li>
                    <li *ngIf="apiService.auth_user().tipo == 'Administrador'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/usuarios']" tooltip="Usuarios" [adaptivePosition]="false" placement="right" class="dropdown-item click link-body-emphasis d-inline-flex text-decoration-none"><img src="/assets/icons/user.png" class="icon me-2">Usuarios</a></li>
                    <li *ngIf="apiService.auth_user().tipo == 'Administrador'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/sucursales']" tooltip="Sucursales" [adaptivePosition]="false" placement="right" class="dropdown-item click link-body-emphasis d-inline-flex text-decoration-none"><img src="/assets/icons/home.png" class="icon me-2">Sucursales</a></li>
                    <li *ngIf="apiService.auth_user().tipo == 'Administrador'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/suscripcion']" tooltip="Mi suscripción" [adaptivePosition]="false" placement="right" class="dropdown-item click link-body-emphasis d-inline-flex text-decoration-none"><img src="/assets/icons/star.png" class="icon me-2">Mi suscripción</a></li>
                    <li *ngIf="apiService.auth_user().tipo == 'Administrador'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/mi-cuenta']" tooltip="Mi cuenta" [adaptivePosition]="false" placement="right" class="dropdown-item click link-body-emphasis d-inline-flex text-decoration-none"><img src="/assets/icons/settings.png" class="icon me-2">Mi cuenta</a></li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/login']" tooltip="Cerrar sesión" [adaptivePosition]="false" placement="right" class="dropdown-item click link-body-emphasis d-inline-flex text-decoration-none"><img src="/assets/icons/log-out.png" class="icon me-2">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>


    </ul>
  </div>
</nav>


