<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Usuario <small class="text-muted p-2"> Detalle</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/usuarios">Usuarios</a></li>
            <li class="breadcrumb-item active">Usuario</li>
        </ol>
    </div>
</div>

<form name="form" (ngSubmit)="onSubmit()">
<section class="card">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <figure style="min-height: 100px;" class="img-thumbnail file-upload d-flex justify-content-center align-items-center" tooltip="Agregar">
                    @if (!usuario.avatar && !preview) {
                      <i class="fa fa-image fa-2x text-muted"></i>
                    }
                    @if (usuario.avatar && !preview) {
                      <img [appLazyImage]="apiService.baseUrl + '/img/' + usuario.avatar" height="100">
                    }
                    @if (url_img_preview && preview) {
                      <img src="{{ url_img_preview }}" height="100">
                    }
                    <input type="file" name="img" (change)="setFile($event)" accept="image/png, image/jpeg, image/jpg">
                </figure>
            </div>
        </div>
        <div class="row">
            <h5 class="my-3">Información</h5>   
                <div class="form-group col-md-4 col-lg-3">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario.name" name="nombre" placeholder="Nombre" focus="true">
                </div>
                <!-- <div class="form-group col-md-4 col-lg-3">
                    <label for="nombre">Correo:</label>
                    <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" placeholder="Correo">
                </div> -->
                <!-- <div class="form-group col-md-4 col-lg-3" *ngIf="apiService.auth_user().tipo == 'Administrador' && usuario.id != 1">
                    <label for="tipo">Tipo:</label>
                    <select name="tipo" [(ngModel)]="usuario.tipo" class="form-control form-select">
                    	<option value="Administrador">Administrador</option>
                        <option value="Supervisor">Supervisor</option>
                    	<option value="Vendedor">Vendedor</option>
                        <option value="Cajero">Cajero</option>
                    </select>
                </div> -->

                @if (apiService.validateRole('admin',true) || apiService.validateRole('super_admin',true)) {
                  <div class="form-group col-md-4 col-lg-3">
                    <label for="rol_id">Rol:</label>
                    <select name="rol_id" [(ngModel)]="usuario.rol_id" class="form-control form-select">
                      @for (rol of roles; track rol.id) {
                        <option [value]="rol.id">
                          {{ rol.name }}
                        </option>
                      }
                    </select>
                  </div>
                }
                <!-- <div class="form-group col-md-4 col-lg-3" *ngIf="usuario.tipo == 'Administrador' || usuario.tipo == 'Supervisor'">
                    <label for="codigo">Codigo para autorizaciones:</label>
                    <input type="password" class="form-control" [(ngModel)]="usuario.codigo" name="codigo" placeholder="Código para autorizaciones">
                </div> -->
                @if (usuario.rol_name == 'admin' || usuario.rol_name == 'super_admin' || usuario.rol_name == 'usuario_supervisor') {
                  <div class="form-group col-md-4 col-lg-3">
                    <label for="codigo">Codigo para autorizaciones:</label>
                    <input type="password" class="form-control" [(ngModel)]="usuario.codigo" name="codigo" placeholder="Código para autorizaciones">
                  </div>
                }
                <div class="form-group col-md-4 col-lg-3">
                    <label for="caja_id">Caja:</label>
                    <select [(ngModel)]="usuario.caja_id" class="form-control form-select" name="caja_id">
                      @for (caja of cajas; track caja.id) {
                        <option [value]="caja.id">
                          {{ caja.nombre }}
                        </option>
                      }
                    </select>
                </div>
                <!-- <div class="form-group col-md-4 col-lg-3" *ngIf="apiService.auth_user().tipo == 'Administrador' && usuario.tipo == 'Cocinero'">
                    <label for="departamento_id">Departamento:</label>
                    <select [(ngModel)]="usuario.departamento_id" class="form-control form-select" name="departamento_id">
                        <option value="0">General</option>
                        <option *ngFor="let departamento of departamentos.data" [value]="departamento.id">
                            {{ departamento.nombre }}
                        </option>
                    </select>
                </div> -->
                @if ((apiService.validateRole('admin',true) || apiService.validateRole('super_admin',true)) && usuario.rol_name == 'usuario_cocinero') {
                  <div class="form-group col-md-4 col-lg-3">
                    <label for="departamento_id">Departamento:</label>
                    <select [(ngModel)]="usuario.departamento_id" class="form-control form-select" name="departamento_id">
                      <option value="0">General</option>
                      @for (departamento of departamentos.data; track departamento.id) {
                        <option [value]="departamento.id">
                          {{ departamento.nombre }}
                        </option>
                      }
                    </select>
                  </div>
                }
                @if (apiService.validateRole('admin',true) || apiService.validateRole('super_admin',true)) {
                  <div class="form-group col-md-4 col-lg-3">
                    <label for="sucursal_id">Sucursal:</label>
                    <select [(ngModel)]="usuario.sucursal_id" class="form-control form-select" name="sucursal_id">
                      @for (sucursal of sucursales; track sucursal.id) {
                        <option [value]="sucursal.id">
                          {{ sucursal.nombre }}
                        </option>
                      }
                    </select>
                  </div>
                }
                <div class="form-group col-md-4 col-lg-3">
                    <label for="empleado_id">Empleado:</label>
                    <select [(ngModel)]="usuario.empleado_id" class="form-control form-select" name="empleado_id">
                      @for (empleado of empleados; track empleado.id) {
                        <option [value]="empleado.id">
                          {{ empleado.nombre }}
                        </option>
                      }
                    </select>
                </div>
                @if (apiService.validateRole('admin',true) || apiService.validateRole('super_admin',true)) {
                  <div class="form-group col-md-4 col-lg-3">
                    <label>Esta activo </label>
                    <input type="checkbox" class="form-check" [(ngModel)]="usuario.activo" name="activo">
                  </div>
                }

        </div>

        <h5 class="my-3">Datos para inicio de sesión</h5>
        @if (usuario.id == apiService.auth_user().id || apiService.validateRole('admin',true) || apiService.validateRole('super_admin',true)) {
          <div class="row">
            <div class="form-group col-md-4 col-lg-3">
                <label for="username">Usuario:</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" placeholder="Usuario" required>
            </div>
            <div class="form-group col-md-4 col-lg-3">
              <label for="password">Contraseña:</label>
              <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" placeholder="Ingrese una contraseña para reemplazar la actual">
            </div>
            <div class="form-group col-md-4 col-lg-3">
              <label for="password_confirmation">Confirmar contraseña:</label>
              <input type="password" class="form-control" [(ngModel)]="usuario.password_confirmation" name="password_confirmation" placeholder="Confirme la contraseña">
            </div>
          </div>
        }
    </div>
    <div class="card-footer">
        <button [disabled]="loading" class="btn btn-primary float-end tcla-F10" tooltip="Guardar (F10)">
            @if (!loading) {
              <span>Guardar</span>
            }
            @if (loading) {
              <span>Guardando...</span>
            }
        </button>
    </div>
</section>

</form>


@if (usuario.ultimo_login) {
  <div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <h5 class="col-12 pb-2 mb-2">Datos</h5>
            @if (usuario.created_at) {
              <div class="form-group col-md-6 col-lg-3">
                <label for="pais">Creado:</label>
                <p>{{ usuario.created_at | date:'d/M/y h:m:s a' }}</p>
              </div>
            }
            @if (usuario.updated_at) {
              <div class="form-group col-md-6 col-lg-3">
                <label for="pais">Actualizado:</label>
                <p>{{ usuario.updated_at | date:'d/M/y h:m:s a' }}</p>
              </div>
            }
            @if (usuario.ultimo_login) {
              <div class="form-group col-md-6 col-lg-3">
                <label for="pais">Último login:</label>
                <p>{{ usuario.ultimo_login | date:'d/M/y h:m:s a' }} ({{ usuario.ultimo_login_human}})</p>
              </div>
            }
        </div>

    </div>
  </div>
}
