<div class="row">
    <h6 class="my-3 font-weight-bold" (click)="loadAll()">
        Proveedores

        <a class="btn btn-default float-end" (click)="openModal(mbodega, {})" tooltip="Agregar proveedor">
            <i class="fa fa-plus"></i> Agregar proveedor
        </a>
    </h6>
    <div class="table-responsive">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>Proveedor</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th class="d-none d-md-table-cell">DUI</th>
                    <th class="d-none d-md-table-cell">NCR</th>
                    <th class="text-center"><i class="fa fa-cog"></i> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8" class="text-center" *ngIf="loading">
                        <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center" *ngIf="!loading && producto?.proveedores.length == 0">
                        <span class="text-muted">No tiene proveedores agregados</span>
                    </td>
                </tr>        
                <tr *ngFor=" let proveedor of producto.proveedores">
                    <td>{{ proveedor?.proveedor.nombre }}</td>
                    <td>{{ proveedor?.proveedor.correo }}</td>
                    <td>{{ proveedor?.proveedor.telefono }}</td>
                    <td>{{ proveedor?.proveedor.dui }}</td>
                    <td>{{ proveedor?.proveedor.ncr }}</td>
                    <td class="text-center">
                        <a (click)="delete(proveedor)" class="btn btn-light" tooltip="Eliminar"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<ng-template #mbodega>
  <div class="modal-header">
    <h3 class="modal-title text-center">{{ producto.nombre }}</h3>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="input-group flex-nowrap">
                <ng-select name="id_proveedor" [(ngModel)]="proveedor.id_proveedor" class="form-select p-0">
                    <ng-option value="">Seleccione aquí</ng-option>
                    <ng-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                        {{ proveedor.nombre }} <span *ngIf="proveedor.nombre_empresa">- {{ proveedor.nombre_empresa }}</span> <span *ngIf="proveedor.ncr">- {{ proveedor.ncr }}</span>
                    </ng-option>
                </ng-select>
                <app-crear-proveedor [id_proveedor]="proveedor.id_proveedor" (update)="setProveedor($event)"></app-crear-proveedor>
            </div>
        </div>
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary btn-block">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </form>
  </div>
</ng-template>

