<button type="button" class="btn btn-default tcla-F1" (click)="openModal(mCliente)">
    <i *ngIf="!id_cliente" tooltip="Crear nuevo cliente (F1)" class="fa fa-plus"></i>
    <i *ngIf="id_cliente" tooltip="Editar cliente (F1)" class="fa fa-pencil-alt"></i>
</button>

<ng-template #mCliente>
    <div class="modal-header justify-content-between">
        <h3 class="modal-title">
            <span *ngIf="!id_cliente">Nuevo cliente</span>
            <span *ngIf="id_cliente">Editar cliente</span>
        </h3>
        <button class="btn btn-light text-danger" (click)="modalRef.hide(); alertService.modal = false;">Cancelar <i class="fa fa-close"></i></button>
    </div>
    <div class="modal-body p-3">
        <app-notificaciones-container></app-notificaciones-container>
        <form (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col d-grid">
                    <input type="radio" class="btn-check" name="tipo" [(ngModel)]="cliente.tipo" id="option1" (change)="setTipo('Persona')">
                    <label class="btn" [ngClass]="{'btn-default' : cliente.tipo == 'Persona', 'btn-light' : cliente.tipo == 'Empresa' }" for="option1">Persona</label>
                </div>
                <div class="col d-grid">
                    <input type="radio" class="btn-check" name="tipo" [(ngModel)]="cliente.tipo" id="option2" (change)="setTipo('Empresa')">
                    <label class="btn" [ngClass]="{'btn-default' : cliente.tipo == 'Empresa', 'btn-light' : cliente.tipo == 'Persona' }" for="option2">Empresa</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12" [ngClass]="{ 'order-1' :  cliente.tipo == 'Persona', 'order-2' :  cliente.tipo == 'Empresa' }">
                    <div class="row">
                        <h6 class="col-12 pb-2 mb-2">Información de contacto</h6>
                        <div class="form-group col-lg-4">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="nombre" [(ngModel)]="cliente.nombre">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" (change)="verificarSiExiste()" placeholder="Escribe aquí" name="apellido" [(ngModel)]="cliente.apellido">
                        </div>
                        <div class="form-group col-6 col-lg-4">
                            <label for="ncr" *ngIf="apiService.auth_user().empresa.pais == 'El Salvador'">DUI</label>
                            <label for="ncr" *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'"># de Identificación</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="dui" [(ngModel)]="cliente.dui" [dropSpecialCharacters]="false" mask={{apiService.auth_user().empresa.validador_dui}}>
                        </div>
                        <div class="form-group col-6 col-lg-6">
                            <label for="correo">Correo</label>
                            <input type="email" class="form-control" placeholder="Escribe aquí" name="correo" [(ngModel)]="cliente.correo">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label for="telefono">Teléfono:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="telefono" [(ngModel)]="cliente.telefono" mask={{apiService.auth_user().empresa.validador_telefono}}>
                        </div>
                        <div class="form-group col-6 col-lg-3" *ngIf="cliente.tipo == 'Persona'">
                            <label for="pais">Pais:</label>
                            <input *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="pais" [(ngModel)]="cliente.pais">
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="pais" [(ngModel)]="cliente.pais">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" [(ngModel)]="cliente.cod_pais" (change)="setPais()" placeholder="Escribe aquí" class="form-control form-select p-0" name="cliente.cod_pais">
                                <ng-option *ngFor="let pais of paises" [value]="pais.cod">
                                    {{ pais.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-6 col-lg-4" *ngIf="cliente.tipo == 'Persona'">
                            <label for="departamento">Departamento:</label>
                            <input *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="departamento" [(ngModel)]="cliente.departamento">
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="departamento" [(ngModel)]="cliente.departamento">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" [(ngModel)]="cliente.cod_departamento" (change)="setDepartamento()" placeholder="Escribe aquí" class="form-control form-select p-0" name="cliente.cod_departamento">
                                <ng-option *ngFor="let departamento of departamentos" [value]="departamento.cod">
                                    {{ departamento.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-6 col-lg-4" *ngIf="cliente.tipo == 'Persona'">
                            <label for="distrito">Distrito:</label>
                            <input *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="distrito" [(ngModel)]="cliente.distrito">
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="distrito" [(ngModel)]="cliente.distrito">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" [(ngModel)]="cliente.cod_distrito" (change)="setDistrito()" placeholder="Escribe aquí" class="form-control form-select p-0" name="cliente.cod_distrito">
                                <ng-option *ngFor="let distrito of distritos | filter:'cod_departamento':cliente.cod_departamento" [value]="distrito.cod">
                                    {{ distrito.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-6 col-lg-4" *ngIf="cliente.tipo == 'Persona'">
                            <label for="municipio">Municipio:</label>
                            <input *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="municipio" [(ngModel)]="cliente.municipio">
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="municipio" [(ngModel)]="cliente.municipio">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" [(ngModel)]="cliente.cod_municipio" (change)="setMunicipio()" placeholder="Escribe aquí" class="form-control form-select p-0" name="cliente.cod_municipio">
                                <ng-option *ngFor="let municipio of municipios | filter:'nombre_departamento':cliente.departamento" [value]="municipio.cod">
                                    {{ municipio.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-12 col-md-6" *ngIf="cliente.tipo == 'Persona'">
                            <label for="direccion">Dirección:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="direccion" [(ngModel)]="cliente.direccion">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label for="fecha_cumpleanos">Fecha de cumpleaños</label>
                            <input type="date" class="form-control" placeholder="Escribe aquí" name="fecha_cumpleanos" [(ngModel)]="cliente.fecha_cumpleanos">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label for="red_social">Red social:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="red_social" [(ngModel)]="cliente.red_social">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="etiquetas">Etiquetas:</label>
                            <tag-input theme='bootstrap' secondaryPlaceholder="Etiquetas" [placeholder]="'etiquetas'" [separatorKeyCodes]="[32]" [(ngModel)]="cliente.etiquetas" name="etiquetas"></tag-input>
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="nota">Observaciones</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="nota" [(ngModel)]="cliente.nota">
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="cliente.tipo == 'Empresa'" [ngClass]="{ 'order-1' :  cliente.tipo == 'Empresa', 'order-2' :  cliente.tipo == 'Persona' }">
                    <div class="row">
                        <h6 class="col-12 pb-2 mb-2">Información de la empresa</h6>
                        
                        <div class="form-group col-6 col-lg-6">
                            <label for="nombre_empresa">Empresa:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="nombre_empresa" [(ngModel)]="cliente.nombre_empresa">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label for="nit" *ngIf="apiService.auth_user().empresa.pais == 'El Salvador'">NIT</label>
                            <label for="nit" *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'">Identificación Fiscal</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="nit" [(ngModel)]="cliente.nit" mask={{apiService.auth_user().empresa.validador_nit}}>
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label for="ncr" *ngIf="apiService.auth_user().empresa.pais == 'El Salvador'">NCR</label>
                            <label for="ncr" *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'">Registro Tributario</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="ncr" [(ngModel)]="cliente.ncr">
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="tipo_contribuyente">Tipo de contribuyente:</label>
                            <select class="form-select" [(ngModel)]="cliente.tipo_contribuyente" name="tipo_contribuyente">
                                <option value="">Seleccione aquí</option>
                                <option value="Pequeño">Pequeño</option>
                                <option value="Mediano">Mediano</option>
                                <option value="Grande">Grande</option>
                            </select>
                        </div>
                        <div class="form-group col-6 col-lg-9">
                            <label for="giro">Giro:</label>
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="giro" [(ngModel)]="cliente.giro">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" [(ngModel)]="cliente.cod_giro" (change)="setGiro()" placeholder="Escribe aquí" class="form-select p-0" name="cliente.cod_giro">
                                <ng-option *ngFor="let actividad_economica of actividad_economicas" [value]="actividad_economica.cod">
                                    {{ actividad_economica.nombre }}
                                </ng-option>
                            </ng-select>

                            <input type="text" *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'" class="form-control" [(ngModel)]="cliente.giro" name="empresa.cod_actividad_economica" placeholder="Escriba aquí">

                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label for="telefono">Teléfono:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="empresa_telefono" [(ngModel)]="cliente.empresa_telefono">
                        </div>
                        <div class="form-group col-6 col-lg-3" *ngIf="cliente.tipo == 'Empresa'">
                            <label for="pais">Pais:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="pais" [(ngModel)]="cliente.pais">
                        </div>
                        <div class="form-group col-6 col-lg-3" *ngIf="cliente.tipo == 'Empresa'">
                            <label for="departamento">Departamento:</label>

                            <!-- si la empresa ES SALVADOREÑA -->
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="departamento" [(ngModel)]="cliente.departamento">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" [(ngModel)]="cliente.cod_departamento" (change)="setDepartamento()" placeholder="Escribe aquí" class="form-control form-select p-0" name="cliente.cod_departamento">
                                <ng-option *ngFor="let departamento of departamentos" [value]="departamento.cod">
                                    {{ departamento.nombre }}
                                </ng-option>
                            </ng-select>

                            <!-- si la empresa NO ES SALVADOREÑA -->
                            <input *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="departamento" [(ngModel)]="cliente.departamento">


                            
                        </div>
                        <div class="form-group col-6 col-lg-3" *ngIf="cliente.tipo == 'Empresa'">
                            <label for="distrito">Distrito:</label>
                            <input *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="distrito" [(ngModel)]="cliente.distrito">
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="distrito" [(ngModel)]="cliente.distrito">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" [(ngModel)]="cliente.cod_distrito" (change)="setDistrito()" placeholder="Escribe aquí" class="form-control form-select p-0" name="cliente.cod_distrito">
                                <ng-option *ngFor="let distrito of distritos | filter:'cod_departamento':cliente.cod_departamento" [value]="distrito.cod">
                                    {{ distrito.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-6 col-lg-3" *ngIf="cliente.tipo == 'Empresa'">
                            <label for="municipio">Municipio:</label>
                            <!-- si la empresa ES SALVADOREÑA -->
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="municipio" [(ngModel)]="cliente.municipio">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" [(ngModel)]="cliente.cod_municipio" (change)="setMunicipio()" placeholder="Escribe aquí" class="form-control form-select p-0" name="cliente.cod_municipio">
                                <ng-option *ngFor="let municipio of municipios | filter:'nombre_departamento':cliente.departamento" [value]="municipio.cod">
                                    {{ municipio.nombre }}
                                </ng-option>
                            </ng-select>
                            <!-- si la empresa NO ES SALVADOREÑA -->
                            <input *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="municipio" [(ngModel)]="cliente.municipio">

                        </div>
                        <div class="form-group col-12 col-md-12" *ngIf="cliente.tipo == 'Empresa'">
                            <label for="direccion">Dirección:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="empresa_direccion" [(ngModel)]="cliente.empresa_direccion">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">          
                <div class="form-group col-md-12 mt-3">
                    <button type="submit" [disabled]="saving" class="btn btn-primary float-end tcla-F10" tooltip="Guardar (F10)">
                        <span *ngIf="!saving">Guardar cliente <img src="assets/icons/arrow-right-stroke.png" class="icon2 ms-2"></span>
                        <span *ngIf="saving">Guardando...</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
