<!-- select-search.component.html -->
<ng-select 
  [name]="name"
  [(ngModel)]="value"
  [class]="cssClass + ' w-100'"
  [placeholder]="placeholder"
  [clearable]="clearable"
  [disabled]="disabled"
  [loading]="isLoading || loading"
  [searchable]="true"
  [notFoundText]="'Buscar registros...'"
  [items]="filteredItems"
  [bindValue]="valueProperty"
  (search)="onSearch($event.term)"
  (ngModelChange)="onSelectionChange($event)">
  
  <ng-template ng-label-tmp let-item="item">
    {{ getDisplayText(item) }}
  </ng-template>

  <ng-template ng-option-tmp let-item="item">
    {{ getDisplayText(item) }}
  </ng-template>
</ng-select>