<div class="card">
    <div class="card-body">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th width="50px"><a (click)="openModal(musuarios, {})" class="btn btn-primary"><i class="fa fa-plus"></i></a></th>
                    <th>Nombre</th>
                    <th class="text-center"><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="9" class="text-center" *ngIf="caja?.usuarios < 1 && !loading">
                        <span class="label label-info">No tiene usuarios asignados</span>
                    </td>
                    <td colspan="9" class="text-center" *ngIf="loading">
                        <span class="label label-info">Cargando...</span>
                    </td>
                </tr>

                <tr class="animated fadeIn" *ngFor=" let usuario of caja?.usuarios">
                    <td></td>
                    <td>{{ usuario.name }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a (click)="delete(usuario.id)" class="btn btn-default" tooltip="Eliminar">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>  
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #musuarios>
  <div class="modal-header">
    <h3 class="modal-title text-center">Forma de pago</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="nombre">Nombre:</label><br>
                <input type="text" class="form-control" [(ngModel)]="usuariospago.nombre" name="nombre" focus="true">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>