<div class="form-group col-sm-12">
    <label for="cantidad">* Nombre:</label>
    <form autocomplete="off" class="buscador">
        <input id="proveedor" type="text" name="proveedor.nombre" class="form-control" placeholder="Nombre" [(ngModel)]="proveedor.nombre" focus="true" id="example">
        <ul class="list-group info">
          <a href="javascript:void(0);" class="list-group-item text-primary" *ngIf="searching"> Buscando... </a>
          <a href="javascript:void(0);" class="list-group-item text-warning" *ngIf="!searching && proveedores?.data?.length == 0"> Ningun registro encontrado </a>
        </ul>
        <ul class="list-group opciones" *ngIf="proveedores?.total > 0">
          <a href="javascript:void(0);" class="list-group-item" (click)="selectCliente(proveedor)" *ngFor=" let proveedor of proveedores?.data">
            {{proveedor.nombre}} - <small>{{proveedor.registro}}</small>
          </a>
        </ul>
    </form>
</div>