
/Backend/.idea
Backend/composer.lock
Backend/composer.lock
Backend/package-lock.json
Backend/composer.lock
Frontend/src/environments/environment.prod.ts
.idea/*
Frontend/src/environments/environment.ts
