.badge-prueba-gratuita {
  top: 10px;
  right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.alert-warning {
    background-color: #fde69c !important;
}

.alert-danger {
    background-color: #FFDAD6 !important;
}