<div class="container">

<section class="content-header no-print">
    <h1 class="print"> Requisición de Productos  <span class="badge">{{ productos?.length }}</span> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/compras"><i class="fa fa-list-alt"></i> Compras</a></li>
        <li class="active">Requisición</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header no-print">
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                            <div class="input-group-btn">
                                <button (click)="openFilter(mfilter)" class="pull-right btn btn-default tcla-F8"> <i class="fa fa-filter"></i> </button>
                                <button onclick="window.print();" class="pull-right btn btn-default tcla-F7" tooltip="Imprimir"><i class="fa fa-print"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <h3 class="text-center">Requisición de Compra</h3><br>
                    <form name="form" autocomplete="off">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center no-print"><i class="fa fa-cog"></i></th>
                                    <th>Nombre</th>
                                    <th>Categoria</th>
                                    <th class="text-center">Stock</th>
                                    <th class="text-center">Stock ideal</th>
                                    <th class="text-center">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="6" class="text-center" *ngIf="productos?.length < 1 && !loading">
                                        <span class="label label-info">No tiene productos con stock bajo</span>
                                    </td>
                                    <td colspan="6" class="text-center" *ngIf="loading">
                                        <span class="label label-info">Cargando...</span>
                                    </td>
                                </tr>
                                <tr *ngFor=" let producto of productos">
                                    <td class="text-center no-print">
                                        <a class="btn btn-danger btn-xs" (click)="eliminarProducto(producto)"><i class="fa fa-minus"></i>
                                        </a>
                                    </td>
                                    <td>{{ producto.producto }}</td>
                                    <td>{{ producto.categoria }}</td>
                                    <td class="text-center">{{ producto.stock }}</td>
                                    <td class="text-center">{{ producto.stock_max }}</td>
                                    <td class="text-center" width="130">
                                        <input type="number" class="form-control" name="{{ 'producto[' + producto.producto_id + '].cantidad' }}" [(ngModel)]="producto.cantidad" style="text-align: center;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="">Proveedor:</label>
                <select [(ngModel)]="filtro.proveedor_id" class="form-control" name="filtro.proveedor_id">
                    <option value="">Todos</option>
                    <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor.id">
                        {{ proveedor.nombre }} - {{ proveedor.registro }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label for="">Categoria:</label>
                <select [(ngModel)]="filtro.categoria_id" class="form-control" name="filtro.categoria_id">
                    <option value="">Todos</option>
                    <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                        {{ categoria.nombre }}
                    </option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>