<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Registros</h2>
    <button *ngIf="apiService.canCreate()" routerLink="/venta/crear" tooltip="Crear venta (F4)" class="btn btn-default tcla-F4"><i class="fa fa-plus"></i> Añadir venta</button>
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            <span class="text-muted d-flex align-items-center gap-2" *ngIf="ventas?.total">
                Mostrando 
                <select name="paginate" class="form-select w-auto" (change)="filtrarVentas()" [(ngModel)]="filtros.paginate">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                 de {{ ventas?.total + ' registros' }}
            </span>
        </div>

        <div class="col-md-6 mb-3">
            <div class="d-flex gap-2">
                <app-importar-excel (loadAll)="loadAll()" [nombre]="'ventas'"></app-importar-excel>
                <button tooltip="Descargar ventas" (click)="openDescargar(mdescargar)" class="btn btn-default tcla-F6"><img src="/assets/icons/download.png" class="icon"></button>
                <form class="d-flex input-group" name="form" (ngSubmit)="filtrarVentas()" autocomplete="off">
                    <input type="text" name="buscador" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtros.buscador">
                </form>
                <button tooltip="Filtrar (F3)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F3"> <img src="/assets/icons/filter.png" class="icon"> </button>
                <button tooltip="Limpiar filtros" (click)="limpiarFiltros()" class="btn btn-default">
                    <i class="fa fa-refresh"></i>
                  </button>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="col-md-6 d-flex gap-2 mb-3">
            <button class="tcla-F5 btn " tooltip="Actualizar (F5)" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" (click)="loadAll()" routerLink="/ventas">Todos</button>
            <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/devoluciones/ventas">Devoluciones</button>
            <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/ventas/abonos">Abonos</button>
            <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/ventas/recurrentes">Recurrentes</button>
        </div>
        <div class="col-md-6 d-flex gap-2 justify-content-end  mb-3">
            <select name="estado" (change)="filtrarVentas()" [(ngModel)]="filtros.estado" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Anulada">Anulada</option>
                <option value="Consigna">Consigna</option>
                <option value="Pagada">Pagada</option>
            </select>
            <select name="id_sucursal" (change)="filtrarVentas()" [(ngModel)]="filtros.id_sucursal" class="form-select bg-default w-auto">
                <option value="">Sucursal</option>
                <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                    {{sucursal.nombre}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th (click)="setOrden('fecha')" [ngClass]="{'sorted-asc': filtros.orden == 'fecha' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'fecha' && filtros.direccion == 'desc'}" class="click">Fecha</th>
                        <th>Cliente</th>
                        <th class="d-none d-md-table-cell">Documento</th>
                        <th class="d-none d-md-table-cell">Método de pago</th>
                        <th (click)="setOrden('fecha_pago')" [ngClass]="{'sorted-asc': filtros.orden == 'fecha_pago' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'fecha_pago' && filtros.direccion == 'desc'}" class="click">Fecha vencimiento</th>
                        <th>Estado</th>
                        <th (click)="setOrden('total')" [ngClass]="{'sorted-asc': filtros.orden == 'total' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'total' && filtros.direccion == 'desc'}" class="click text-right">Total</th>
                        <th class="text-center">Más</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="ventas?.total < 1 && !loading">
                            <span class="badge bg-primary">No tiene ventas registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr *ngFor=" let venta of ventas?.data">
                        
                        <td><span tooltip="{{ venta.created_at | date:'hh:mm a'}}">{{venta.fecha | date:'dd/MM/yyyy'}}</span></td>
                        <td>{{venta.nombre_cliente | truncate:30 }}<a *ngIf="venta.id_cliente && venta.id_cliente != 1" class="float-end d-none"  tooltip="Ver información del cliente" routerLink="/cliente/editar/{{venta.id_cliente}}"><i class="fa fa-edit"></i></a></td>
                        <td>
                            <a class="text-decoration-none text-dark"  tooltip="Ver información de la venta" routerLink="/venta/{{venta.id}}">
                                {{venta.nombre_documento}} #{{venta.correlativo}}
                            </a>
                        </td>
                        <td>{{venta.forma_pago}}</td>
                        <!-- <td>{{venta.estado != 'Pendiente' ? venta.forma_pago : 'Pendiente'}}</td> -->
                        <td>{{venta.fecha_pago | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <span class="badge py-2 position-relative" style="font-size: 0.8rem;" [ngClass]="{'bg-warning' : venta?.estado == 'Pendiente', 'bg-danger' : venta?.estado == 'Anulada', 'bg-info' : venta?.estado == 'Consigna', 'bg-success' : venta?.estado == 'Pagada', 'bg-primary' : venta?.estado == 'Pre-venta'}">
                                <span *ngIf="venta.estado != 'Pendiente'">{{ venta.estado }}</span>
                                <a tooltip="Pagar venta" *ngIf="venta.estado == 'Pendiente' && apiService.canEdit()" (click)="openAbono(mabono, venta)" class="text-decoration-none text-dark click">
                                    {{ venta.estado }}
                                </a>
                                <span title="Emitido a hacienda" style="position: absolute; top: -3px; right: -3px; font-size: 10px; color: blue;" *ngIf="apiService.auth_user().empresa.facturacion_electronica && venta.sello_mh">
                                    ✅                       
                                </span>
                            </span>
                        </td>
                        <td class="text-end">
                            <span *ngIf="venta.estado != 'Pendiente' && !venta.abonos_sum_total">
                                {{venta.total | currency:'USD':'symbol':'1.2'}}
                            </span>
                            <span *ngIf="venta.estado == 'Pendiente' || venta.abonos_sum_total > 0" class="click" placement="left" [popover]="popTemplate" triggers="mouseenter:mouseleave">
                                {{venta.total | currency:'USD':'symbol':'1.2'}}
                            </span>
                            <ng-template #popTemplate>
                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td>Total</td>
                                            <td class="text-end">{{ venta.total | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td>Abonos</td>
                                            <td class="text-end">{{ venta.abonos_sum_total | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saldo</td>
                                            <td class="text-end">{{ venta.total - venta.abonos_sum_total | currency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-template>

                        </td>
                        <td class="text-center">
                            <span class="btn" [popover]="accionesTemplate" [outsideClick]="true" tooltip="Acciones">
                                <i class="fa fa-ellipsis-vertical fa-fw"></i>
                            </span>
                            <ng-template #accionesTemplate>
                                <div class="list-group border-0">

                                    <a *ngIf="apiService.auth_user().empresa.facturacion_electronica && venta.estado != 'Anulada' && !venta.sello_mh" class="list-group-item list-group-item-action border-0 click" (click)="openDTE(mDTE, venta)" tooltip="Emitir DTE">
                                        <i class="fa fa-fw fa-file-invoice"></i> Emitir DTE
                                    </a>
                                    <a *ngIf="apiService.auth_user().empresa.fe_ambiente == '00' && apiService.auth_user().empresa.facturacion_electronica && venta.estado != 'Anulada' && !venta.sello_mh" class="list-group-item list-group-item-action border-0 click" (click)="emitirEnContingencia(venta)" tooltip="Emitir DTE en contingencia">
                                        <i class="fa fa-fw fa-file-invoice"></i> Emitir DTE en contingencia
                                    </a>
                                    <a *ngIf="apiService.auth_user().empresa.facturacion_electronica && venta.sello_mh" class="list-group-item list-group-item-action border-0 click" (click)="openDTE(mDTE, venta)" tooltip="Ver DTE">
                                        <i class="fa fa-fw fa-file-invoice"></i> Ver DTE
                                    </a>

                                    <a routerLink="/venta/{{venta.id}}" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-magnifying-glass"></i>Ver detalles
                                    </a>
                                    <a *ngIf="venta.estado == 'Pendiente' && apiService.canEdit()" (click)="openAbono(mabono, venta)" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fas fa-fw fa-hand-holding-usd"></i> Pagar venta
                                    </a>
                                    <a *ngIf="venta.estado != 'Anulada' && apiService.canEdit()" (click)="anularDTE(venta)" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-ban"></i> Anular venta
                                    </a>
                                    <a *ngIf="venta.estado == 'Anulada' && apiService.canEdit()" (click)="setEstado(venta, 'Pagada')" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-check"></i> Revertir anulación
                                    </a>
                                    <a *ngIf="apiService.canEdit()" (click)="openModalEdit(mventa, venta)" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-edit"></i> Editar
                                    </a>
                                    <a *ngIf="venta.estado == 'Consigna' && apiService.canEdit()" routerLink="/venta/consigna/revisar/{{venta.id}}" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fas fa-fw fa-hand-holding-usd"></i> Revisar consigna
                                    </a>
                                    <a *ngIf="venta.recurrente == 0 && apiService.canEdit()" (click)="setRecurrencia(venta)" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-repeat"></i> Hacer recurrente
                                    </a>
                                    <a *ngIf="apiService.canEdit()" (click)="imprimir(venta)" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-print"></i> Imprimir
                                    </a>
                                    <a *ngIf="venta.forma_pago == 'Wompi' && venta.estado == 'Pendiente' && apiService.canEdit()" (click)="linkWompi(venta)" class="list-group-item list-group-item-action border-0 click">
                                        <img src="https://wompi.sv/img/icon.png" width="15px" class="img-fluid" alt=""> Generar enlace de pago
                                    </a>
                                    <a *ngIf="apiService.canEdit()" routerLink="/devolucion-venta/nueva" [queryParams]="{ id_venta: venta.id }" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-right-left"></i> Hacer devolucion
                                    </a>
                                    <a *ngIf="apiService.canEdit() && venta.nombre_documento == 'Crédito fiscal'" routerLink="/devolucion-venta/nueva" [queryParams]="{ id_venta: venta.id, tipo_documento: 'nota_credito'}" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-folder-minus"></i> Hacer nota de crédito
                                    </a>
                                    <a *ngIf="apiService.canEdit() && venta.nombre_documento == 'Crédito fiscal'" routerLink="/devolucion-venta/nueva" [queryParams]="{ id_venta: venta.id, tipo_documento: 'nota_debito'}" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-folder-plus"></i> Hacer nota de débito
                                    </a>
                                </div>
                            </ng-template>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12" *ngIf="ventas?.last_page > 1">
            <app-pagination [items]="ventas" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</section>

<ng-template #mabono>
    <div class="modal-header d-block text-center">
        <h5 class="modal-title mb-0">Recibo de pago </h5>
        <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <app-crear-abono-venta [venta]="venta" (update)="filtrarVentas()"></app-crear-abono-venta>
    </div>
</ng-template>

<ng-template #mdescargar>
  <div class="modal-header">
    <h4 class="modal-title text-center">Descargar registro de ventas</h4>
    <!-- <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button> -->
    <button type="button" class="btn-close" (click)="modalRefDescargar.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-notificaciones-container></app-notificaciones-container>
        <p class="alert bg-info">Acá puedes descargar los registros de ventas en un archivo de Excel.</p>
        <div class="row">
            <div class="d-grid mt-4">
                <p>Descargar los detalles de ventas por producto.</p>
                <button [disabled]="saving" (click)="descargarDetalles()" class="btn btn-primary btn-block">
                    <span *ngIf="!downloadingDetalles">Descargar Detalles</span>
                    <span *ngIf="downloadingDetalles">Descargando...</span>
                </button>
            </div>
            <div class="d-grid my-4">
                <p>Descargar los detalles de ventas totales.</p>
                <button [disabled]="saving" (click)="descargarVentas()" class="btn btn-primary btn-block">
                    <span *ngIf="!downloadingVentas">Descargar Ventas</span>
                    <span *ngIf="downloadingVentas">Descargando...</span>
                </button>
            </div>
            <div class="d-grid mb-4">
                <p>Descarga acumulado por producto.</p>
                <button [disabled]="saving" (click)="abrirModalFiltrosAcumulado(mfiltrosAcumulado)" class="btn btn-primary btn-block">
                  Descargar Acumulado
                </button>
              </div>
        </div>
  </div>
</ng-template>

<ng-template #mventa>
  <div class="modal-header">
    <h4 class="modal-title text-center">Editar venta</h4>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-notificaciones-container></app-notificaciones-container>
    <form name="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="fecha">Fecha:</label>
                <input type="date" [(ngModel)]="venta.fecha" name="fecha" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="forma_pago">Método de pago:</label>
                <select name="forma_pago" [(ngModel)]="venta.forma_pago" class="form-select">
                    <option [value]="forma.nombre" *ngFor="let forma of formaPagos">{{ forma.nombre }}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="id_documento">Documento:</label>
                <select name="id_documento" [(ngModel)]="venta.id_documento" class="form-select">
                    <option [value]="documento.id" *ngFor="let documento of documentos">{{ documento.nombre }}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="correlativo">Correlativo:</label>
                <input type="number" class="form-control" [(ngModel)]="venta.correlativo" name="correlativo">
            </div>
            <div class="form-group col-sm-6">
                <label for="venta.id_canal">Canal:</label>
                <select [(ngModel)]="venta.id_canal" class="form-control form-select" name="venta.id_canal">
                    <option value="">Todos</option>
                    <option *ngFor="let canal of canales" [value]="canal.id">
                        {{ canal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="id_usuario">Usuario:</label>
                <ng-select [(ngModel)]="venta.id_usuario" class="form-select p-0" name="id_usuario">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                        {{ usuario.name }}
                    </ng-option>
                </ng-select>
            </div>
            <div class="form-group col-md-6" *ngIf="venta.estado == 'Pendiente'">
                <label for="fecha_pago">Fecha de pago:</label>
                <input type="date" [(ngModel)]="venta.fecha_pago" name="fecha_pago" class="form-control">
            </div>
            <div *ngIf="apiService.auth_user().empresa.editar_descripcion_venta">
                <div class="form-group col-md-12 without-label">
                    <div class="form-switch bg-light-info rounded">
                      <label for="descripcion_personalizada">Agrupar detalles de venta y personalizar descripción</label>
                      <input class="form-check-input float-end" type="checkbox" role="switch" [(ngModel)]="venta.descripcion_personalizada" name="compra.descripcion_personalizada">
                    </div>
                </div>
                <div class="form-group col-md-12" *ngIf="venta.cotizacion != 1 && venta.descripcion_personalizada">
                    <label for="descripcion_impresion">Descripción a mostrar el la impresión del documento:</label>
                    <textarea class="form-control" placeholder="Escribe aquí" [(ngModel)]="venta.descripcion_impresion" name="descripcion_impresion" rows="2"></textarea>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="observaciones">Observaciones:</label>
                <textarea class="form-control" [(ngModel)]="venta.observaciones" name="observaciones" cols="30" rows="2"></textarea>
            </div>
            <div class="d-grid mt-4">
                <button [disabled]="saving" class="btn btn-primary btn-block">
                    <span *ngIf="!saving">Guardar</span>
                    <span *ngIf="saving">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mDTE>
    <div class="modal-header d-block text-center">
        <h5 class="modal-title mb-0">DTE </h5>
        <button type="button" class="btn-close" (click)="modalRef.hide(); alertService.modal = false;" aria-label="Close"></button>
    </div>
  <div class="modal-body">
        <app-notificaciones-container></app-notificaciones-container>
        <div class="d-grid">

            <button *ngIf="venta.sello_mh" (click)="imprimirDTEJSON(venta)" class="mb-3 btn btn-primary btn-block">
                Ver JSON
            </button>

            <button *ngIf="venta.sello_mh" (click)="imprimirDTEPDF(venta)" class="mb-3 btn btn-primary btn-block">
                Ver PDF
            </button>

            <button *ngIf="venta.sello_mh" [disabled]="sending" (click)="enviarDTE()" class="mb-3 btn btn-primary btn-block">
                <span *ngIf="!sending">Enviar por correo</span>
                <span *ngIf="sending">Enviando...</span>
            </button>

            <div class="w-100" *ngIf="!venta?.sello_mh">
                <p *ngIf="consulting" class="alert alert-info">El DTE ya fue emitido, se consultará por el sello correspondiente.</p>
                <button [disabled]="saving" (click)="emitirDTE()" class="mb-3 btn btn-primary w-100">
                    <span *ngIf="!saving && !consulting">Emitir</span>
                    <span *ngIf="saving">Emitiendo...</span>

                    <span *ngIf="!saving && consulting">Obteniendo sello...</span>
                </button>
            </div>

        </div>
  </div>
</ng-template>

<ng-template #mfilter>
  <!-- <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center">Filtrar</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div> -->
  <!-- En el modal de filtros -->
<div class="modal-header">
    <div class="modal-title text-center">
      <h2 class="text-center">
        Filtrar
        <!-- <span *ngIf="filtrosActivos()" class="badge bg-primary ms-2">Filtros activos</span> -->
      </h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-notificaciones-container></app-notificaciones-container>
    <form autocomplete="off" (ngSubmit)="filtrarVentas()">
        <div class="row">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtros.inicio" [(ngModel)]="filtros.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtros.fin" [(ngModel)]="filtros.fin"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.estado">Estado:</label>
                <select [(ngModel)]="filtros.estado" class="form-control form-select" name="filtros.estado">
                    <option value="">Todos</option>
                    <option value="Pagada">Pagadas</option>
                    <option value="Pendiente">Pendientes</option>
                    <option value="Anulada">Anuladas</option>
                    <option value="Consigna">Consignas</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.forma_pago">Método de pago:</label>
                <select [(ngModel)]="filtros.forma_pago" class="form-control form-select" name="filtros.forma_pago">
                    <option value="">Todos</option>
                    <option *ngFor="let formaPago of formaPagos" [value]="formaPago.nombre">
                        {{ formaPago.nombre }}
                    </option>
                    <option value="Multiple">Multiple</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.id_documento">Documento:</label>
                <select [(ngModel)]="filtros.id_documento" class="form-control form-select" name="filtros.id_documento">
                    <option value="">Todos</option>
                    <option *ngFor="let documento of documentos" [value]="documento.id">
                        {{ documento.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.id_canal">Canal:</label>
                <select [(ngModel)]="filtros.id_canal" class="form-control form-select" name="filtros.id_canal">
                    <option value="">Todos</option>
                    <option *ngFor="let canal of canales" [value]="canal.id">
                        {{ canal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtros.id_sucursal" class="form-control form-select" name="filtros.id_sucursal">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.id_cliente">Cliente:</label>
                <ng-select name="id_cliente" [(ngModel)]="filtros.id_cliente" class="form-select p-0">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let cliente of clientes" [value]="cliente.id">
                        {{ cliente.tipo == 'Empresa' ? cliente.nombre_empresa : cliente.nombre_completo }}
                    </ng-option>
                </ng-select>
            </div>
            <div class="form-group col-md-6">
                <label for="filtros.id_usuario">Usuario:</label>
                <ng-select [(ngModel)]="filtros.id_usuario" class="form-select  p-0" name="filtros.id_usuario">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                        {{ usuario.name }}
                    </ng-option>
                </ng-select>
            </div>
            <div class="form-group col-md-6">
                <label for="filtros.id_vendedor">Vendedor:</label>
                <ng-select [(ngModel)]="filtros.id_vendedor" class="form-select  p-0" name="filtros.id_vendedor">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                        {{ usuario.name }}
                    </ng-option>
                </ng-select>
            </div>
            <div *ngIf="apiService.auth_user().empresa.modulo_proyectos" class="form-group col-md-6">
                <label for="id_proyecto">Proyecto:</label>
                <ng-select [(ngModel)]="filtros.id_proyecto" class="form-select p-0" name="id_proyecto">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let proyecto of proyectos" [value]="proyecto.id">
                        {{ proyecto.nombre }}
                    </ng-option>
                </ng-select>
            </div>
            <div class="form-group col-sm-6" *ngIf="apiService.auth_user().empresa.facturacion_electronica">
                <label for="filtro.dte">Facturación electrónica (DTE):</label>
                <select name="dts" class="form-select" [(ngModel)]="filtros.dte">
                    <option value="">Todos</option>
                    <option value="1">Sin emitir</option>
                    <option value="2">Emitidos</option>
                </select>
            </div>
        </div>
        
        <div class="d-grid mt-3">
            <button type="submit" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="!loading">Filtrar</span>
                <span *ngIf="loading">Filtrando...</span>
            </button>
        </div>
    </form>
  </div>
</ng-template>

    <ng-template #mfiltrosAcumulado>
      <div class="modal-header">
        <h4 class="modal-title text-center">Filtros para Reporte Acumulado</h4>
        <button type="button" class="btn-close" (click)="modalRefAcumulado.hide()" aria-label="Close"></button>
        <!-- <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <app-notificaciones-container></app-notificaciones-container>
        
        <form (ngSubmit)="descargarAcumulado()">
          <div class="row">
            <!-- Fechas -->
            <div class="form-group col-sm-6">
              <label>Del:</label>
              <input type="date" class="form-control" [(ngModel)]="filtrosAcumulado.inicio" name="inicio">
            </div>
            <div class="form-group col-sm-6">
              <label>Al:</label>
              <input type="date" class="form-control" [(ngModel)]="filtrosAcumulado.fin" name="fin">
            </div>
    
            <!-- Sucursales -->
            <div class="form-group col-12 mt-3">
              <label>Sucursales:</label>
              <ng-select [multiple]="true" class="form-select p-0"
                        [items]="sucursales"
                        [(ngModel)]="filtrosAcumulado.sucursales"
                        bindLabel="nombre"
                        bindValue="id"
                        placeholder="Seleccione sucursales"
                        name="sucursales">
              </ng-select>
            </div>
    
            <!-- Categorías -->
            <div class="form-group col-12 mt-3">
              <label>Categorías:</label>
              <ng-select [multiple]="true" class="form-select p-0"
                        [items]="categorias"
                        [(ngModel)]="filtrosAcumulado.categorias"
                        bindLabel="nombre"
                        bindValue="id"
                        placeholder="Seleccione categorías"
                        name="categorias">
              </ng-select>
            </div>
    
            <!-- Marcas -->
            <div class="form-group col-12 mt-3">
              <label>Marcas:</label>
              <ng-select [multiple]="true" class="form-select p-0"
                        [items]="marcas"
                        [(ngModel)]="filtrosAcumulado.marcas"
                        bindLabel="nombre"
                        bindValue="nombre"
                        placeholder="Seleccione marcas"
                        name="marcas">
              </ng-select>
            </div>
          </div>
    
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary" [disabled]="downloadingAcumulado">
              <span *ngIf="!downloadingAcumulado">Descargar Reporte</span>
              <span *ngIf="downloadingAcumulado">Descargando...</span>
            </button>
          </div>
        </form>
      </div>
    </ng-template>
