
<div class="bg-white rounded p-3 mb-3" >
<div class="row">
  <h5 class="mb-3 font-weight-bold">Detalles</h5>
  <!-- nombre  -->
  <div class="form-group col-md-12 col-lg-3">
    <label for="nombre">Nombre</label>
    <p>{{producto.nombre}}</p>
  </div>
  <!-- categoria -->
  <div class="form-group col-md-12 col-lg-3">
    <label for="id_categoria" class="w-100">Categoría</label>
    <p>{{producto.nombre_categoria}}</p>
  </div>

  <!-- subcategoria -->
  <div class="form-group col-md-12 col-lg-3">
    <label for="id_subcategoria" class="w-100">Subcategoría</label>
    <p>{{producto.subcategoria}}</p>
  </div>
  <!-- marca -->
  <div class="form-group col-md-12 col-lg-3">
    <label for="marca">Marca</label>
    <p>{{producto.marca}}</p>
  </div>

  <!-- <h6 class="my-3 font-weight-bold">Organización</h6> -->
  <hr style=" width: 95%; border-top: 2px solid #d7e2ff; margin: 20px auto;">
 

  <!-- codigo sku  -->
  <div class="form-group col-md-6 col-lg-3">
    <label for="codigo">Código</label>
    <p>{{producto.codigo}}</p>
  </div>
   <!-- unidad de medida -->
   <div class="form-group col-md-4 col-lg-3" *ngIf="producto.tipo != 'Servicio'">
    <label for="medida">U. de Medida</label>
    <p>{{producto.medida}}</p>
  </div>
  <!-- codigo de barra  -->
  <div class="form-group col-md-6 col-lg-3">
    <label for="barcode">Código de barras</label>
    <p>{{producto.barcode}}</p>
  </div>

  <!-- codigo de proveedor  -->
  <div class="form-group col-md-6 col-lg-3">
    <label for="cod_proveed_prod">Código de proveedor</label>
    <p>{{producto.cod_proveed_prod}}</p>
  </div>
</div>
</div>

<div class="bg-white rounded p-3 mb-3">
  <div class="row">

    <h5 class="my-3 font-weight-bold">Precio</h5>
    
    <div class="form-group col-md-4 col-lg-2">
      <label for="precio">Precio sin IVA</label>
      <p>${{producto.precio}}</p>
    </div>
    <div class="form-group col-md-4 col-lg-2">
      <label for="costo">Costo</label>
      <p>${{producto.costo}}</p>
    </div>
    <div class="form-group col-md-4 col-lg-2">
      <label for="tipo_impuesto">Ganancia</label>
      <p>${{ (producto.precio - producto.costo).toFixed(2)}}</p>
    </div>
    <div class="form-group col-md-4 col-lg-2">
      <label for="impuesto">Margen</label>
      <p>${{ ((producto.precio - producto.costo) / producto.precio * 100).toFixed(2) }}</p>
    </div>
    <div class="form-group col-md-4 col-lg-2">
      <label class="fw-bold" for="precio_final">Precio con IVA:</label>
      <p>{{producto.precio_final}}</p>
      <!-- <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="number" placeholder="Escribe aquí" class="form-control" (change)="calPrecioBase()"
        (keyup)="calPrecioBase()" [(ngModel)]="producto.precio_final" name="precio_final">
      </div> -->
    </div>
  </div>
</div>
  
<div class="bg-white rounded p-3 mb-3">
  <div class="row">

  <h5 class="my-3 font-weight-bold">Organización</h5>

  <!-- talla -->
  <div class="form-group col-md-12 col-lg-3">
    <label for="talla" class="w-100">Talla</label>
    <p>{{producto.talla}}</p>
  </div>

  <!-- color -->
  <div class="form-group col-md-12 col-lg-3">
    <label for="color" class="w-100">Color</label>
    <p>{{producto.color}}</p>
  </div>
  <!-- material -->
  <div class="form-group col-md-12 col-lg-3">
    <label for="material" class="w-100">Material</label>
    <p>{{producto.material}}</p>
  </div>

  <!-- dimensiones -->
  <div class="form-group col-md-12 col-lg-3">
    <label for="dimensiones">Dimensiones</label>
    <p>{{producto.dimensiones}}</p>
  </div>

  <hr style=" width: 95%; border-top: 2px solid #d7e2ff; margin: 20px auto;">

  <!-- Descripcion  -->
  <div class="form-group col-md-12 col-lg-6">
    <label for="descripcion">Descripción</label>
    <p>{{producto.descripcion}}</p>
  </div>
  </div>
</div>

  <div class="bg-white rounded p-3 mb-3" *ngIf="producto.tipo == 'Compuesto'">
    <div class="col-lg-12">
      <div class="row">
        <h6 class="my-3 font-weight-bold">Composiciones</h6>
        <div class="table-responsive">
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categoria</th>
                        <th class="text-end">Precio</th>
                        <th class="text-end">Costo</th>
                        <th class="text-end">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center" *ngIf="!loading && producto?.composiciones?.length == 0">
                            <span class="text-muted">No tiene productos agregados</span>
                        </td>
                    </tr>  
                    <tr *ngFor=" let composicion of producto?.composiciones">
                        <td>{{ composicion?.nombre_producto }}</td>
                        <td>{{ composicion?.nombre_categoria }}</td>
                        <td class="text-end">{{ composicion.precio | currency }}</td>
                        <td class="text-end">{{ composicion.costo | currency }}</td>
                        <td class="text-end">{{ composicion.cantidad | number:'1.1' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>        
        
    </div>
</div>

<div class="bg-white rounded p-3 mb-3" *ngIf="producto.id && producto.tipo !='Servicio'">
    <div class="col-lg-12">
      <div class="row">
        <h6 class="my-3 font-weight-bold">Inventario <span class="badge bg-default text-dark">{{ producto.inventarios | sum:'stock' }} unidades</span>
        </h6>
        <div class="table-responsive">
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th>Bodega</th>
                        <th>Sucursal</th>
                        <th class="text-center d-none d-lg-table-cell">Stock mínino</th>
                        <th class="text-center d-none d-lg-table-cell">Stock máximo</th>
                        <th class="text-center">Stock</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td colspan="5" class="text-center" *ngIf="!loading && producto?.inventarios.length == 0">
                            <span class="text-muted">No tiene inventarios configurados</span>
                        </td>
                    </tr>       
                    <tr *ngFor=" let bodega of producto.inventarios">
                        <td>{{ bodega.nombre_bodega }}</td>
                        <td>{{ bodega.nombre_sucursal }}</td>
                        <td class="text-center d-none d-lg-table-cell"><span class="w-100 click d-block" (click)="openModal(mbodega, bodega)">{{ bodega.stock_minimo }}</span></td>
                        <td class="text-center d-none d-lg-table-cell"><span class="w-100 click d-block" (click)="openModal(mbodega, bodega)">{{ bodega.stock_maximo }}</span></td>
                        <td class="text-center">{{ bodega.stock | number:'1.2' }}</td>
                     
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
  </div>
</div>
<div class="bg-white rounded p-3 mb-3" *ngIf="producto.id">
  <div class="row">
    <h6 class="my-3 font-weight-bold">
        Lista de precios
    </h6>
    <div class="table-responsive">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th width="30%">Precio sin IVA</th>
                    <th width="30%">Precio con IVA</th>
                    <th>Usuarios autorizados</th>
                </tr>
            </thead>
            <tbody>
               
                <tr>
                    <td>{{ producto.precio | currency }}</td>
                    <td>{{ (producto.precio * 1) + (producto.precio * (apiService.auth_user().empresa.iva / 100) )  | currency }}</td>
                    <td>Todos</td>
                </tr>

                <tr class="animated fadeIn" *ngFor=" let precio of producto?.precios">
                    <td>{{ precio.precio | currency }}</td>
                    <td>{{ (precio.precio * 1) + (precio.precio * (apiService.auth_user().empresa.iva / 100) )  | currency }}</td>
                    <td>
                        <div class="d-flex gap-2 flex-wrap">
                            <span class="badge bg-default text-dark" *ngFor=" let usuario of precio.usuarios">
                                <img src="{{ apiService.baseUrl }}/img/{{usuario.avatar}}" class="rounded-circle" width="25px">
                                {{ usuario.nombre }}
                            </span> 
                        </div>
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>        

</div>
<div class="bg-white rounded p-3 mb-3" *ngIf="producto.id && producto.tipo !='Servicio'">
  <div class="row">
    <h6 class="my-3 font-weight-bold">Proveedores</h6>
    <div class="table-responsive">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>Proveedor</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th class="d-none d-md-table-cell">DUI</th>
                    <th class="d-none d-md-table-cell">NCR</th>
               
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6" class="text-center" *ngIf="loading">
                        <span class="badge bg-primary">Cargando...</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center" *ngIf="!loading && producto?.proveedores.length == 0">
                        <span class="text-muted">No tiene proveedores agregados</span>
                    </td>
                </tr>        
                <tr *ngFor=" let proveedor of producto.proveedores">
                    <td>{{ proveedor?.proveedor.tipo == 'Persona' ? proveedor?.proveedor.nombre_completo : proveedor?.proveedor.nombre_empresa | truncate:30 }}</td>
                    <td>{{ proveedor?.proveedor.correo }}</td>
                    <td>{{ proveedor?.proveedor.telefono }}</td>
                    <td>{{ proveedor?.proveedor.dui }}</td>
                    <td>{{ proveedor?.proveedor.ncr }}</td>
                    
                </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
<div class="bg-white rounded p-3 mb-3" *ngIf="producto.id && producto?.imagenes.length > 0">
  <h6 class="my-3 font-weight-bold">Imágenes</h6>
  <div class="d-flex gap-2 flex-wrap">
      <figure *ngFor="let imagen of producto.imagenes; let i = index" class="position-relative img-fluid img-thumbnail" style="width: 200px; height: 200px; background-size: cover; background-position: center; background-image: url({{ apiService.baseUrl + '/img/' + imagen.img }});">
          <a class="position-absolute fixed-bottom btn btn-sm btn-danger text-white" (click)="delete(imagen)" tooltip="Eliminar">
              <i class="fa fa-trash"></i>
          </a>
      </figure>  
  </div>
</div>


