<div id="login-box" class="bg-white vh-100">
    <div class="container-fluid h-100">
        <div class="row d-flex align-items-center h-100">
            <div class="col-sm-8 col-md-6 d-none d-md-flex justify-content-center align-items-center position-relative" style="background-image: url('/assets/img/login.jpg'); background-size: cover; background-repeat: no-repeat; height: 100vh;">
            </div>
            <div class="col-12 col-md-6">
                <div class="card border-0 px-5 mx-0 mx-lg-2 shadow-none">
                    <div class="card-body">
                        <app-notificaciones-container></app-notificaciones-container>
                        <a routerLink="/login" class="btn btn-link text-decoration-none mb-3 ps-0">
                            <img src="/assets/icons/arrow-left-stoke.png" style="height: 13px; width: 13px;" class="icon me-2">Regresar
                        </a>
                        <h2>Recupera tu cuenta</h2>
                        <p>
                            Ingresa tu nueva contraseña para recuperar el acceso a tu cuenta.
                        </p>
                        <form class="row mt-5" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>

                            <div class="form-group mb-3">
                                <label>Correo</label>
                                <input type="email" class="form-control" [value]="email" disabled />
                            </div>

                            <div class="form-group mb-3" [ngClass]="{ 'has-error': f.submitted && !pw.valid }">
                                <label>Contraseña</label>
                                <div class="input-group">
                                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="password" [(ngModel)]="password" #pw="ngModel" required minlength="8" />
                                    <div class="input-group-append d-flex">
                                        <button tabindex="-1" class="btn border" type="button" (click)="showPassword = !showPassword">
                                            <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                                        </button>
                                    </div>
                                </div>
                                <small *ngIf="f.submitted && pw.invalid" class="text-danger">
                                    Mínimo 8 caracteres con mayúscula, minúscula, número y carácter especial.
                                </small>
                            </div>

                            <div class="form-group mb-3" [ngClass]="{ 'has-error': f.submitted && !pwc.valid }">
                                <label>Confirma la contraseña</label>
                                <div class="input-group">
                                    <input [type]="showPasswordConfirm ? 'text' : 'password'" class="form-control" name="password_confirmation" [(ngModel)]="password_confirmation" #pwc="ngModel" required />
                                    <div class="input-group-append d-flex">
                                        <button tabindex="-1" class="btn border" type="button" (click)="showPasswordConfirm = !showPasswordConfirm">
                                            <i class="fa-solid" [ngClass]="showPasswordConfirm ? 'fa-eye' : 'fa-eye-slash'"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="d-grid gap-1">
                                <button type="submit" [disabled]="loading" class="btn btn-primary d-block">
                                    <span *ngIf="!loading">Cambiar contraseña</span>
                                    <span *ngIf="loading">Procesando...</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="bg-white text-center mt-3">
                        <p> <img src="assets/img/smartpyme.png" width="150px" alt="smartpyme logo"> </p>
                        <p class="my-4">&copy; {{ anio }} SmartPyme</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
