<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Devoluciones de ventas</h2>
    <button routerLink="/venta/crear" tooltip="Crear venta (F7)" class="btn btn-default tcla-F7"><i class="fa fa-plus"></i> Añadir venta</button>
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row mb-3">
        <div class="col">
            <span class="text-muted" *ngIf="ventas?.total">
                Mostrando {{ ventas?.to }} de {{ ventas?.total + ' registros' }}
            </span>
        </div>

        <div class="col">
            <div class="d-flex gap-2">
                <button tooltip="Descargar ventas" (click)="descargar()" class="btn btn-default tcla-F6"><i class="fa fa-arrow-up-from-bracket fa-rotate-180"></i></button>
                <form class="d-flex input-group" name="form" (ngSubmit)="onFiltrar()" autocomplete="off">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtro.referencia" focus="true">
                </form>
                <button tooltip="Filtrar (F6)" (click)="onFiltrar()" class="btn btn-default tcla-F6"><i class="fa fa-filter"></i></button>
            </div>
        </div>
    </div>

    <div class="d-flex mb-3">
        <div class="col d-flex gap-2">
            <button class="btn btn-primary" (click)="loadAll()">Todos</button>
            <!-- <button class="btn btn-default">Traslados</button> -->
        </div>
        <div class="col d-flex gap-2 justify-content-end">
            <input type="date" name="inicio" [(ngModel)]="filtro.inicio" class="form-control bg-default">
            <input type="date" name="fin" [(ngModel)]="filtro.fin" (change)="onFiltrar()"  class="form-control bg-default">
            <select name="estado" (change)="onFiltrar()" [(ngModel)]="filtro.estado" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="0">Anulada</option>
                <option value="1">Confirmada</option>
            </select>
            <ng-select name="id_cliente" (change)="onFiltrar()" [(ngModel)]="filtro.id_cliente" class="form-select p-0 border-0 bg-default  w-auto" style="min-width: 150px;">
                <ng-option value="">Cliente</ng-option>
                <ng-option *ngFor="let cliente of clientes" [value]="cliente.id">
                    {{cliente.nombre}}
                </ng-option>
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th class="d-none d-md-table-cell">Observaciones</th>
                        <th>Estado</th>
                        <th class="text-right">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="ventas?.total < 1 && !loading">
                            <span class="badge bg-primary">No tiene ventas registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let venta of ventas?.data">
                        
                        <td>{{venta.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{venta.nombre_cliente | truncate:30 }}<a class="float-end d-none"  tooltip="Ver información del cliente" routerLink="/cliente/{{venta.id_cliente}}"><i class="fa fa-edit"></i></a></td>
                        <td>{{venta.observaciones}}</td>
                        <td>
                            <select name="enable" class="form-select w-auto border-0" (change)="setEstado(venta)" [(ngModel)]="venta.enable" [ngClass]="{'bg-light-danger' : venta?.enable == 0, 'bg-light-success' : venta?.enable == 1}">
                                <option value="1">Confirmada</option>
                                <option value="0">Anulada</option>
                            </select>
                        </td>
                        <td class="text-right">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <a routerLink="/devolucion/venta/{{venta.id}}" class="btn btn-light">
                                <i class="fa fa-fw fa-magnifying-glass"></i>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12" *ngIf="ventas?.last_page > 1">
            <app-pagination [items]="ventas" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</section>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-sm-12">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-select" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.categoria">Categoría:</label>
                <input type="text" list="ventas" [(ngModel)]="filtro.categoria" class="form-control" name="filtro.categoria">
                <datalist id="ventas">
                    <option value="Todas">
                    <option value="Transporte">
                    <option value="Alimentación">
                    <option value="Viaticos">
                    <option value="Agua">
                    <option value="Luz">
                    <option value="Teléfono">
                    <option value="Internet">
                    <option value="Cable">
                    <option value="Material de oficina">
                    <option value="Material de limpieza">
                    <option value="Otros">
                </datalist>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
