<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Comisiones <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Comisiones</a></li>
        </ol>
    </div>
</div>

<div class="card">

    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="comisiones?.total"> {{ comisiones?.total + ' registros' }} </span>

        <form name="form"  autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" >
            <button tooltip="Actualizar (F5)" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            <button tooltip="Filtrar (F6)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F6"><i class="fa fa-filter"></i></button>
            <button routerLink="/comision/nueva" tooltip="Crear comisión F7" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
        </div>
        </form>

    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Empleado</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Concepto</th>
                        <th class="text-right">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="comisiones?.total < 1 && !loading">
                            <span class="badge badge-primary">No tiene comisiones registradas</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let comision of comisiones?.data">
                        
                        <td>{{comision.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{comision.nombre_empleado | truncate:'30'}} <a class="float-end d-none"  tooltip="Ver información del empleado" routerLink="/empleado/{{comision.empleado_id}}"><i class="fa fa-edit"></i></a></td>
                        <td>{{comision.tipo}}  <a *ngIf="comision.venta_id" class="float-end d-none"  tooltip="Ver información de la venta" routerLink="/venta/{{comision.venta_id}}"><i class="fa fa-edit"></i></a></td>
                        <td>
                            <span class="badge click" [ngClass]="{'badge-warning' : comision?.estado == 'Pendiente', 'badge-success' : comision?.estado == 'Pagada', 'badge-danger' : comision?.estado == 'Anulada'}" [popover]="popTemplate" [outsideClick]="true">
                                {{comision.estado}}
                            </span>
                            <ng-template #popTemplate>
                                <button class="btn btn-default" *ngIf="comision.estado != 'Pagada'" (click)="setEstado(comision, 'Pagada')">Pagada</button>
                                <button class="btn btn-default" *ngIf="comision.estado != 'Pendiente'" (click)="setEstado(comision, 'Pendiente')">Pendiente</button>
                                <button class="btn btn-default" *ngIf="comision.estado != 'Anulada'" (click)="setEstado(comision, 'Anulada')">Anulada</button>
                            </ng-template>
                        </td>
                        <td>{{comision.concepto}}</td>
                        <td class="text-right">{{comision.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" (click)="delete(comision.id)" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a class="btn btn-default" routerLink="/comision/{{ comision.id }}" data-toggle="tooltip" tooltip="Editar">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="comisiones?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="comisiones" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-md-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-md-12">
                <label for="filtro.usuario">Empleado:</label>
                <ng-select name="empleado_id" [(ngModel)]="filtro.empleado_id">
                    <ng-option *ngFor="let empleado of empleados" [value]="empleado.id">
                        {{empleado.nombre}}
                    </ng-option>
                </ng-select>
            </div>
            <div class="form-group col-md-6">
                <label for="filtro.tipo">Tipo:</label>
                <select [(ngModel)]="filtro.tipo" class="form-select" name="filtro.tipo">
                    <option value="">Todos</option>
                    <option value="Por venta">Por venta</option>
                    <option value="Por meta">Por meta</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-select" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Pagada">Pagada</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
