<div class="d-flex justify-content-between bg-white rounded p-3 mb-3">
    <h3>Nueva devolucion de compra</h3>
    <button class="btn btn-light text-danger" routerLink="/devoluciones/compras">Cancelar <i class="fa fa-close"></i></button>
</div>

<section class="card">
<form  name="facturacion" autocomplete="off" (ngSubmit)="onDevolucion()">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="fecha">Fecha</label><br>
                <input type="date" class="form-control" [(ngModel)]="compra.fecha" name="fecha" id="fecha" required>
            </div>
            <div class="form-group col-md-10">
                <div class="form-group">
                    <label for="">Observaciones:</label>
                    <input type="text" class="form-control" [(ngModel)]="compra.observaciones" name="observaciones" placeholder="Escribe aquí" required>
                </div>
            </div>
        </div>
        <h6 class="my-3">Datos de la compra</h6>
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Forma de pago</th>
                    <th>Tipo de documento</th>
                </tr>
                <tr>
                    <td>{{ compra.fecha | date:'yy/MM/yyyy'}}</td>
                    <td>{{ compra.nombre_proveedor }}</td>
                    <td>{{ compra.nombre_usuario }}</td>
                    <td>{{ compra.estado }}</td>
                    <td>{{ compra.forma_pago }}</td>
                    <td>{{ compra.tipo_documento }} #{{ compra.referencia }}</td>
                </tr>
            </table>
        </div>    
    </div>

    <div class="card-body">
        <div class="row">
            <app-devolucion-compra-detalles [compra]="compra" (update)="updateCompra($event)" (sumTotal)="sumTotal()"></app-devolucion-compra-detalles>
            <div class="col-md-12">
                <table class="table table-sm table-borderless table-condensed mb-0">
                    <tbody>
                        <tr>
                            <td class="text-right"> Sub Total: </td>
                            <td width="70px" class="text-right"> {{ compra.sub_total | currency:'USD':'symbol':'1.2'}} </td>
                        </tr>
                        <tr>
                            <td class="text-right"> IVA: </td>
                            <td width="70px" class="text-right"> {{ compra.iva | currency:'USD':'symbol':'1.2'}} </td>
                        </tr>
                       <!--  <tr>
                            <td class="text-right">
                                <div class="form-check form-switch w-100">
                                    <label class="form-check-label" for="compra.percepcion">
                                        <input id="compra.percepcion" class="form-check-input" type="checkbox" (change)="sumTotal()" [(ngModel)]="compra.percepcion" name="compra.percepcion" *ngIf="!loading">
                                        IVA percibido:
                                    </label>
                                </div>
                            </td>
                            <td  width="70px" class="text-right">
                               {{ (compra.iva_percibido ) | currency:'USD':'symbol':'1.2'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <div class="form-check form-switch w-100">
                                    <label class="form-check-label" for="compra.retencion">
                                        <input id="compra.retencion" class="form-check-input" type="checkbox" (change)="sumTotal()" [(ngModel)]="compra.retencion" name="compra.retencion" *ngIf="!loading">
                                        IVA retenido:
                                    </label>
                                </div>
                            </td>
                            <td  width="70px" class="text-right">
                               {{ (compra.iva_retenido ) | currency:'USD':'symbol':'1.2'}}
                            </td>
                        </tr> -->
                      <!--   <tr>
                            <td class="text-right">No Sujeta:</td>
                            <td width="70px" class="text-right">{{ compra.no_sujeta | currency:'USD':'symbol':'1.2'}}</td>
                        </tr>
                        <tr>
                            <td class="text-right">Exenta:</td>
                            <td width="70px" class="text-right">{{ compra.exenta | currency:'USD':'symbol':'1.2'}}</td>
                        </tr>
                        <tr>
                            <td class="text-right">Gravada:</td>
                            <td width="70px" class="text-right">{{ compra.gravada | currency:'USD':'symbol':'1.2'}}</td>
                        </tr> -->
                        <tr>
                            <td class="text-right"> <b>Total:</b> </td>
                            <td width="70px" class="text-right"><b> {{ compra.total | currency:'USD':'symbol':'1.2'}}</b> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary float-end" id="submit" [disabled]="saving">
                    <span *ngIf="!saving">Guardar</span>
                    <span *ngIf="saving">Guardando...</span>
                </button>
            </div>
        </div>
    </div>
</form>
</section>
