<section class="card">
    <div class="card-body">
        <h4 class="my-3 font-weight-bold">Documentos</h4>
        <div class="row">
            <div id="main-content" class="file_manager">
                <div class="container">            
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <figure class="img-thumbnail file-upload d-flex justify-content-center align-items-center" tooltip="Agregar" style="min-height: 200px;">
                                        <i class="fa fa-image fa-2x text-muted"></i>
                                        <input type="file" name="img" (change)="setFile($event)" accept="image/jpeg, image/jpg, application/pdf" title="Agregar documento (jpg o pdf)">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let documento of empleado.documentos; let i = index">
                            <div class="card">
                                <div class="file">
                                    <a class="click" (click)="verDocumento(documento)">
                                        <div class="hover">
                                            <button type="button" class="btn btn-icon btn-danger" (click)="delete(documento)" tooltip="Eliminar" placement="bottom">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                        <div class="icon">
                                            <i *ngIf="documento.tipo == 'jpeg' || documento.tipo == 'jpg'" class="fa fa-image text-warning"></i>
                                            <i *ngIf="documento.tipo == 'pdf'" class="fa fa-file-pdf text-primary"></i>
                                        </div>
                                    </a>
                                    <div class="file-name">
                                        <p class="m-b-5 text-muted"><input type="text" class="border-0" [(ngModel)]="documento.nombre" name="nombre" (change)="updateNombre(documento)" title="Edita el nombre desde acá"/><span class="float-end"> {{ documento.tipo }}</span></p>
                                        <small>Tamaño: {{ documento.tamano }} <span class="date text-muted">{{ documento.created_at | date:'MMM d, YYYY'}}</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          

        </div>
    </div>
</section>
