<h4 class="my-3 font-weight-bold w-100">Deducciones
    <a  *ngIf="listadeducciones.length > empleado.deducciones.length"  class="btn btn-default float-end"  (click)="openModal(mdeduccion)" tooltip="Agregar deducción">
            <i class="fa fa-plus"></i>
        </a>
    </h4>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr> <th>Deducción</th><th>Tipo</th><th>Total</th><th class="text-center"><i class="fa fa-cog"></i></th> </tr>
        </thead>
        <tbody>
            <tr *ngFor="let deduccion of empleado.deducciones"> 
                <td>{{ deduccion.nombre_deduccion }}</td>
                <td>{{ deduccion.tipo }}</td>
                <td>
                    <span *ngIf="deduccion.tipo == 'Porcentaje'">
                        {{ deduccion.total }}%
                    </span>
                    <span *ngIf="deduccion.tipo == 'Monto fijo'">
                        ${{ deduccion.total }}
                    </span>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-danger" (click)="delete(deduccion.id)"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #mdeduccion>
  <div class="modal-header">
    <h3 class="modal-title text-center">Deducción</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row text-center">
            <div class="form-group col-md-12">
                <label for="empleado">Nombre:</label>
                <select (change)="onSelectDeduccion($event.target.value)" class="form-control form-select">
                    <option value="" selected>Seleccionar deduccion</option>
                    <option value="{{deduccion.id}}" *ngFor="let deduccion of listadeducciones">{{ deduccion.nombre }}</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="tipo">Tipo:</label>
                <select [(ngModel)]="deduccion.tipo" class="form-control form-select" name="tipo">
                    <option value="Porcentaje">Porcentaje</option>
                    <option value="Monto fijo">Monto fijo</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="total">Monto a deducir:</label>
                <div class="input-group">
                    <span class="input-group-text" *ngIf="deduccion.tipo == 'Monto fijo'">$</span>
                    <input type="number" class="form-control" step="any" [(ngModel)]="deduccion.total" name="total">
                    <span class="input-group-text" *ngIf="deduccion.tipo == 'Porcentaje'">%</span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>

    </form>
  </div>
</ng-template>