<div class="card metric-card">
    <div class="card-body pt-3 ps-3 pe-3 pb-3">
        <div class="label-text-upper text-muted mb-1">
            {{ data.title }}
        </div>
        <div class="value-text mb-1 text-dark">
            <span *ngIf="shouldShowCurrency()">$</span>{{ formatValue(data.value) }}
        </div>
        <div class="trend-indicator mb-0" *ngIf="data.trend">
            <span [ngClass]="trendColor" class="d-inline-flex align-items-center gap-1">
                <i class="fas" [ngClass]="trendIcon"></i>
                <span class="fw-medium">{{ formatTrendValue(data.trend.value) }}</span>
                <span class="text-muted small">comparativa anual</span>
            </span>
        </div>
    </div>
</div>