<form autocomplete="off" (ngSubmit)="descargar()">
    <div class="row">

        <div class="form-group col-sm-12">
            <label for="filtros.fecha">¿A qué fecha deseas ver como estaba tu inventario?:</label>
            <input type="date" [(ngModel)]="filtros.fecha" class="form-control" name="filtros.fecha">
        </div>            
    </div>
    
    <div class="d-grid mt-3">
        <button type="submit" [disabled]="downloading" class="btn btn-primary">
            <span *ngIf="!downloading">Descargar</span>
            <span *ngIf="downloading">Descargando...</span>
        </button>
    </div>
</form>
