<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Usuarios</h2>
    <button (click)="openModal(mdetalle, {})"  tooltip="Crear canal (F7)" class="btn btn-default tcla-F7"><i class="fa fa-plus"></i> Añadir usuario</button>
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row mb-3">
        <div class="col">
            <span class="text-muted" *ngIf="usuarios?.lenght">
                Mostrando {{ usuarios?.lenght + ' registros' }}
            </span>
        </div>

        <div class="col">
            <div class="d-flex gap-2">
                <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtro.nombre" focus="true">
                <button tooltip="Filtrar (F6)" class="btn btn-default tcla-F6"><i class="fa fa-filter"></i></button>
            </div>
        </div>
    </div>

    <div class="d-flex mb-3">
        <div class="col d-flex gap-2">
            <button class="btn btn-primary" (click)="loadAll()">Todos</button>
            <!-- <button class="btn btn-default">Traslados</button> -->
        </div>
        <div class="col d-flex gap-2 justify-content-end">
            <select name="estado"  [(ngModel)]="filtro.estado" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>
    </div>
    <div class="row">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Sucursal</th>
                    <th class="text-center">Activo</th>
                    <th class="text-center">Último inicio de sesión</th>
                    <th class="text-center"><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="9" class="text-center" *ngIf="usuarios?.total < 1 && !loading">
                        <span class="badge bg-primary">No tiene usuarios registrados</span>
                    </td>
                    <td colspan="9" class="text-center" *ngIf="loading">
                        <span class="badge bg-primary">Cargando...</span>
                    </td>
                </tr>

                <tr *ngFor=" let usuario of usuarios | filter:'name':filtro.nombre | filter:'enable':filtro.estado">                    
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.tipo}}</td>
                    <td>{{usuario.nombre_sucursal}}</td>
                    <td class="text-center" >
                        <input type="checkbox" [(ngModel)]="usuario.enable" (change)="setEstado(usuario)">
                    </td>
                    <td class="text-center">{{ usuario.ultimo_login | date:'dd/MM/yyy hh:mm a' }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a *ngIf="usuario.id != 1" class="btn btn-default" (click)="delete(usuario.id)" data-toggle="tooltip" title="Eliminar">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a class="btn btn-default" routerLink="/usuario/{{usuario.id}}" data-toggle="tooltip" title="Ver">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>  
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="col-12" *ngIf="usuarios?.last_page > 1">
            <app-pagination [items]="usuarios" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</section>


<ng-template #mdetalle>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Canal</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-12">
                <label for="canal.nombre">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="canal.nombre" name="canal.nombre" focus="true">
            </div>
            <div class="form-group col-12">
                <label for="canal.enable">Activo</label>
                <input type="checkbox" class="form-check" [(ngModel)]="canal.enable" name="canal.enable">
            </div>
            <div class="form-group col-12">
                <label for="canal.descripcion">Descripción</label>
                <textarea name="canal.descripcion" class="form-control" cols="30" rows="3" [(ngModel)]="canal.descripcion"></textarea>
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                <span *ngIf="!loading">Añadir</span>
                <span *ngIf="loading">Añadiendo...</span>
            </button>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #musuario>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Usuario</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">   
            <div class="form-group col-md-6">
                <label for="nombre">* Nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.name" name="nombre" placeholder="Nombre" focus="true">
            </div>
            <div class="form-group col-sm-6">
                <label for="username">Usuario:</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" placeholder="Usuario" required>
            </div>
            <div class="form-group col-md-6">
                <label for="tipo">* Tipo:</label>
                <select name="tipo" [(ngModel)]="usuario.tipo" class="form-control form-select">
                    <option value="Administrador">Administrador</option>
                    <option value="Supervisor">Supervisor</option>
                    <!-- <option value="Mesero">Mesero</option> -->
                    <option value="Vendedor">Vendedor</option>
                    <option value="Cajero">Cajero</option>
                </select>
            </div>
            <div class="form-group col-sm-6" *ngIf="usuario.tipo == 'Supervisor'">
                <label for="codigo">* Codigo:</label>
                <input type="password" class="form-control" [(ngModel)]="usuario.codigo" name="codigo" placeholder="Código para autorizaciones">
            </div>
            <div class="form-group col-md-6" *ngIf="usuario.id != 1">
                <label for="sucursal_id">* Sucursal:</label>
                <select [(ngModel)]="usuario.sucursal_id" class="form-control form-select" name="sucursal_id">
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6" *ngIf="usuario.tipo == 'Cajero'">
                <label for="caja_id">* Caja:</label>
                <select [(ngModel)]="usuario.caja_id" class="form-control form-select" name="caja_id">
                    <option *ngFor="let caja of cajas" [ngValue]="caja.id">
                        {{ caja.tipo }} - {{ caja.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6" *ngIf="usuario.tipo == 'Cocinero'">
                <label for="departamento_id">* Departamento:</label>
                <select [(ngModel)]="usuario.departamento_id" class="form-control form-select" name="departamento_id">
                    <option value="0">General</option>
                    <option *ngFor="let departamento of departamentos.data" [ngValue]="departamento.id">
                        {{ departamento.nombre }}
                    </option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Es empleado:</label>
                <input type="checkbox" class="form-check" [(ngModel)]="usuario.empleado" name="empleado">
            </div>
            <div class="form-group col-md-6">
                <label>Esta activo </label>
                <input type="checkbox" class="form-check" [(ngModel)]="usuario.activo" name="activo">
            </div>
            <p class="col-xs-12" *ngIf="!usuario.id"><b>Nota:</b> <br> La contraseña por defecto es "emple", el usuario puede cambiarla al iniciar sesión.</p>
        </div>

        <div class="row" *ngIf="usuario.id == apiService.auth_user().id">
            <div class="form-group col-md-6">
              <label for="password">* Contraseña:</label>
              <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" placeholder="Ingrese una contraseña para reemplazar la actual">
            </div>
            <div class="form-group col-md-6">
              <label for="password_confirmation">* Confirmar contraseña:</label>
              <input type="password" class="form-control" [(ngModel)]="usuario.password_confirmation" name="password_confirmation" placeholder="Confirme la contraseña">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-12">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="tipo">* Tipo:</label>
                <select name="tipo" [(ngModel)]="filtro.tipo" class="form-control form-select">
                    <option value="">Todos</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Supervisor">Supervisor</option>
                    <option value="Vendedor">Vendedor</option>
                    <option value="Cajero">Cajero</option>
                </select>
            </div>

        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
