<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Servicios</h2>
    <button *ngIf="apiService.canCreate() ||  apiService.auth_user().tipo == 'Citas'" routerLink="/servicio/crear" [queryParams]="{ tipo:'Servicio' }" tooltip="Crear servicio (F4)" class="btn btn-default tcla-F4"><i class="fa fa-plus"></i> Añadir servicio</button>
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            <span class="text-muted d-flex align-items-center gap-2" *ngIf="servicios?.total">
                Mostrando 
                <select name="paginate" class="form-select w-auto" (change)="filtrarServicios()" [(ngModel)]="filtros.paginate">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                 de {{ servicios?.total + ' registros' }}
            </span>
        </div>

        <div class="col-md-6 mb-3">
            <div class="d-flex gap-2">
                <app-importar-excel (loadAll)="loadAll()" [nombre]="'servicios'"></app-importar-excel>
                <button [disabled]="downloading" tooltip="Descargar servicios" (click)="descargar()" class="btn btn-default tcla-F6">
                    <img src="/assets/icons/download.png" class="icon">
                </button>
                <form class="d-flex input-group" name="form" (ngSubmit)="filtrarServicios()" autocomplete="off">
                    <input type="search" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtros.buscador">
                </form>
                <!-- <button tooltip="Filtrar (F3)" (click)="filtrarServicios()" class="btn btn-default tcla-F3"><i class="fa fa-filter"></i></button> -->
            </div>
        </div>
    </div>
    <div class="d-flex mb-3">
        <div class="col d-flex gap-2">
            <button class="btn btn-primary tcla-F5" tooltip="Actualizar (F5)" (click)="loadAll()">Todos</button>
            <!-- <button class="btn btn-default">Traslados</button> -->
        </div>
        <div class="col d-flex gap-2 justify-content-end">
            <select name="filtros.estado" [(ngModel)]="filtros.estado" class="form-select bg-default w-auto" (change)="filtrarServicios()">
                <option value="">Estado</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
            <ng-select name="id_categoria" (change)="filtrarServicios()" [(ngModel)]="filtros.id_categoria" class="form-select p-0 border-0 bg-default" style="width: 150px;">
                <ng-option value="">Categoria</ng-option>
                <ng-option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{categoria.nombre}}
                </ng-option>
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-borderless table-hover align-middle">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th class="d-none d-lg-table-cell">Estado</th>
                        <th class="d-none d-md-table-cell">Categoria</th>
                        <th class="text-right">Precio sin IVA</th>
                        <th class="text-right">Precio con IVA</th>
                        <th class="text-center" *ngIf="apiService.canEdit()">Más</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="servicios?.total < 1 && !loading">
                            <span class="badge bg-primary">No tiene servicios registrados</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let servicio of servicios?.data">
                        <td>
                            <img src="{{ apiService.baseUrl }}/img/{{ servicio.img }}" class="rounded-circle" width="50px"> 
                            {{ servicio.nombre }}
                        </td>
                        <td class="d-none d-lg-table-cell">
                            <select name="enable" (change)="setEstado(servicio)" class="form-select w-auto border-0" [(ngModel)]="servicio.enable" [ngClass]="{'bg-light-danger' : servicio?.enable == 0, 'bg-light-success' : servicio?.enable == 1}">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </td>
                        <td class="d-none d-md-table-cell">{{ servicio.nombre_categoria }}</td>
                        <td class="text-right">{{ servicio.precio  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-right">{{ (servicio.precio * 1) + (servicio.precio * (apiService.auth_user().empresa.iva / 100) )  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center" *ngIf="apiService.canEdit()">
                            <a class="btn btn-default" routerLink="/servicio/editar/{{servicio.id}}" tooltip="Ver y editar">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12" *ngIf="servicios?.last_page > 1">
            <app-pagination [items]="servicios" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</section>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="filtros.categoria_id">Categoria:</label>
                <select [(ngModel)]="filtros.categoria_id" class="form-control" name="filtros.categoria_id">
                    <option value="">Todos</option>
                    <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                        {{ categoria.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.stock_bodega">Inventario bajo en Bodega:</label>
                <input type="checkbox" [(ngModel)]="filtros.stock_bodega" class="form-check" name="filtros.stock_bodega">
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.stock_venta">Inventario bajo en Sala Venta:</label>
                <input type="checkbox" [(ngModel)]="filtros.stock_venta" class="form-check" name="filtros.stock_venta">
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.sin_control_inventario">Sin control de inventario:</label>
                <input type="checkbox" [(ngModel)]="filtros.sin_control_inventario" class="form-check" name="filtros.sin_control_inventario">
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.sin_condigo">Sin código de barras:</label>
                <input type="checkbox" [(ngModel)]="filtros.sin_condigo" class="form-check" name="filtros.sin_condigo">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mprecio>
  <div class="modal-header">
    <h2 class="modal-title text-center">{{ servicio.nombre}}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
  
            <div class="form-group col-md-12">
                <label for="precio">Precio:</label>
                <input type="number" class="form-control text-center" [(ngModel)]="servicio.precio" name="precio" placeholder="Precio">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block tcla-F4" [disabled]="loading || !servicio.precio">
                    <span *ngIf="!loading">Guardar <small>(F4)</small></span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
