<div class="d-flex justify-content-between bg-white rounded p-3 mb-3">
    <h3>Nueva Transaccion</h3>
    <button class="btn btn-light text-danger" routerLink="/admin/facturaciones"><i class="fa fa-arrow-left"></i> Regresar</button>
</div>

<section class="card border-0 p-3 mb-3">
    <div class="row">
        <div class="form-group col-md-4 col-lg-2">
            <label for="fecha">Fecha</label><br>
            <input type="date" class="form-control" [(ngModel)]="facturacion.fecha" name="fecha" id="fecha">
        </div>
        <div class="form-group col-md-4 col-lg-3">
            <label for="id_usuario">Usuario</label>
            <select name="id_usuario" [(ngModel)]="facturacion.id_usuario" class="form-select">
                <option [value]="usuario.id" *ngFor="let usuario of usuarios">
                    {{ usuario.name }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-4 col-lg-2">
            <label for="id_documento">Documento</label>
            <select name="id_documento" [(ngModel)]="facturacion.id_documento" class="form-select">
                <option>Factura</option>
                <option>Credito fiscal</option>
            </select>
        </div>
        <div class="form-group col-md-4 col-lg-2">
            <label for="correlativo">Correlativo</label>
            <input type="number" class="form-control" [(ngModel)]="facturacion.correlativo" name="correlativo" id="correlativo">
        </div>
    </div>
    <div class="row">
        <h6 class="mt-3">Detalles de la facturacion</h6>
        <div class="form-group col-md-12 col-lg-4">
            <label for="">Empresas</label>
            <div class="input-group flex-nowrap">
                <ng-select name="id_empresa" placeholder="Consumidor Final" [(ngModel)]="facturacion.id_empresa" class="form-select p-0">
                    <ng-option value=""> Consumidor final </ng-option>
                    <ng-option value="" *ngIf="loading"> Cargando clientes... </ng-option>
                    <ng-option *ngFor="let cliente of clientes" [value]="cliente.id">
                        {{ cliente.nombre }}
                    </ng-option>
                </ng-select>
                <!-- <app-crear-cliente [id_empresa]="facturacion.id_empresa" (update)="setCliente($event)"></app-crear-cliente> -->
            </div>
        </div>
        <div class="form-group col-md-12 col-lg-5" *ngIf="facturacion.cotizacion != 1">
            <label for="observaciones">Observaciones:</label><br>
            <input type="text" class="form-control" placeholder="Escribe aquí" [(ngModel)]="facturacion.observaciones" name="observaciones">
        </div>
    </div>
</section>

<section class="card border-0 p-3 mb-3">

    <div class="row">
        <div class="form-group col-md-4 col-lg-4">
            <label for="cliente">A nombre de:</label><br>
            <input type="text" class="form-control" placeholder="Escribe aquí" [(ngModel)]="facturacion.cliente" name="cliente">
        </div>
        <div class="form-group col-md-4 col-lg-4">
            <label for="descripcion">Concepto:</label><br>
            <input type="text" class="form-control" placeholder="Escribe aquí" [(ngModel)]="facturacion.descripcion" name="descripcion">
        </div>
        <div class="form-group col-md-4 col-lg-4">
            <label for="total">Total:</label><br>
            <input type="text" class="form-control" placeholder="Escribe aquí" [(ngModel)]="facturacion.total" name="total">
        </div>
    </div>

</section>
<section class="card border-0 p-3 mb-3">
    <div class="row">
        <h6 class="mt-3">Detalles de facturación</h6>
        <!-- Estado: {{ facturacion.estado }} -->
        <div class="form-group col-md-6 col-lg-3 without-label" >
            <div class="form-switch border rounded">
              <label for="credito">Venta al crédito</label>
              <input class="form-check-input float-end" type="checkbox" role="switch" (change)="setCredito()" [(ngModel)]="facturacion.credito" name="facturacion.credito">
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-3">
            <label for="fecha_pago">Fecha de pago:</label><br>
            <input type="date" class="form-control" [(ngModel)]="facturacion.fecha_pago" name="fecha_pago" id="fecha_pago">
        </div>


        <div class="form-group col-md-6 col-lg-3" *ngIf="facturacion.cotizacion != 1">
            <label for="forma_pago">Método de pago</label>
            <div class="input-group flex-nowrap">
                <select name="forma_pago" (change)="cambioMetodoDePago()" [(ngModel)]="facturacion.forma_pago" class="form-select">
                    <option>Efectivo</option>
                    <option>Tarjeta</option>
                    <option>Transferencia</option>
                    <option>N1co</option>
                    <option>Wompi</option>
                </select>
                <app-metodos-de-pago [facturacion]="facturacion" [formaPagos]="formaPagos" (update)="totalPorMetodoDePago()"></app-metodos-de-pago>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <button type="submit" (click)="onSubmit()" [disabled]="saving" class="ml-3 btn btn-primary float-end tcla-F8" title="Procesar facturacion (F8)">
                <span *ngIf="!saving">
                    Procesar
                    <span>Transacción</span>
                    <img src="assets/icons/arrow-right-stroke.png" class="icon2 ms-2">
                </span>
                <span *ngIf="saving">Procesando...</span>
            </button>
            <!-- <button type="submit" (click)="openModalFacturar(mfacturar)" [disabled]="loading" class="ml-3 btn btn-primary float-end tcla-F10" title="Procesar facturacion (F10)">
                Revisar información <img src="assets/icons/arrow-right-stroke.png" class="icon2 ms-2">
            </button> -->
            <button (click)="limpiar()" class="tcla-Delete" style="opacity: 0;">.</button>
        </div>
    </div>
</section>


<ng-template #mfacturar>
  <div class="modal-header">
    <div class="modal-title text-center w-100">
        <p class="my-0">{{facturacion.tipo_documento}}</p>
        <h3>{{facturacion.correlativo}}</h3>
    </div>
    <button type="button" class="close float-end btn-option" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <h4 class="col-md-6">Total: <span class="badge badge-primary">{{ facturacion.total | currency:'USD':'symbol':'1.2' }}</span></h4>
            <h4 class="col-md-6">Vuelto: <span class="badge badge-info" *ngIf="facturacion.recibido">{{ facturacion.recibido - facturacion.total | currency:'USD':'symbol':'1.2' }}</span> <span class="badge badge-info" *ngIf="!facturacion.recibido">$0.00</span></h4>
            <div class="form-group text-center col-md-12 my-3">
                <label for="recibido">Recibido:</label>
                <input type="number" name="recibido" [(ngModel)]="facturacion.recibido" placeholder="{{ facturacion.total | currency:'USD':'symbol':'1.2' }}" class="form-control text-center">
            </div>

            <div class="form-group col-md-12 mb-3" *ngIf="!facturacion.nota">
                <label for="nota">Nota:</label><br>
                <input type="text" class="form-control" [(ngModel)]="facturacion.nota" name="nota" id="nota">
            </div>

            <label class="mt-4" style="font-size: 16px;"><input style="width: 15px; height: 15px;" type="checkbox" [(ngModel)]="imprimir" name="imprimir"> Imprimir</label>

        </div>
        <div class="row text-center">
            <div class="col-md-12 mt-4">
                <button type="submit" class="btn btn-primary btn-block tcla-F12" id="submit" [disabled]="loading">
                    <span *ngIf="!loading">Cobrar <small>(F12)</small></span>
                    <span *ngIf="loading">Cobrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #msupervisor>
  <div class="modal-header">
    <h4 class="modal-title text-center">Autorización</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form name="form" (ngSubmit)="supervisorCheck()">
            <div class="form-group col-md-12">
                <label for="codigo">Ingrese el código de supervisor:</label>
                <input type="password" [(ngModel)]="supervisor.codigo" name="codigo" class="form-control text-center">
            </div>
            <div class="col-md-12">
                <button [disabled]="loading || !supervisor.codigo" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>
