<div class="d-flex justify-content-between bg-white rounded p-3 mb-3">
    <h3 (click)="loadAll()">{{ producto.id ? 'Editar ' : 'Crear ' }} {{ producto.tipo == 'Servicio' ? 'Servicio' : 'Producto' }}</h3>
    @if (producto.tipo == 'Producto' || producto.tipo == 'Compuesto') {
        <button class="btn btn-light text-danger" onclick="history.back()"><i class="fa fa-arrow-left"></i> Regresar</button>
    }
    @if (producto.tipo == 'Servicio') {
        <button class="btn btn-light text-danger" onclick="history.back()"><i class="fa fa-arrow-left"></i> Regresar</button>
    }
    @if (producto.tipo == 'Materias') {
        <button class="btn btn-light text-danger" onclick="history.back()"><i class="fa fa-arrow-left"></i> Regresar</button>
    }
</div>

<div class="bg-white rounded p-3 mb-3">
    <div class="row mb-3">
        <div class="col-md-12">
            <app-producto-informacion [producto]='producto' (productoActualizado)="trackProductoMutado()"></app-producto-informacion>
        </div>
    </div>
</div>
@if (producto.tipo == 'Compuesto') {
    <div class="bg-white rounded p-3 mb-3">
        <div class="col-lg-12">
            <app-producto-composicion [producto]='producto'></app-producto-composicion>
        </div>
    </div>
}
@if (producto.id && producto.tipo !='Servicio' && !producto.inventario_por_lotes) {
    <div class="bg-white rounded p-3 mb-3">
        <div class="col-lg-12">
            <app-producto-inventarios [producto]='producto'></app-producto-inventarios>
        </div>
    </div>
}
@if (producto.id && producto.tipo !='Servicio' && producto.inventario_por_lotes) {
    <div class="bg-white rounded p-3 mb-3">
        <div class="col-lg-12">
            <app-producto-lotes [producto]='producto'></app-producto-lotes>
        </div>
    </div>
}
@if (producto.id) {
    <div class="bg-white rounded p-3 mb-3">
        <div class="col-lg-12">
            <app-producto-precios [producto]='producto'></app-producto-precios>
        </div>
    </div>
}
@if (producto.id && producto.tipo !='Servicio') {
    <div class="bg-white rounded p-3 mb-3">
        <div class="col-lg-12">
            <app-producto-proveedores [producto]='producto'></app-producto-proveedores>
        </div>
    </div>
}
@if (producto.id) {
    <div class="bg-white rounded p-3 mb-3">
        <div class="col-md-12">
            <app-producto-imagenes [producto]='producto'></app-producto-imagenes>
        </div>
    </div>
}
