<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Propinas <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Propinas</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header pb-0">
        <div class="row">
            
            <div class="form-group col-md-2">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-md-2">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-md-3">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control form-select" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>

            <div class="form-group col-md-2 pt-2">
                <button tooltip="Filtrar" (click)="loadAll()" class="mt-4 btn btn-default tcla-F5"><i class="fa fa-filter"></i></button>
            </div>
        </div>
        <p class="col-12 mb-0 text-center" *ngIf="propinas?.total">
            {{ propinas?.total + ' registros' }} |
            <span *ngIf="filtrado">{{ propinas?.data | sum:'propina' | currency:'USD':'symbol':'1.2'  }}</span>
        </p>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Usuario</th>
                        <th class="text-center">Propina</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="propinas?.total < 1 && !loading">
                            <span class="badge badge-info">No tiene propinas registradas</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let venta of propinas?.data">
                        
                        <td>{{venta.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{venta.nombre_cliente | truncate:'30'}}</td>
                        <td>{{venta.nombre_usuario | truncate:30}}</td>
                        
                        <td class="text-center">{{venta.propina | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" routerLink="/facturacion/{{venta.id}}" tooltip="Ver">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                                <a *ngIf="apiService.auth_user().tipo == 'Empleado'" class="btn btn-default" (click)="reemprimir(venta)" tooltip="Reemprimir">
                                    <i class="fa fa-print"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="propinas?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="propinas" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>