<section class="d-flex justify-content-between bg-white p-2 p-md-4 rounded mb-3">
    <h2 class="page-heading">Devolución de venta</h2>
    <button class="btn btn-light text-danger" routerLink="/devoluciones/ventas">Cancelar <i class="fa fa-close"></i></button>
</section>
<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">
            Información
            <a *ngIf="venta.credito" routerLink="/credito/{{venta.credito.id}}" class="btn btn-default float-end" tooltip="Ver crédito">
                <i class="fa fa-money-check"></i>
            </a>
        </h4>
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Usuario</th>
                    <th>Venta</th>
                </tr>
                <tr>
                    <td>{{ venta.fecha | date:'dd/MM/yyyy'}}</td>
                    <td>{{ venta.nombre_cliente }}</td>
                    <td>{{ venta.nombre_usuario }}</td>
                    <td>{{ venta.venta.nombre_documento }} #{{ venta.venta.correlativo }}</td>
                </tr>
                <tr><th colspan="4">Observaciones:</th></tr>
                <tr><td colspan="4">{{ venta.observaciones }}</td></tr>
            </table>
        </div>    
    </div>

</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">Detalle</h4>
        <div class="table-responsive" style="min-height: 300px;">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="text-center">N°</th>
                        <th>Producto</th>
                        <th class="text-end">Precio</th>
                        <th class="text-end">Descuento</th>
                        <th class="text-end">Cantidad</th>
                        <th class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <td colspan="8" class="text-center" *ngIf="venta.detalles?.length < 1 && !loading">
                        <span class="badge badge-info">No tiene productos agregados</span>
                    </td>
                    <td colspan="8" class="text-center" *ngIf="loading">
                        <span class="badge badge-info">Cargando...</span>
                    </td>
                    <tr *ngFor="let detalle of venta.detalles; let i=index">
                        <td class="text-center"> {{ i + 1 }} </td>
                        <td> {{ detalle.nombre_producto }} </td>
                        <td class="text-end">{{ detalle.precio | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-end">{{ detalle.descuento | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-end">{{ detalle.cantidad }}</td>
                        <td class="text-end">{{ detalle.total | currency:'USD':'symbol':'1.2' }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>Sub Total:</b></td>
                        <td class="text-end"><b>{{ venta?.sub_total | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>IVA:</b></td>
                        <td class="text-end"><b>{{ venta?.iva | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr *ngIf="venta?.descuento > 0">
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>Descuento:</b></td>
                        <td class="text-end"><b>{{ venta?.descuento | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr *ngIf="venta?.iva_retenido > 0">
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>Retención:</b></td>
                        <td class="text-end"><b>{{ venta?.iva_retenido | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr *ngIf="venta?.exenta > 0">
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>Ventas Exentas:</b></td>
                        <td class="text-end"><b>{{ venta?.exenta | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr *ngIf="venta?.no_sujeta > 0">
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>Ventas No Sujetas:</b></td>
                        <td class="text-end"><b>{{ venta?.no_sujeta | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr *ngIf="venta.cuenta_a_terceros > 0">
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"> <b>Cuenta a terceros</b> </td>
                        <td class="text-end"><b> {{ venta.cuenta_a_terceros | currency:'USD':'symbol':'1.2'}}</b> </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>Total:</b></td>
                        <td class="text-end"><b>{{ venta?.total | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
