<div class="d-flex justify-content-end mb-3">
  <div class="col-lg-6 d-flex gap-2">
    <form class="d-flex input-group buscador" name="form" autocomplete="off">
      <div class="input-group">
        <span class="input-group-text bg-white border-rigth-0"><i class="fa fa-search"></i></span>
        <input id="search" [formControl]="searchControl" type="search" name="buscador" class="form-control"
          placeholder="Buscar por nombre o código">
      </div>
      @if (searchControl.value?.length > 0) {
          <ul class="list-group opciones">
              @for (producto of productos; track producto.id) {
                  <a href="javascript:void(0);" class="list-group-item d-flex gap-2" (click)="selectProducto(producto)">
                      <img [appLazyImage]="apiService.baseUrl + '/img/' + producto.img" class="rounded-circle" height="50px" width="50px">
                      <p class="mb-0">
                          {{ producto.nombre }} <br>
                          <small class="text-muted">{{ producto.inventarios | sum:'stock' }} disponibles</small>
                          <!-- filter:'id_bodega':compra.id_bodega  -->
                      </p>
                  </a>
              }
          </ul>
      }
    </form>

    <button tooltip="Consultad de productos (F6)" (click)="openModal(inventario)" class="btn btn-default tcla-F6">
      <i class="fa fa-search"></i>
      <!-- <img src="/assets/icons/search.png" class="icon"> -->
    </button>
  </div>
</div>

<ng-template #inventario>
  <div class="modal-header">
    <h3 class="modal-title text-center">Consulta de productos</h3>
    <button class="btn btn-light text-danger" (click)="modalRef.hide()">Cancelar <i class="fa fa-close"></i></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (submit)="onSubmit()">
      <section class="bg-white p-2 p-md-4 rounded mb-3">
        <div class="row">
          <div class="col-md-6 mb-3">
            @if (productos?.total) {
                <span class="text-muted">
                    Mostrando {{ productos?.to }} de {{ productos?.total + ' registros' }}
                </span>
            }
          </div>

          <div class="col-md-6 mb-3">
            <div class="d-flex gap-2">
              <form class="d-flex input-group" name="form" (ngSubmit)="loadAll()" autocomplete="off">
                <div class="input-group">
                  <div class="input-group-text bg-white border-end-0">
                    <i class="fa fa-search text-muted"></i>
                  </div>
                  <input type="search" name="buscador" class="form-control pull-right border-start-0"
                    placeholder="Buscar" [(ngModel)]="filtros.buscador">
                </div>
              </form>
              <button tooltip="Filtrar (F6)" (click)="loadAll()" class="btn btn-default tcla-F6"><img
                  src="/assets/icons/filter.png" class="icon"></button>
            </div>
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <button class="btn btn-primary" (click)="loadAll()">Todos</button>
          <ng-select style="width: 300px;" name="id_categoria" (change)="loadAll()" [(ngModel)]="filtros.id_categoria"
            class="form-select p-0 border-0 bg-default">
            <ng-option value="">Categoria</ng-option>
            @for (categoria of categorias; track categoria.id) {
                <ng-option [value]="categoria.id">
                    {{categoria.nombre}}
                </ng-option>
            }
          </ng-select>
        </div>
        <div class="row">
          <div class="col-12 table-responsive">
            <table class="table table-borderless table-sm table-hover align-middle">
              <thead>
                <tr>
                  <th></th>
                  <th (click)="setOrden('nombre')"
                    [ngClass]="{'sorted-asc': filtros.orden == 'nombre' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'nombre' && filtros.direccion == 'desc'}"
                    class="click">Producto</th>
                  <th (click)="setOrden('categoria')"
                    [ngClass]="{'sorted-asc': filtros.orden == 'categoria' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'categoria' && filtros.direccion == 'desc'}"
                    class="click d-none d-md-table-cell">Categoría</th>
                  <th (click)="setOrden('codigo')"
                    [ngClass]="{'sorted-asc': filtros.orden == 'codigo' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'codigo' && filtros.direccion == 'desc'}"
                    class="click d-none d-md-table-cell">Código</th>
                  <th (click)="setOrden('precio')"
                    [ngClass]="{'sorted-asc': filtros.orden == 'precio' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'precio' && filtros.direccion == 'desc'}"
                    class="click text-right">Precio</th>
                  <th (click)="setOrden('stock')"
                    [ngClass]="{'sorted-asc': filtros.orden == 'stock' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'stock' && filtros.direccion == 'desc'}"
                    class="click text-center">Stock</th>
                </tr>
              </thead>
              <tbody>
                @if (productos?.total < 1 && !loading) {
                    <tr>
                        <td colspan="8" class="text-center">
                            <span class="badge bg-primary">No tiene productos registrados</span>
                        </td>
                    </tr>
                }
                @if (loading) {
                    <tr>
                        <td colspan="8" class="text-center">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>
                }
                @for (producto of productos?.data; track producto.id) {
                    <tr (click)="onCheckProducto(producto)" class="click"
                        [ngClass]="{'table-primary' : detalle.id_producto == producto.id}">
                        <td>
                            <input type="radio" name="productos" id="producto{{producto.id}}" class="form-check"
                                (click)="onCheckProducto(producto)">
                        </td>
                        <td>
                            <img [appLazyImage]="apiService.baseUrl + '/img/' + producto.img" class="rounded-circle" width="50px">
                            {{ producto.nombre }}
                        </td>
                        <td class="d-none d-md-table-cell">{{ producto.nombre_categoria }}</td>
                        <td class="d-none d-md-table-cell">{{ producto.codigo }}</td>
                        <td class="text-right">{{ producto.precio | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">
                            @if (filtros.id_bodega) {
                                <div>
                                    {{ producto.inventarios | filter:'id_bodega':filtros.id_bodega | sum:'stock' }}
                                </div>
                            }
                            @if (!filtros.id_bodega) {
                                <div>
                                    @if (producto?.inventarios?.length > 0) {
                                        <span style="display: block; height: 40px; line-height: 40px;" class="click" placement="left"
                                            [popover]="popTemplate" triggers="mouseenter:mouseleave">
                                            {{ producto.inventarios | sum:'stock' }}
                                        </span>
                                    }
                                    @if (producto?.inventarios?.length == 0) {
                                        <span>
                                            Sin control
                                        </span>
                                    }
                                    <ng-template #popTemplate>
                                        <table width="200px">
                                            <thead>
                                                <tr>
                                                    <th>Sucursal</th>
                                                    <th class="text-right">Stock</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (inventario of producto?.inventarios; track inventario.id || inventario.id_bodega || $index) {
                                                    <tr>
                                                        <td>{{ inventario.nombre_sucursal}}</td>
                                                        <td class="text-right">{{ inventario.stock }}</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </ng-template>
                                </div>
                            }
                        </td>
                    </tr>
                }
              </tbody>
            </table>
          </div>

          @if (productos?.last_page > 1) {
              <div class="col-12">
                  <app-pagination [items]="productos" (setPagination)="setPagination($event)"></app-pagination>
              </div>
          }
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary float-end">Seleccionar</button>
          </div>
        </div>
      </section>
    </form>
  </div>
</ng-template>