<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Gastos</h2>
    <button *ngIf="apiService.canCreate()" routerLink="/gasto/crear" tooltip="Crear gasto (F4)" class="btn btn-default tcla-F4"><i class="fa fa-plus"></i> Añadir gasto</button>
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            <span class="text-muted" *ngIf="gastos?.total">
                Mostrando {{ gastos?.to }} de {{ gastos?.total + ' registros' }}
            </span>
        </div>

        <div class="col-md-6 mb-3">
            <div class="d-flex gap-2">
                <button [disabled]="downloading" tooltip="Descargar gastos" (click)="descargar()" class="btn btn-default tcla-F6">
                    <img src="/assets/icons/download.png" class="icon">
                </button>
                <form class="d-flex input-group" name="form" (ngSubmit)="filtrarGastos()" autocomplete="off">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtros.buscador">
                </form>
                <button tooltip="Filtrar (F3)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F3"> <img src="/assets/icons/filter.png" class="icon"> </button>
            </div>
        </div>
    </div>

    <div class="d-flex mb-3">
        <div class="col d-flex gap-2">
            <button class="btn btn-primary tcla-F5" tooltip="Filtrar (F5)"  (click)="loadAll()">Todos</button>
            <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/gastos/recurrentes">Recurrentes</button>
        </div>
        <div class="col d-flex gap-2 justify-content-end">
            <select name="estado" (change)="filtrarGastos()" [(ngModel)]="filtros.estado" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="Cancelado">Cancelado</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Confirmado">Confirmado</option>
            </select>
            <ng-select name="id_proveedor" (change)="filtrarGastos()" [(ngModel)]="filtros.id_proveedor" class="form-select p-0 border-0 bg-default  w-auto">
                <ng-option value="">Proveedor</ng-option>
                <ng-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                    {{ proveedor.tipo == 'Empresa' ? proveedor.nombre_empresa : proveedor.nombre_completo | truncate:30 }}
                </ng-option>
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th (click)="setOrden('fecha')" [ngClass]="{'sorted-asc': filtros.orden == 'fecha' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'fecha' && filtros.direccion == 'desc'}" class="click">Fecha</th>
                        <!-- <th>Usuario</th> -->
                        <th>Proveedor</th>
                        <th>Concepto</th>
                        <th>Método de pago</th>
                        <th>Estado</th>
                        <!-- <th>Descripción</th> -->
                        <th (click)="setOrden('total')" [ngClass]="{'sorted-asc': filtros.orden == 'total' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'total' && filtros.direccion == 'desc'}" class="click text-right">Total</th>
                        <th class="text-center">Más</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="gastos?.total < 1 && !loading">
                            <span class="badge bg-primary">No tiene gastos registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let gasto of gastos?.data">
                        
                        <td>{{gasto.fecha | date:'dd/MM/yyyy'}}</td>
                        <!-- <td>{{gasto.nombre_usuario }}</td> -->
                        <td>{{gasto.nombre_proveedor | truncate:30 }}<a *ngIf="gasto.id_proveedor" class="float-end d-none"  tooltip="Ver información del proveedor" routerLink="/proveedor/editar/{{gasto.id_proveedor}}"><i class="fa fa-edit"></i></a></td>
                        <td>{{gasto.concepto}}</td>
                        <td>{{gasto.forma_pago}}</td>
                        <td>
                            <select name="estado" [(ngModel)]="gasto.estado" class="form-select w-auto border-0" (change)="setEstado(gasto)" [ngClass]="{'bg-light-danger' : gasto.estado == 'Cancelado', 'bg-light-warning' : gasto.estado == 'Pendiente', 'bg-light-success' : gasto.estado == 'Confirmado'}">
                                <option value="Confirmado">Confirmado</option>
                                <option value="Cancelado">Cancelado</option>
                                <option value="Pendiente">Pendiente</option>
                            </select>
                        </td>
                        <td class="text-end">{{gasto.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <span class="btn" [popover]="accionesTemplate" [outsideClick]="true" tooltip="Acciones">
                                <i class="fa fa-ellipsis-vertical fa-fw"></i>
                            </span>
                            <ng-template #accionesTemplate>
                                <div class="list-group border-0">
                                    <a routerLink="/gasto/detalles/{{gasto.id}}" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-magnifying-glass"></i> Detalles
                                    </a>
                                    <a *ngIf="gasto.estado == 'Pendiente' && apiService.canEdit()" (click)="setEstado(gasto, 'Pagada')" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fas fa-fw fa-credit-card"></i> Pagar
                                    </a>
                                    <a *ngIf="apiService.canEdit()" routerLink="/gasto/{{gasto.id}}" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-edit"></i> Editar
                                    </a>
                                    <a *ngIf="gasto.recurrente == 0 && apiService.canEdit()" (click)="setRecurrencia(gasto)" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-repeat"></i> Hacer recurrente
                                    </a>
                                    <a *ngIf="gasto.estado != 'Cancelado' && apiService.canEdit()" (click)="setEstado(gasto, 'Cancelado')" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-ban"></i> Cancelar
                                    </a>
                                    <a *ngIf="gasto.estado == 'Cancelado' && apiService.canEdit()" (click)="setEstado(gasto, 'Pagada')" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-check"></i> Revertir anulación
                                    </a>
                                </div>
                            </ng-template>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12" *ngIf="gastos?.last_page > 1">
            <app-pagination [items]="gastos" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</section>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="filtrarGastos()">
        <div class="row">

            <div class="form-group col-md-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtros.inicio" [(ngModel)]="filtros.inicio"/>
            </div>
            <div class="form-group col-md-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtros.fin" [(ngModel)]="filtros.fin"/>
            </div>

            <div class="form-group col-lg-6">
                <label for="filtros.proveedor">Proveedor:</label>
                <ng-select [(ngModel)]="filtros.id_proveedor" class="form-select p-0" name="filtros.id_proveedor">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                        {{ proveedor.nombre }}
                    </ng-option>
                </ng-select>
            </div>
            <div class="form-group col-lg-6">
                <label for="filtros.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtros.id_sucursal" class="form-select" name="filtros.id_sucursal">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label for="filtros.estado">Estado:</label>
                <select name="estado" [(ngModel)]="filtros.estado" class="form-select">
                    <option value="">Todos</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Confirmado">Confirmado</option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label for="filtros.id_usuario">Empleado:</label>
                <select [(ngModel)]="filtros.id_usuario" class="form-select" name="filtros.id_usuario">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [value]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="d-grid mt-4">
            <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                <span *ngIf="!loading">Filtrar</span>
                <span *ngIf="loading">Filtrando...</span>
            </button>
        </div>
    </form>
  </div>
</ng-template>
