@if (showAlert && alertMessage && (alertMessage.titulo || alertMessage.mensaje)) {
  <div focus="true" class="alert border-0 d-flex justify-content-between align-content-center" [ngClass]="alertMessage.tipo" style="z-index: 9999; position: relative;">
    <div class="d-flex gap-2">
        <div>   
            <i class="fa fa-check-circle"></i>
        </div>
        <div>
            @if (alertMessage.titulo) {
              <h6 class="m-0 alert-heading">{{ alertMessage.titulo }}</h6>
            }
            @if (alertMessage.mensaje) {
              <div [innerHTML]="sanitizeHtml(alertMessage.mensaje)"></div>
            }
        </div>
    </div>
    <button type="button" class="btn btn-link text-decoration-none text-dark" (click)="closeAlert()">Entendido</button>
  </div>
}
