<section class="d-flex justify-content-between bg-white p-2 p-md-4 rounded mb-3">
    <h2 class="page-heading">Devolución de compra</h2>
    <button class="btn btn-light text-danger" routerLink="/devoluciones/compras">Cancelar <i class="fa fa-close"></i></button>
</section>

<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">
            <!-- Información -->
            @if (devolucion.credito) {
              <a routerLink="/credito/{{devolucion.credito.id}}" class="btn btn-default float-end" tooltip="Ver crédito">
                  <i class="fa fa-money-check"></i>
              </a>
            }
        </h4>
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Sucursal</th>
                    <th>Usuario</th>
                    <th>Documento</th>
                    <th>Observaciones</th>
                </tr>
                <tr>
                    <td>{{ devolucion.fecha | date:'dd/MM/yyyy'}}</td>
                    <td>{{ devolucion.nombre_proveedor }}</td>
                    <td>{{ devolucion.nombre_sucursal }}</td>
                    <td>{{ devolucion.nombre_usuario }}</td>
                    <td>{{ (devolucion.tipo_documento || 'Devolución') + (devolucion.referencia ? ' #' + devolucion.referencia : '') }}</td>
                    <td>{{ devolucion.observaciones }}</td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-body">
        <!-- <h4 class="card-title text-center">Detalle</h4> -->
        <div class="table-responsive" style="min-height: 300px;">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="text-center">N°</th>
                        <th>Producto</th>
                        <th class="text-center">Costo</th>
                        <th class="text-center">Descuento</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @if (devolucion.detalles?.length < 1 && !loading) {
                      <tr>
                        <td colspan="8" class="text-center">
                            <span class="badge badge-info">No tiene productos agregados</span>
                        </td>
                      </tr>
                    }
                    @if (loading) {
                      <tr>
                        <td colspan="8" class="text-center">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                      </tr>
                    }
                    @for (detalle of devolucion.detalles; track detalle.id || $index) {
                      <tr>
                        <td class="text-center"> {{ $index + 1 }} </td>
                        <td> {{ detalle.nombre_producto }} </td>
                        <td class="text-center">{{ detalle.costo | currency }}</td>
                        <td class="text-center">{{ detalle.descuento | currency }}</td>
                        <td class="text-center">{{ detalle.cantidad }}</td>
                        <td class="text-end">{{ detalle.total | currency }}</td>
                      </tr>
                    }
                    <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>Sub Total:</b></td>
                        <td class="text-end"><b>{{ devolucion?.sub_total | currency }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>IVA:</b></td>
                        <td class="text-end"><b>{{ devolucion?.iva | currency }}</b></td>
                    </tr>
                    @if (devolucion?.descuento > 0) {
                      <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>Descuento:</b></td>
                        <td class="text-end"><b>{{ devolucion?.descuento | currency }}</b></td>
                      </tr>
                    }
                    @if (devolucion?.iva_retenido > 0) {
                      <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>Retención:</b></td>
                        <td class="text-end"><b>{{ devolucion?.iva_retenido | currency }}</b></td>
                      </tr>
                    }
                    @if (devolucion?.iva_percibido > 0) {
                      <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>Percepción:</b></td>
                        <td class="text-end"><b>{{ devolucion?.iva_percibido | currency }}</b></td>
                      </tr>
                    }
                    <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>Total:</b></td>
                        <td class="text-end"><b>{{ devolucion?.total | currency }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (devolucion?.compra) {
  <section class="card">
    <div class="card-body">
        <h6 class="my-3">Datos de la compra</h6>
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Forma de pago</th>
                    <th>Tipo de documento</th>
                </tr>
                <tr>
                    <td>{{ devolucion?.compra.fecha | date:'dd/MM/yyyy'}}</td>
                    <td>{{ devolucion?.compra.nombre_proveedor }}</td>
                    <td>{{ devolucion?.compra.nombre_usuario }}</td>
                    <td>{{ devolucion?.compra.estado }}</td>
                    <td>{{ devolucion?.compra.forma_pago }}</td>
                    <td>{{ devolucion?.compra.tipo_documento }} #{{ devolucion?.compra.referencia }}</td>
                </tr>
            </table>
        </div>
    </div>
  </section>
}
