<div class="row">
    <div class="col-xl-4 mb-5">
        <div class="bg-white p-3">
            <h3>Proximas Citas 
                <button (click)="openModal(mevento, {})" tooltip="Agendar cita (F4)" class="btn btn-default float-end tcla-F4"><i class="fa fa-plus"></i> Agendar</button>
            </h3>
            <div class="table-responsive">
                <table class="table table-borderless table-hover mb-0">
                    <tbody>
                        <tr>
                            <td colspan="2" class="text-center" *ngIf="eventos?.total < 1 && !loading">
                                <span class="badge bg-primary">No tiene citas registradas</span>
                            </td>
                            <td colspan="2" class="text-center" *ngIf="loading">
                                <span class="badge bg-primary">Cargando...</span>
                            </td>
                        </tr>

                        <tr *ngFor=" let evento of eventos?.data">
                            <td>
                                <p class="m-0 d-flex justify-content-between">
                                    <span tooltip="{{evento.descripcion}}">{{evento.descripcion | truncate:20 }}</span>
                                    <small *ngIf="evento.nombre_cliente">({{evento.nombre_cliente | truncate:20 }})</small>
                                </p>
                                <p class="m-0 d-flex justify-content-between">
                                    <small>{{evento.inicio | date:'dd/MM/yyyy'}}</small>
                                    <small class="badge" style="font-size: 0.7rem;" [ngClass]="{'bg-dark' : evento?.tipo == 'Pendiente','bg-warning' : evento?.tipo == 'Sin confirmar', 'bg-danger' : evento?.tipo == 'Cancelado', 'bg-info' : evento?.tipo == 'Confirmado', 'bg-success' : evento?.tipo == 'Pagado'}">{{ evento.tipo }}</small>
                                </p>
                            </td>
                            <td class="text-center">
                                <span class="btn" [popover]="accionesTemplate" [outsideClick]="true" tooltip="Acciones">
                                    <i class="fa fa-ellipsis-vertical fa-fw"></i>
                                </span>
                                <ng-template #accionesTemplate>
                                    <div class="list-group border-0">
                                        <a (click)="openModal(mevento, evento)" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-fw fa-edit"></i> Editar
                                        </a>
                                        <a *ngIf="evento.tipo != 'Pagado'" routerLink="/venta/crear" [queryParams]="{ id_cita:evento.id }" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-fw fa-money-bill"></i> Generar venta
                                        </a>
                                        <a *ngIf="evento.tipo != 'Cancelar'" (click)="setEstado(evento, 'Cancelado')" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-fw fa-ban"></i> Cancelar
                                        </a>
                                        <a *ngIf="evento.tipo != 'Confirmado' && evento.tipo != 'Pagado'" (click)="setEstado(evento, 'Confirmado')" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-fw fa-check"></i> Confirmar
                                        </a>
                                        <a (click)="delete(evento)" class="list-group-item list-group-item-action border-0 click">
                                            <i class="fa fa-fw fa-trash"></i> Eliminar
                                        </a>
                                    </div>
                                </ng-template>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xl-8 mb-5">
        <div class="bg-white p-3">
            <app-calendario #calendario (update)="loadAll()"></app-calendario>
        </div>
    </div>
</div>


<ng-template #mevento>
  <div class="modal-header">
    <h4 class="modal-title text-center">Cita</h4>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <app-notificaciones-container></app-notificaciones-container>
            <div class="form-group col-md-12">
              <label for="descripcion">Descripción</label>
              <input type="text" placeholder="Escribe aquí" class="form-control"  [(ngModel)]="evento.descripcion" name="descripcion">
            </div>

            <div class="form-group col-md-6 col-lg-6">
                <label for="id_usuario">Usuario</label>
                <ng-select name="id_usuario" [(ngModel)]="evento.id_usuario" class="form-select p-0">
                    <ng-option [value]="usuario.id" *ngFor="let usuario of usuarios">
                        {{ usuario.name }}
                    </ng-option>
                </ng-select>
            </div>

            <div class="form-group col-md-6">
              <label for="inicio">Fecha inicio</label>
              <input type="datetime-local" class="form-control" (change)="setTime()" name="inicio" [(ngModel)]="evento.inicio">
            </div>

            <div class="form-group col-md-6">
              <label for="duracion">Duración</label>
              <select name="duracion" (change)="setTime()" [(ngModel)]="evento.duracion" class="form-select" required>
                <option value="15 minutos">15 minutos</option>
                <option value="30 minutos">30 minutos</option>
                <option value="1 hora" selected>1 hora</option>
                <option value="2 horas">2 horas</option>
                <option value="3 horas">3 horas</option>
                <option value="5 horas">5 horas</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="fin">Finaliza</label>
              <input type="datetime-local" class="form-control" name="fin" [(ngModel)]="evento.fin">
            </div>
            
            <div class="form-group col-md-6">
                <label for="">Cliente</label>
                <div class="input-group flex-nowrap">
                    <ng-select name="id_cliente" (click)="loadClientes()" placeholder="Consumidor Final" [(ngModel)]="evento.id_cliente" class="form-select p-0">
                        <ng-option value=""> Consumidor final </ng-option>
                        <ng-option value="" *ngIf="loading"> Cargando clientes... </ng-option>
                        <ng-option *ngFor="let cliente of clientes" [value]="cliente.id">
                            {{ cliente.nombre }} <span *ngIf="cliente.dui">- {{ cliente.dui }}</span>
                        </ng-option>
                    </ng-select>
                    <app-crear-cliente [id_cliente]="evento.id_cliente" (update)="setCliente($event)"></app-crear-cliente>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="id_servicio">Servicio</label>
                <ng-select name="id_servicio" [(ngModel)]="evento.id_servicio" class="form-select p-0">
                    <ng-option [value]="servicio.id" *ngFor="let servicio of servicios">
                        {{ servicio.nombre }}
                    </ng-option>
                </ng-select>
            </div>
          
            <div class="form-group col-md-12">
              <label class="form-label font-weight-bold">Detalles del evento</label>
                <textarea class="form-control" placeholder="Escribe aquí (Opcional)" name="detalles" [(ngModel)]="evento.detalles" rows="2"></textarea>
            </div>

            <div class="form-group col-md-6">
                  <label class="form-label font-weight-bold">Se repite</label>
                  <select name="frecuencia" [(ngModel)]="evento.frecuencia"  class="form-control form-select" id="frecuencia">
                      <option value="">No</option>
                      <option value="DAILY">Diario</option>
                      <option value="WEEKLY">Semanal</option>
                      <option value="MONTHLY">Mensual</option>
                      <option value="YEARLY">Anual</option>
                  </select>
            </div>

            <!-- <div class="form-group col-md-6 without-label ">
                <div class="form-switch bg-light-info rounded">
                  <label for="confirmada">Confirmada</label>
                  <input name="confirmada" class="form-check-input float-end" (click)="setTipo()" type="checkbox" role="switch" [(ngModel)]="evento.confirmado" [checked]="evento.tipo == 'Confirmado'">
                </div>
            </div> -->

            <div class="form-group col-md-6">
                  <label class="form-label font-weight-bold">Estado</label>
                  <select name="tipo" [(ngModel)]="evento.tipo"  class="form-control form-select">
                      <option value="Sin confirmar">Sin confirmar</option>
                      <option value="Confirmado">Confirmado</option>
                      <option value="Cancelado">Cancelado</option>
                      <option value="Pagado">Pagado</option>
                      <option value="Pendiente">Pendiente</option>
                  </select>
            </div>

            <div class="d-grid mt-4">
                <button [disabled]="saving" class="btn btn-primary btn-block">
                    <span *ngIf="!saving">Agregar</span>
                    <span *ngIf="saving">Agregando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center">Filtrar</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="filtrarEventos()">
        <div class="row">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtros.inicio" [(ngModel)]="filtros.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtros.fin" [(ngModel)]="filtros.fin"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.tipo">Estado:</label>
                <select [(ngModel)]="filtros.tipo" class="form-control form-select" name="filtros.tipo">
                    <option value="">Todos</option>
                    <option value="Pagada">Pagadas</option>
                    <option value="Pendiente">Pendientes</option>
                    <option value="Anulada">Anuladas</option>
                    <option value="Consigna">Consignas</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.forma_pago">Forma de pago:</label>
                <select [(ngModel)]="filtros.forma_pago" class="form-control form-select" name="filtros.forma_pago">
                    <option value="">Todos</option>
                    <option *ngFor="let formaPago of formaPagos" [ngValue]="formaPago.nombre">
                        {{ formaPago.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.id_documento">Documento:</label>
                <select [(ngModel)]="filtros.id_documento" class="form-control form-select" name="filtros.id_documento">
                    <option value="">Todos</option>
                    <option *ngFor="let documento of documentos" [ngValue]="documento.id">
                        {{ documento.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.id_canal">Canal:</label>
                <select [(ngModel)]="filtros.id_canal" class="form-control form-select" name="filtros.id_canal">
                    <option value="">Todos</option>
                    <option *ngFor="let canal of canales" [ngValue]="canal.id">
                        {{ canal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtros.id_sucursal" class="form-control form-select" name="filtros.id_sucursal">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.id_cliente">Cliente:</label>
                <ng-select name="id_cliente" [(ngModel)]="filtros.id_cliente" class="form-select p-0">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let cliente of clientes" [value]="cliente.id">
                        {{cliente.nombre}}
                    </ng-option>
                </ng-select>
            </div>
            
        </div>
        
        <div class="d-grid mt-3">
            <button type="submit" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="!loading">Filtrar</span>
                <span *ngIf="loading">Filtrando...</span>
            </button>
        </div>
    </form>
  </div>
</ng-template>

