<div class="row">
    <div class="col-xl-12 mb-5">
        <div class="bg-white p-3">
            <app-calendario #calendario (update)="loadAll()"></app-calendario>
        </div>
    </div>
</div>


<ng-template #mevento>
  <div class="modal-header">
    <h4 class="modal-title text-center">
        <span *ngIf="evento.id">Editar Cita</span>
        <span *ngIf="!evento.id">Crear Cita</span>
    </h4>
    <button type="button" class="btn-close" (click)="modalRef.hide(); this.alertService.modal = false;" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-crear-evento [evento]="evento" (update)="loadAll(); updateCalendar();"></app-crear-evento>
  </div>
</ng-template>

<ng-template #meventoDetalle>
  <div class="modal-header">
    <h4 class="modal-title text-center">
        Evento
    </h4>
    <button type="button" class="btn-close" (click)="modalRef.hide(); this.alertService.modal = false;" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="row">

        <div class="form-group col-md-12">
          <label class="fw-bold">Descripción:</label>
          <p>{{ evento.descripcion }}</p>
        </div>

        <div class="form-group col-md-12">
          <label class="fw-bold">Detalles del evento:</label>
          <p>{{ evento.detalles }}</p>
        </div>

        <div class="form-group col-md-4">
          <label class="fw-bold">Fecha inicio:</label>
          <p>{{ evento.inicio | date:'dd/MM/yyyy hh:mm a'}}</p>
        </div>

        <div class="form-group col-md-4">
          <label class="fw-bold">Finaliza:</label>
          <p>{{ evento.fin | date:'dd/MM/yyyy hh:mm a'}}</p>
        </div>

        <div class="form-group col-md-4">
          <label class="fw-bold">Duración:</label>
          <p>{{ evento.duracion }}</p>
        </div>
        
        <div class="form-group col-md-4">
            <label class="fw-bold">Usuario:</label>
            <p>{{ evento.nombre_usuario }}</p>
        </div>

        <div class="form-group col-md-4">
          <label class="fw-bold">Cliente:</label>
          <p>{{ evento.nombre_cliente }}</p>
        </div>

        <div class="form-group col-md-4">
          <label class="fw-bold">Servicio:</label>
          <p>{{ evento.nombre_servicio }}</p>
        </div>

        <div class="form-group col-md-6">
          <label class="fw-bold">Estado:</label>
          <p>{{ evento.tipo }}</p>
        </div>

        <div class="form-group col-md-6" *ngIf="evento.frecuencia">
          <label class="fw-bold">Se repite hasta:</label>
          <p>{{ evento.frecuencia_fin | date:'dd/MM/yyyy'}}</p>
        </div>
    </div>
  </div>
</ng-template>

<!-- filtro pop up -->

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center">Filtrar</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="updateCalendar()">
        <div class="row">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='datetime-local' class="form-control" name="filtros.inicio" [(ngModel)]="filtros.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='datetime-local' class="form-control" name="filtros.fin" [(ngModel)]="filtros.fin"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.tipo">Estado:</label>
                <select [(ngModel)]="filtros.tipo" class="form-control form-select" name="filtros.tipo">
                    <option value="">Todos</option>
                    <option value="Sin confirmar">Sin confirmar</option>
                    <option value="Confirmado">Confirmado</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="Pagado">Pagado</option>
                    <option value="Pendiente">Pendiente</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtros.id_cliente">Cliente:</label>
                <ng-select name="id_cliente" [(ngModel)]="filtros.id_cliente" class="form-select p-0">
                    <ng-option value=""> Seleccione aquí </ng-option>
                    <ng-option *ngFor="let cliente of clientes" [value]="cliente.id">
                        {{ cliente.tipo == 'Persona' ? cliente.nombre_completo : cliente.nombre_empresa }}
                    </ng-option>
                </ng-select>

            </div>
            
        </div>
        
        <div class="d-grid mt-3">
            <button type="submit" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="!loading">Filtrar</span>
                <span *ngIf="loading">Filtrando...</span>
            </button>
        </div>
    </form>
  </div>
</ng-template>

