<div class="d-flex justify-content-end mb-3">
    <div class="col-md-12 col-lg-8 justify-content-end d-flex gap-2">
        <app-tienda-venta-buscador class="w-100" [venta]="venta" (productoSelect)="productoSelect($event)"></app-tienda-venta-buscador>
        <app-tienda-venta-producto [venta]="venta" (productoSelect)="productoSelect($event)"></app-tienda-venta-producto>
        <app-tienda-venta-paquetes *ngIf="apiService.auth_user().empresa.modulo_paquetes && venta.cotizacion != 1" [venta]="venta" (productoSelect)="productoSelect($event)"></app-tienda-venta-paquetes>
        <app-tienda-venta-citas *ngIf="apiService.auth_user().empresa.modulo_citas && venta.cotizacion != 1" [venta]="venta" (productoSelect)="productoSelect($event)"></app-tienda-venta-citas>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-sm table-borderless table-hover table-condensed mb-0 align-middle">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th style="width: 150px;">Cantidad</th>
                    <th style="width: 150px;">Precio</th>
                    <th style="width: 150px;">Descuento</th>
                    <th style="width: 100px;" class="text-right">Total</th>
                    <th style="width: 50px;" class="text-center"><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="venta?.detalles?.length < 1">
                    <td colspan="7" class="text-center">
                        <p class="text-muted my-3">
                            Agregue productos y servicios
                        </p>
                    </td>
                </tr>
                <tr *ngFor="let detalle of venta?.detalles; let i = index">
                    <td>
                        <div class="d-flex gap-3" *ngIf="!apiService.auth_user().empresa.editar_descripcion_venta">
                            <div>
                                <img src="{{ apiService.baseUrl }}/img/{{ detalle.img }}" class="rounded-circle" height="50px" width="50px"> 
                            </div>
                            <div>
                                {{ detalle.descripcion }} <br>
                                <small class="text-muted text-tiny">{{ detalle?.tipo }}</small>
                                <ul style="font-size: 14px;">
                                    <li class="text-muted" *ngFor="let comp of detalle?.composiciones">{{ comp.nombre_compuesto }}</li>
                                </ul>
                            </div>
                        </div>
                        <input class="form-control" *ngIf="apiService.auth_user().empresa.editar_descripcion_venta" type="text" [(ngModel)]="detalle.descripcion" name="descripcion">
                    </td>
                    <td style="width: 150px;">
                        <input type="number" tooltip="{{ detalle.stock != null ? (detalle.stock > 0 ? detalle.stock + ' disponibles' : 'No hay disponibles') : '' }}" [(ngModel)]="detalle.cantidad" (change)="updateTotal(detalle)" (keyup)="updateTotal(detalle)" class="form-control" [ngClass]="{ 'border-danger': ((detalle.cantidad > detalle.stock) && (detalle.stock != null)) }" name="cantidad">
                    </td>
                    <td style="width: 150px;">
                        <div class="input-group" *ngIf="detalle?.precios?.length < 2">
                            <span class="input-group-text">$</span>
                            <input type="number" [disabled]="!apiService.auth_user().empresa.editar_precio_venta" [(ngModel)]="detalle.precio" (change)="updateTotal(detalle)" (keyup)="updateTotal(detalle)" class="form-control" name="precio">
                        </div>
                        <select [(ngModel)]="detalle.precio" (change)="updateTotal(detalle)" (keyup)="updateTotal(detalle)" class="form-select" name="precio" *ngIf="detalle?.precios?.length > 1">
                            <option [value]="precio.precio" *ngFor="let precio of detalle.precios">
                                {{ precio.precio | currency}}
                            </option>
                        </select>
                    </td>
                    <td style="width: 150px;">
                        <div class="input-group">
                            <span class="input-group-text">%</span>
                            <input type="number" [(ngModel)]="detalle.descuento_porcentaje" (change)="updateTotal(detalle)" class="form-control" name="descuento_porcentaje">
                        </div>
                    </td>
                    <td style="width: 100px;" class="text-right">{{ detalle.total | currency}}</td>
                    <td style="width: 50px;" class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-link" (click)="delete(detalle)">
                              <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #msupervisor>
  <div class="modal-header">
    <h4 class="modal-title text-center">Autorización</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form name="form" (ngSubmit)="supervisorCheck()">
            <div class="form-group col-md-12">
                <label for="codigo">Ingrese el código de supervisor:</label>
                <input type="password" [(ngModel)]="supervisor.codigo" name="codigo" class="form-control text-center" focus="true">
            </div>
            <div class="d-grid mt-4">
                <button [disabled]="loading || !supervisor.codigo" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Autorizar</span>
                    <span *ngIf="loading">Autorizando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>
