<form (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
        <app-notificaciones-container></app-notificaciones-container>

        <div class="form-group col-md-6">
            <label>Fecha:</label>
            <input type="date" class="form-control" [(ngModel)]="abono.fecha" name="fecha">
        </div>

        <div class="form-group col-md-6">
            <label for="forma_pago">Forma de pago</label>
            <select name="forma_pago" (change)="cambioMetodoDePago()" [(ngModel)]="abono.forma_pago" class="form-select">
                <option [value]="forma.nombre" *ngFor="let forma of formaPagos">{{ forma.nombre }}</option>
            </select>
        </div>
        <div class="form-group col-md-12" *ngIf="abono.forma_pago != 'Efectivo' && abono.forma_pago != 'Wompi'">
            <label for="detalle_banco">Banco</label>
            <select name="detalle_banco" [(ngModel)]="abono.detalle_banco" class="form-select">
                <option value="">Seleccione aquí</option>
                <ng-container *ngIf="apiService.isModuloBancos()">
                    <option [value]="banco.nombre_banco" *ngFor="let banco of bancos">{{ banco.nombre_banco }} - {{ banco.numero }}</option>
                </ng-container>
                <ng-container *ngIf="!apiService.isModuloBancos()">
                    <option [value]="banco.nombre" *ngFor="let banco of bancos">{{ banco.nombre }}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group col-md-12" *ngIf="abono.forma_pago != 'Efectivo' && abono.forma_pago != 'Wompi'">
            <label for="referencia">Referencia:</label>
            <input type="text" class="form-control" [(ngModel)]="abono.referencia" name="referencia">
        </div>
        <div class="form-group col-md-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th colspan="4" class="text-center">Datos de la venta</th>
                    </tr>
                    <tr>
                        <th width="25%">Total</th>
                        <th width="25%">Abonado</th>
                        <th width="25%">Devoluciones</th>
                        <th width="25%">Saldo</th>
                    </tr>
                    <tr>
                        <td>{{ venta.total | currency}}</td>
                        <td>{{ venta.abonos_sum_total | currency}}</td>
                        <td>{{ venta.devoluciones_sum_total | currency}}</td>
                        <td>{{ (venta.total - venta.abonos_sum_total - venta.devoluciones_sum_total) | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group col-md-12 text-center">
            <div class="btn-group" role="group">
              <input type="radio" class="btn-check" (change)="setTotal(venta.saldo)" name="btnradio" id="btnradio1" autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="btnradio1">Pago total</label>

              <input type="radio" class="btn-check" (change)="setTotal(null)" name="btnradio" id="btnradio2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio2">Abono</label>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label>Pago:</label>
            <div class="input-group">
                <div class="input-group-text">{{ apiService.auth_user().empresa.currency?.currency_symbol || '$' }}</div>
                <input type="number" class="form-control" id="total" [(ngModel)]="abono.total" name="total">
            </div>
        </div>

    </div>
    <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="saving">
            <span *ngIf="!saving">Guardar</span>
            <span *ngIf="saving">Guardando...</span>
        </button>
    </div>

</form>
