<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Cliente</h2>
    <button class="btn btn-light text-danger" routerLink="/clientes">Regresar <i class="fa fa-close"></i></button>
</section>

<div class="row mb-5">
    <!-- <div class="col-md-12" *ngIf="cliente.id">
        <app-cliente-datos></app-cliente-datos>
    </div> -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body"> 
                <app-cliente-informacion></app-cliente-informacion>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-12" *ngIf="cliente.id">
        <div class="card">
            <div class="card-body">
                <app-cliente-documentos></app-cliente-documentos>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="cliente.id">
        <app-cliente-ventas></app-cliente-ventas>
    </div>
    <div class="col-lg-12" *ngIf="cliente.id">
        <app-cliente-fletes></app-cliente-fletes>
    </div>
    <div class="col-lg-12" *ngIf="cliente.id">
        <app-cliente-creditos></app-cliente-creditos>
    </div> -->
</div>


