<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Retaceo</h2>
    <button class="btn btn-light text-danger" routerLink="/proveedores"><i class="fa fa-arrow-left"></i> Regresar</button>
</section>

<div class="card mb-3">
    <div class="card-body">
    
        <form (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="form-group col-lg-2">
                  <label for="nombre">Nombre:</label>
                  <input id="nombre" [(ngModel)]="producto.nombre" name="nombre" type="text" type="text" class="form-control" required>
                </div>
            
                <div class="form-group col-lg-2">
                  <label for="cantidad">Cantidad:</label>
                  <input id="cantidad" [(ngModel)]="producto.cantidad" name="cantidad" type="number" type="text" class="form-control" (input)="updateFOBTotal()" required>
                </div>
            
                <div class="form-group col-lg-2">
                  <label for="fob">FOB:</label>
                  <input id="fob" [(ngModel)]="producto.fob" name="fob" type="number" step="0.01" type="text" class="form-control" (input)="updateFOBTotal()" required>
                </div>
            
                <div class="form-group col-lg-2">
                  <label for="fobTotal">FOB Total:</label>
                  <input id="fobTotal" [(ngModel)]="producto.fobTotal" name="fobTotal" type="number" type="text" class="form-control" readonly>
                </div>
            
                <div class="form-group col-lg-2">
                  <label for="distribucion">Distribución:</label>
                  <input id="distribucion" [(ngModel)]="producto.distribucion" name="distribucion" type="number" type="text" class="form-control" readonly>
                </div>

                <div class="form-group col-lg-2">
                    <label for="daiTotal">DAI Total:</label>
                    <input id="daiTotal" [(ngModel)]="producto.daiTotal" name="daiTotal" type="number" step="0.01" class="form-control" (input)="updateDAIProducto()" required>
                </div>
            
                <div class="form-group col-lg-2">
                  <label for="daiProducto">DAI Producto:</label>
                  <input id="daiProducto" [(ngModel)]="producto.daiProducto" name="daiProducto" type="number" class="form-control" readonly>
                </div>

                <div class="form-group col-lg-2">
                    <label for="gastosTotales">Gastos Totales:</label>
                    <input id="gastosTotales" [(ngModel)]="producto.gastosTotales" name="gastosTotales" type="number" step="0.01" class="form-control"  (input)="updateGastosProducto()" required>
                  </div>
                
                  <div class="form-group col-lg-2">
                    <label for="gastosProducto">Gastos Producto:</label>
                    <input id="gastosProducto" [(ngModel)]="producto.gastosProducto" name="gastosProducto" type="number" class="form-control"  readonly>
                  </div>

                
            </div>
            <button type="submit" class="btn btn-primary float-start">Agregar Producto</button>
          </form>

    </div>
</div>

<!-- Tabla para mostrar los productos agregados -->
<!-- Tabla para mostrar los productos agregados -->
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>FOB</th>
      <th>FOB Total</th>
      <th>Distribución (%)</th>
      <th>DAI Total</th>
      <th>DAI Producto</th>
      <th>Gastos Totales</th>
      <th>Gastos Producto</th>
      <th>Costo Unitario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productos">
      <td>{{ item.nombre }}</td>
      <td>{{ item.cantidad }}</td>
      <td>{{ item.fob | currency:'USD':'symbol':'1.2-2'  }}</td>
      <td>{{ item.fobTotal | currency:'USD':'symbol':'1.2-2' }}</td>
      <td>{{ item.distribucion / 100 | percent:'1.0-2' }}</td>
      <td>{{ item.daiTotal | currency:'USD':'symbol':'1.2-2' }}</td>
      <td>{{ item.daiProducto | currency:'USD':'symbol':'1.2-2' }}</td>
      <td>{{ item.gastosTotales | currency:'USD':'symbol':'1.2-2' }}</td>
      <td>{{ item.gastosProducto | currency:'USD':'symbol':'1.2-2' }}</td>
      <td>{{ (item.fobTotal + item.daiProducto + item.gastosProducto) / item.cantidad | currency:'USD':'symbol':'1.2-2' }}</td>
    </tr>
  </tbody>
</table>