<!-- Encabezado -->
<div class="d-flex justify-content-between bg-white rounded p-3 mb-3">
  <h3>Retaceo</h3>
  <button class="btn btn-light text-danger" routerLink="/retaceos">
    <i class="fa fa-arrow-left"></i> Regresar
  </button>
</div>

<!-- Información General -->
<section class="card border-0 p-3 mb-3">
  <div class="row">
    <div class="form-group col-md-6 col-lg-8 mb-3">
      <h6 class="mt-3">Información General</h6>
    </div>
    <div class="form-group col-md-6 col-lg-4 mb-3">
      <div class="form-switch border rounded">
        <label>Opciones Avanzadas</label>
        <input class="form-check-input float-end" type="checkbox" role="switch" (click)="toggleDiv()"
               [(ngModel)]="opAvanzadas" name="opciones_ava_detalles">
      </div>
    </div>
  </div>
  
  <!-- Fila 1: Información básica -->
  <div class="row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="id_compra">Compra</label>
      <div class="input-group flex-nowrap">
        <ng-select name="id_compra" placeholder="Seleccionar compra" [(ngModel)]="retaceo.id_compra"
                 (change)="cargarDetallesCompra()" class="form-select p-0">
          <ng-option value="" *ngIf="loading"> Cargando compras...</ng-option>
          <ng-option *ngFor="let compra of compras" [value]="compra.id">
            {{ compra.codigo }} - {{ compra.fecha | date:'dd/MM/yyyy' }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="form-group col-md-12 col-lg-4">
      <label for="numero_duca">Número de DUCA</label>
      <input type="text" class="form-control" [(ngModel)]="retaceo.numero_duca" name="numero_duca" id="numero_duca">
    </div>
    <div class="form-group col-md-12 col-lg-4">
      <label for="numero_factura">Número de Factura</label>
      <input type="text" class="form-control" [(ngModel)]="retaceo.numero_factura" name="numero_factura" id="numero_factura">
    </div>
  </div>

  <!-- Fila 2: Fecha e Incoterm -->
  <div class="row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="fecha">Fecha</label><br>
      <input type="date" class="form-control" [(ngModel)]="retaceo.fecha" name="fecha" id="fecha">
    </div>
    <div class="form-group col-md-12 col-lg-4">
      <label for="incoterm">Incoterms</label>
      <select name="incoterm" [(ngModel)]="retaceo.incoterm" class="form-select">
        <option value="FOB">FOB - Free On Board</option>
        <option value="CIF">CIF - Cost, Insurance and Freight</option>
        <option value="EXW">EXW - Ex Works</option>
        <option value="FCA">FCA - Free Carrier</option>
        <option value="FAS">FAS - Free Alongside Ship</option>
        <option value="CFR">CFR - Cost and Freight</option>
        <option value="CPT">CPT - Carriage Paid To</option>
        <option value="CIP">CIP - Carriage and Insurance Paid To</option>
        <option value="DAT">DAT - Delivered At Terminal</option>
        <option value="DAP">DAP - Delivered At Place</option>
        <option value="DDP">DDP - Delivered Duty Paid</option>
      </select>
    </div>
    <div class="form-group col-md-12 col-lg-4">
      <label for="tasa_dai">Tasa del DAI (%)</label>
      <input type="number" class="form-control" [(ngModel)]="retaceo.tasa_dai" name="tasa_dai" id="tasa_dai" min="0" max="100" step="0.01">
    </div>
  </div>

  <!-- Opciones avanzadas -->
  <div class="row" *ngIf="opAvanzadas">
    <div class="form-group col-md-12 col-lg-12">
      <label for="observaciones">Observaciones:</label><br>
      <textarea class="form-control" placeholder="Escribe aquí" [(ngModel)]="retaceo.observaciones" name="observaciones"
                cols="30" rows="3"></textarea>
    </div>
  </div>
</section>

<!-- Gastos e Impuestos -->
<section class="card border-0 p-3 mb-3">
  <h6 class="mt-3">Gastos e Impuestos</h6>
  
  <div class="row">
    <!-- Transporte -->
    <div class="form-group col-md-12 col-lg-3">
      <label for="id_gasto_transporte">Transporte</label>
      <div class="input-group">
        <ng-select name="id_gasto_transporte" placeholder="Seleccionar gasto" 
                  [(ngModel)]="gastoTransporte.id_gasto" 
                  (change)="setGastoMonto('Transporte')"
                  class="form-select p-0">
          <ng-option value="" *ngIf="loading"> Cargando gastos...</ng-option>
          <ng-option *ngFor="let gasto of gastos" [value]="gasto.id">
            {{ gasto.concepto }} - {{ gasto.total | currency:'USD':'symbol':'1.2' }}
          </ng-option>
        </ng-select>
      </div>
      <div class="input-group mt-2">
        <div class="input-group-text">$</div>
        <input type="number" class="form-control" [(ngModel)]="gastoTransporte.monto" 
               (change)="calcularTotalGastos()" name="monto_transporte" 
               placeholder="Monto de transporte">
      </div>
    </div>
    
    <!-- Seguro -->
    <div class="form-group col-md-12 col-lg-3">
      <label for="id_gasto_seguro">Seguro</label>
      <div class="input-group">
        <ng-select name="id_gasto_seguro" placeholder="Seleccionar gasto" 
                  [(ngModel)]="gastoSeguro.id_gasto" 
                  (change)="setGastoMonto('Seguro')"
                  class="form-select p-0">
          <ng-option value="" *ngIf="loading"> Cargando gastos...</ng-option>
          <ng-option *ngFor="let gasto of gastos" [value]="gasto.id">
            {{ gasto.concepto }} - {{ gasto.total | currency:'USD':'symbol':'1.2' }}
          </ng-option>
        </ng-select>
      </div>
      <div class="input-group mt-2">
        <div class="input-group-text">$</div>
        <input type="number" class="form-control" [(ngModel)]="gastoSeguro.monto" 
               (change)="calcularTotalGastos()" name="monto_seguro" 
               placeholder="Monto de seguro">
      </div>
    </div>
    
    <!-- DAI -->
    <div class="form-group col-md-12 col-lg-3">
      <label for="id_gasto_dai">DAI</label>
      <div class="input-group">
        <ng-select name="id_gasto_dai" placeholder="Seleccionar gasto" 
                  [(ngModel)]="gastoDAI.id_gasto" 
                  (change)="setGastoMonto('DAI')"
                  class="form-select p-0">
          <ng-option value="" *ngIf="loading"> Cargando gastos...</ng-option>
          <ng-option *ngFor="let gasto of gastos" [value]="gasto.id">
            {{ gasto.concepto }} - {{ gasto.total | currency:'USD':'symbol':'1.2' }}
          </ng-option>
        </ng-select>
      </div>
      <div class="input-group mt-2">
        <div class="input-group-text">$</div>
        <input type="number" class="form-control" [(ngModel)]="gastoDAI.monto" 
               (change)="calcularTotalGastos()" name="monto_dai" 
               placeholder="Monto de DAI">
      </div>
    </div>
    
    <!-- Otros gastos -->
    <div class="form-group col-md-12 col-lg-3">
      <label for="id_gasto_otros">Otros gastos</label>
      <div class="input-group">
        <ng-select name="id_gasto_otros" placeholder="Seleccionar gasto" 
                  [(ngModel)]="gastoOtros.id_gasto" 
                  (change)="setGastoMonto('Otro')"
                  class="form-select p-0">
          <ng-option value="" *ngIf="loading"> Cargando gastos...</ng-option>
          <ng-option *ngFor="let gasto of gastos" [value]="gasto.id">
            {{ gasto.concepto }} - {{ gasto.total | currency:'USD':'symbol':'1.2' }}
          </ng-option>
        </ng-select>
      </div>
      <div class="input-group mt-2">
        <div class="input-group-text">$</div>
        <input type="number" class="form-control" [(ngModel)]="gastoOtros.monto" 
               (change)="calcularTotalGastos()" name="monto_otros" 
               placeholder="Monto de otros gastos">
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-12 text-end">
      <h5>Total de Gastos: {{ retaceo.total_gastos | currency:'USD':'symbol':'1.2' }}</h5>
    </div>
  </div>
</section>

<!-- Productos -->
<section class="card border-0 p-3 mb-3">
  <h6 class="mt-3">Productos y Distribución</h6>
  
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table table-sm table-borderless table-hover table-condensed mb-0 align-middle">
        <thead>
          <tr>
            <th>Producto</th>
            <th class="text-center">Cantidad</th>
            <th class="text-end">Costo Antes</th>
            <th class="text-end">FOB</th>
            <th class="text-end">Dist. %</th>
            <th class="text-end">Transporte</th>
            <th class="text-end">Seguro</th>
            <th class="text-end">DAI</th>
            <th class="text-end">Otros</th>
            <th class="text-end">Landed</th>
            <th class="text-end">Costo Final</th>
          </tr>
        </thead>
        <tbody class="align-top">
          <!-- Si no hay productos -->
          <tr *ngIf="!distribucion || distribucion.length === 0">
            <td colspan="11" class="text-center">
              <p class="text-muted my-3">Seleccione una compra para ver sus productos</p>
            </td>
          </tr>
          
          <!-- Lista de productos -->
          <tr *ngFor="let item of distribucion; let i = index">
            <td>{{ item.producto.nombre }}</td>
            <td class="text-center">{{ item.cantidad }}</td>
            <td class="text-end">{{ item.costo_original | currency:'USD':'symbol':'1.2' }}</td>
            <td class="text-end">{{ item.valor_fob | currency:'USD':'symbol':'1.2' }}</td>
            <td class="text-end">{{ item.porcentaje_distribucion | number:'1.2-2' }}%</td>
            <td class="text-end">{{ item.monto_transporte | currency:'USD':'symbol':'1.2' }}</td>
            <td class="text-end">{{ item.monto_seguro | currency:'USD':'symbol':'1.2' }}</td>
            <td class="text-end">{{ item.monto_dai | currency:'USD':'symbol':'1.2' }}</td>
            <td class="text-end">{{ item.monto_otros | currency:'USD':'symbol':'1.2' }}</td>
            <td class="text-end">{{ item.costo_landed | currency:'USD':'symbol':'1.2' }}</td>
            <td class="text-end">{{ item.costo_retaceado | currency:'USD':'symbol':'1.2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-md-12">
      <button (click)="calcularDistribucion()" [disabled]="!retaceo.id_compra || loading" 
              class="btn btn-warning float-start me-2">
        <i class="fa fa-calculator"></i> Calcular
      </button>
      
      <button type="submit" (click)="guardarRetaceo()" [disabled]="saving || loading || !distribucion || distribucion.length === 0" 
              class="btn btn-primary float-end">
        <span *ngIf="!saving">Aplicar Retaceo <i class="fa fa-check ms-1"></i></span>
        <span *ngIf="saving">Aplicando...</span>
      </button>
    </div>
  </div>
</section>