<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Cliente</h2>
</section>

<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body"> 
                <div class="row">
                    <h6 class="col-12 pb-2 mb-3">Información de contacto</h6>
                    <div class="form-group col-lg-3">
                        <label class="fw-medium">Nombre:</label>
                        <p>{{ cliente.nombre }}</p>
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="fw-medium">Apellido:</label>
                        <p>{{ cliente.apellido }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">Correo:</label>
                        <p>{{ cliente.correo }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">DUI:</label>
                        <p>{{ cliente.dui }}</p>
                    </div>
                    <div class="form-group col-md-6 col-lg-3">
                        <label class="fw-medium">Tipo de contribuyente:</label>
                        <p>{{ cliente.tipo_contribuyente }}</p>
                    </div>
                    <!-- <div class="form-group col-lg-6">
                        <label class="fw-medium">Etiquetas:</label>
                        <p><tag-input theme='bootstrap' seconda</p>ryPlaceholder="Etiquetas" [placeholder]="'etiquetas'" [separatorKeyCodes]="[32]" [(ngModel)]="cliente.etiquetas" name="etiquetas"></tag-input>
                    </div> -->
                    <div class="form-group col-lg-9">
                        <label class="fw-medium">Observaciones:</label>
                        <p>{{ cliente.nota }}</p>
                    </div>

                    <h6 class="col-12 pb-2 my-3">Información de la empresa (Opcional)</h6>
                    
                    <div class="form-group col-6 col-lg-6">
                        <label class="fw-medium">Empresa:</label>
                        <p>{{ cliente.nombre_empresa }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">NRC:</label>
                        <p>{{ cliente.ncr }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">NIT:</label>
                        <p>{{ cliente.nit }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-6">
                        <label class="fw-medium">Giro:</label>
                        <p>{{ cliente.giro }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">Teléfono:</label>
                        <p>{{ cliente.telefono }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">Municipio:</label>
                        <p>{{ cliente.municipio }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">Departamento:</label>
                        <p>{{ cliente.departamento }}</p>
                    </div>
                    <div class="form-group col-12 col-md-9">
                        <label class="fw-medium">Dirección:</label>
                        <p>{{ cliente.direccion }}</p>
                    </div>
                    
                </div>
                <div class="row mt-4" *ngIf="cliente.tipo == 'Empresa'">
                    <div class="col-12 d-flex justify-content-between align-items-center mb-3">
                        <h6 class="mb-0">Contactos adicionales</h6>
                    </div>
                    
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover" *ngIf="cliente.contactos?.length > 0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Teléfono</th>
                                        <th>Cargo</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let contacto of cliente.contactos">
                                        <td>{{contacto.nombre}} {{contacto.apellido}}</td>
                                        <td>{{contacto.correo}}</td>
                                        <td>{{contacto.telefono}}</td>
                                        <td>{{contacto.cargo}}</td>
                                        <td class="text-center">
                                            <!--Ver detalles-->
                                            <button type="button" class="btn btn-light btn-sm me-2" tooltip="Ver detalles (F2)" (click)="openModal(mcontacto,contacto)">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                          
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center py-3" *ngIf="!cliente.contactos?.length">
                                <span class="badge bg-primary">No hay contactos registrados</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #mcontacto>
    <div class="modal-header">
        <h4 class="modal-title text-center">Detalles del contacto</h4>
        <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
      </div>
    <div class="modal-body">
      <form (ngSubmit)="submit($event)">
      <div class="row">
          
          <div class="form-group col-md-6">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" name="nombre" [(ngModel)]="contacto.nombre">
          </div>
          <div class="form-group col-md-6">
              <label for="apellido">Apellido:</label>
              <input type="text" class="form-control" name="apellido" [(ngModel)]="contacto.apellido">
          </div>
          <div class="form-group col-md-6">
              <label for="correo">Correo:</label>
              <input type="email" class="form-control" name="correo" [(ngModel)]="contacto.correo">
          </div>
          <div class="form-group col-6 col-md-6">
              <label for="sexo">Sexo:</label>
              <select class="form-control" name="sexo" [(ngModel)]="contacto.sexo">
                  <option value="Hombre">Hombre</option>
                  <option value="Mujer">Mujer</option>
                  <option value="Otro">Otro</option>
              </select>
          </div>
          <div class="form-group col-6 col-md-4">
              <label for="telefono">Teléfono:</label>
              <input type="text" class="form-control" name="telefono" [(ngModel)]="contacto.telefono">
          </div>
          <div class="form-group col-6 col-md-4">
              <label for="cargo">Cargo:</label>
              <input type="text" class="form-control" name="cargo" [(ngModel)]="contacto.cargo">
          </div>
          <div class="form-group col-6 col-md-4">
              <label for="red_social">Red social:</label>
              <input type="text" class="form-control" name="red_social" [(ngModel)]="contacto.red_social">
          </div>
          <div class="form-group col-6 col-md-4">
              <label for="fecha_nacimiento">Fecha nacimiento:</label>
              <input type="date" class="form-control" name="fecha_nacimiento" [(ngModel)]="contacto.fecha_nacimiento">
          </div>
          <div class="form-group col-12">
              <label for="nota">Nota:</label>
              <textarea class="form-control" name="nota" [(ngModel)]="contacto.nota" cols="30" rows="2"></textarea>
          </div>
                      
      </div>
      </form>
    </div>
  </ng-template>


