<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Cliente</h2>
</section>

<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body"> 
                <div class="row">
                    <h6 class="col-12 pb-2 mb-3">Información de contacto</h6>
                    <div class="form-group col-lg-3">
                        <label class="fw-medium">Nombre:</label>
                        <p>{{ cliente.nombre }}</p>
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="fw-medium">Apellido:</label>
                        <p>{{ cliente.apellido }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">Correo:</label>
                        <p>{{ cliente.correo }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">DUI:</label>
                        <p>{{ cliente.dui }}</p>
                    </div>
                    <div class="form-group col-md-6 col-lg-3">
                        <label class="fw-medium">Tipo de contribuyente:</label>
                        <p>{{ cliente.tipo_contribuyente }}</p>
                    </div>
                    <!-- <div class="form-group col-lg-6">
                        <label class="fw-medium">Etiquetas:</label>
                        <p><tag-input theme='bootstrap' seconda</p>ryPlaceholder="Etiquetas" [placeholder]="'etiquetas'" [separatorKeyCodes]="[32]" [(ngModel)]="cliente.etiquetas" name="etiquetas"></tag-input>
                    </div> -->
                    <div class="form-group col-lg-9">
                        <label class="fw-medium">Observaciones:</label>
                        <p>{{ cliente.nota }}</p>
                    </div>

                    <h6 class="col-12 pb-2 my-3">Información de la empresa (Opcional)</h6>
                    
                    <div class="form-group col-6 col-lg-6">
                        <label class="fw-medium">Empresa:</label>
                        <p>{{ cliente.nombre_empresa }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">NRC:</label>
                        <p>{{ cliente.ncr }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">NIT:</label>
                        <p>{{ cliente.nit }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-6">
                        <label class="fw-medium">Giro:</label>
                        <p>{{ cliente.giro }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">Teléfono:</label>
                        <p>{{ cliente.telefono }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">Municipio:</label>
                        <p>{{ cliente.municipio }}</p>
                    </div>
                    <div class="form-group col-6 col-lg-3">
                        <label class="fw-medium">Departamento:</label>
                        <p>{{ cliente.departamento }}</p>
                    </div>
                    <div class="form-group col-12 col-md-9">
                        <label class="fw-medium">Dirección:</label>
                        <p>{{ cliente.direccion }}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


