<section class="d-flex justify-content-between bg-white p-2 p-md-4 rounded mb-3">
    <h2 class="page-heading">
        <span *ngIf="!loading && compra.estado != 'Pre-compra'">Compra</span>
        <span *ngIf="!loading && compra.estado == 'Pre-compra'">Orden de compra</span>
    </h2>
    <div class="d-flex gap-2">
        <button *ngIf="compra.id" (click)="imprimir()" class="btn btn-default" tooltip="Imprimir compra">
            <i class="fa fa-print"></i> Imprimir
        </button>
        <button class="btn btn-light text-danger" (click)="goBack()"><i class="fa fa-arrow-left"></i> Regresar</button>
    </div>
</section>

<div class="card border-0">
    <div class="card-body">
        <div class="row">
            <h6 class="col-12"> Información </h6>
            <div class="form-group col-lg-3">
                <label class="fw-medium">Fecha</label>
                <p>{{ compra.fecha | date:'dd/MM/yyyy'}} {{ compra.created_at | date:'hh:mm a'}}</p>
            </div>
            <div class="form-group col-lg-6">
                <label class="fw-medium">Proveedor</label>
                <p>{{ compra.nombre_proveedor }}</p>
            </div>
            <div class="form-group col-lg-3">
                <label class="fw-medium">Estado</label>
                <p>{{ compra.estado }}</p>
            </div>
            <div class="form-group col-lg-3">
                <label class="fw-medium">Fecha pago</label>
                <p>{{ compra.fecha_pago | date:'dd/MM/yyyy' }}</p>
            </div> 
            <div class="form-group col-lg-3">
                <label class="fw-medium">Forma de pago</label>
                <p>{{ compra.forma_pago }}</p>
            </div> 
            <div class="form-group col-lg-3">
                <label class="fw-medium">Detalle banco</label>
                <p>{{ compra.detalle_banco }}</p>
            </div>
            <div class="form-group col-lg-3">
                <label class="fw-medium">Documento</label>
                <p>{{ compra.tipo_documento }} # {{ compra.referencia }}</p>
            </div>
            <div class="form-group col-lg-3">
                <label class="fw-medium">N° serie</label>
                <p>{{ compra.num_serie }}</p>
            </div>
            <div class="form-group col-lg-3">
                <label class="fw-medium">Usuario</label>
                <p>{{ compra.nombre_usuario }}</p>
            </div>
            <div class="form-group col-lg-3">
                <label class="fw-medium">Sucursal</label>
                <p>{{ compra.nombre_sucursal }}</p>
            </div>
            <div class="form-group col-lg-3">
                <label class="fw-medium">Giro</label>
                <p>{{ compra?.proveedor?.giro  || 'N/A' }}</p>
            </div>
            <div class="form-group col-lg-3">
                <label class="fw-medium">{{ apiService.auth_user().empresa.pais == 'El Salvador' ? 'NIT' : 'Identificación fiscal' }}</label>
                <p>{{ compra?.proveedor?.nit || 'N/A' }}</p>
            </div>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Productos o servicios</h5>
        <div class="table-responsive" style="min-height: 300px;">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <!-- <th>N°</th> -->
                        <th>Producto</th>
                        <th width="100">Cantidad</th>
                        <th *ngIf="!apiService.isSupervisorLimitado()" width="100">Costo</th>
                        <th *ngIf="!apiService.isSupervisorLimitado()" width="100">Descuento</th>
                        <th *ngIf="!apiService.isSupervisorLimitado()" width="100" class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 3 : 6" class="text-center" *ngIf="compra.detalles?.length < 1 && !loading">
                            <span class="badge bg-primary">No tiene productos agregados</span>
                        </td>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 3 : 6" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor="let detalle of compra.detalles; let i=index">
                        <!-- <td> {{ i + 1 }} </td> -->
                        <td>
                            <img src="{{ apiService.baseUrl }}/img/{{ detalle.img }}" class="rounded-circle" height="50px" width="50px"> 
                            {{ detalle.nombre_producto }}
                        </td>
                        <td>{{ detalle.cantidad }}</td>
                        <td *ngIf="!apiService.isSupervisorLimitado()">{{ detalle.costo | currency:'USD':'symbol':'1.2' }}</td>
                        <td *ngIf="!apiService.isSupervisorLimitado()">{{ detalle.descuento | currency:'USD':'symbol':'1.2' }}</td>
                        <td *ngIf="!apiService.isSupervisorLimitado()" class="text-end">{{ detalle.total | currency:'USD':'symbol':'1.2' }}</td>
                    </tr>
                    <tr>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"></td>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"><b>Sub Total:</b></td>
                        <td *ngIf="!apiService.isSupervisorLimitado()" class="text-end"><b>{{ compra?.sub_total + compra?.descuento | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"></td>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"><b>Descuento:</b></td>
                        <td *ngIf="!apiService.isSupervisorLimitado()" class="text-end"><b>{{ compra?.descuento | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"></td>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"><b>IVA</b></td>
                        <td *ngIf="!apiService.isSupervisorLimitado()" class="text-end"><b>{{ compra?.iva | currency:'USD':'symbol':'1.2'}}</b> </td>
                    </tr>
                    <tr *ngIf="compra?.percepcion > 0">
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"></td>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"><b>Percepción (1%)</b></td>
                        <td *ngIf="!apiService.isSupervisorLimitado()" class="text-end"><b>{{ compra?.percepcion | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr *ngIf="compra?.renta_retenida > 0">
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"></td>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"><b>Renta retenida</b></td>
                        <td *ngIf="!apiService.isSupervisorLimitado()" class="text-end"><b>{{ compra?.renta_retenida | currency:'USD':'symbol':'1.2'}}</b> </td>
                    </tr>
                    <tr>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"></td>
                        <td [attr.colspan]="apiService.isSupervisorLimitado() ? 1 : 2" class="text-end"><b>Total:</b></td>
                        <td *ngIf="!apiService.isSupervisorLimitado()" class="text-end"><b>{{ compra?.total | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card" *ngIf="compra.observaciones">
    <div class="card-body">
        <h5 class="card-title"> Observaciones </h5>
        <p>{{ compra.observaciones }}</p>  
    </div>

</div>

<div class="card" *ngIf="compra.abonos?.length > 0 || compra.estado == 'Pendiente'">
    <h5 class="card-title p-3">
        Recibos de pago
        <a *ngIf="compra.saldo > 0" (click)="openAbono(mabono, compra)" class="btn btn-default float-end">
            <i class="fas fa-fw fa-hand-holding-usd"></i> Agregar abono
        </a>
    </h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Forma de pago</th>
                        <th>Estado</th>
                        <th class="text-end">Total</th>
                        <!-- <th class="text-center">Mas</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center" *ngIf="compra.abonos?.length < 1 && !loading">
                            <span class="badge bg-primary">No tiene abonos agregados</span>
                        </td>
                        <td colspan="5" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor="let abono of compra.abonos; let i=index">
                        <td>{{ abono.fecha | date:'dd/MM/yyyy' }}</td>
                        <td>{{ abono.concepto }}</td>
                        <td>{{ abono.forma_pago }} <small *ngIf="abono.detalle_banco" class="text-muted">({{ abono.detalle_banco }})</small></td>
                        <td>
                            <select name="estado" class="form-select w-auto border-0" (change)="setEstado(abono)" [(ngModel)]="abono.estado" [ngClass]="{'bg-light-danger' : abono?.estado == 'Cancelado', 'bg-light-success' : abono?.estado == 'Confirmado'}">
                                <option value="Cancelado">Cancelado</option>
                                <option value="Confirmado">Confirmado</option>
                            </select>
                        </td>
                        <td class="text-end">{{ abono.total | currency:'USD':'symbol':'1.2' }}</td>
                       <!--  <td class="text-center">
                            <a (click)="imprimirRecibo(abono)" class="btn btn-light">
                                <i class="fa fa-fw fa-print"></i>
                            </a>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card" *ngIf="compra.devoluciones?.length > 0">
    <h5 class="card-title p-3">
        Devoluciones
    </h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Tipo documento</th>
                        <th>Referencia</th>
                        <th>Estado</th>
                        <th class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" class="text-center" *ngIf="compra.devoluciones?.length < 1 && !loading">
                            <span class="badge bg-primary">No tiene devoluciones agregadas</span>
                        </td>
                        <td colspan="6" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor="let devolucion of compra.devoluciones; let i=index">
                        <td>{{ devolucion.fecha | date:'dd/MM/yyyy' }}</td>
                        <td>{{ devolucion.tipo }}</td>
                        <td>{{ devolucion.tipo_documento }}</td>
                        <td>{{ devolucion.referencia }}</td>
                        <td>
                            <span class="badge" [ngClass]="{'bg-danger' : devolucion?.enable == '0', 'bg-success' : devolucion?.enable == '1'}">
                                {{ devolucion?.enable == '1' ? 'Activa' : 'Anulada' }}
                            </span>
                        </td>
                        <td class="text-end">{{ devolucion.total | currency:'USD':'symbol':'1.2' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #mabono>
    <div class="modal-header d-block text-center">
        <h5 class="modal-title mb-0">Recibo de pago </h5>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <app-crear-abono-compra [compra]="compra" (update)="loadAll()"></app-crear-abono-compra>
    </div>
</ng-template>
