<button class="tcla-F5 d-none" (click)="loadAll()"></button>

<app-cocina-datos [dash]="dash" [loading]="loading" (loadAll)="loadAll()"></app-cocina-datos>

<!-- <div class="row" *ngIf="loading">
    <div class="col-12 text-muted text-center thumbler">
      Cargando...
    </div>
</div> -->

<div class="row" class="text-center" *ngIf="dash?.detalles?.length < 1">
    <div class="col-md-12 px-0">
        <div class="card">
            <div class="card-body">
                <div class="h-100 p-5">
                  <i class="fa fa-clipboard-check fa-3x mb-3 text-muted"></i>
                  <p>No tiene detalles pendiente.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="dash?.detalles?.length > 0">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de ordenes</h4>
                <div class="table-responsive" style="max-height: calc(100vh - 290px); overflow-y: auto;">
                    <table class="table table-striped table-hover">
                        <tbody *ngFor="let detalle of dash?.detalles">
                            <tr>
                                <th>Mesa</th>
                                <th>Orden #</th>
                                <!-- <th>Cliente</th> -->
                                <th>Producto</th>
                                <th class="text-center">Cantidad</th>
                                <th>Nota</th>
                                <th>Estado</th>
                                <th class="text-right">
                                    <a style="width: 120px;" class="btn btn-warning mr-2" (click)="setEstadoDetalle(detalle, 'En Proceso')"> En Proceso </a>
                                    <a style="width: 120px;" class="btn btn-success" (click)="setEstadoDetalle(detalle, 'Entregada')"> Entregar </a>
                                </th>
                            </tr>
                            <tr>
                                <td>{{ detalle.comanda.mesa }}</td>
                                <td>{{ detalle.comanda.id }}</td>
                                <!-- <td>{{ detalle.comanda.nombre_cliente }}</td> -->
                                <td>{{ detalle.nombre_producto }}</td>
                                <td class="text-center">{{ detalle.cantidad }}</td>
                                <td>{{ detalle.nota }}</td>
                                <td>
                                    <span class="badge" [ngClass]="{ 
                                            'badge-danger' : detalle.estado == 'Solicitada', 
                                            'badge-warning' : detalle.estado == 'En Proceso', 
                                            'badge-success' : detalle.estado == 'Entregada'} ">
                                        {{ detalle.estado }}
                                    </span>
                                </td>
                                <td>
                                    <app-timer *ngIf="detalle.created_at" [time]="detalle.created_at"></app-timer>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-8">
        <div class="card" style="min-height: calc(100vh - 220px);">
            <div class="card-body" *ngIf="comanda.id">
                <h4 class="float-end"><b>Orden: #</b> {{ comanda.id }}</h4>
                <p><b>Mesa:</b> {{ comanda.mesa }}</p>
                <p><b>Cliente:</b> {{ comanda.nombre_cliente }}</p>

                <div class="table-responsive" style="min-height: 300px;">
                    <table class="table table-borderless table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Producto</th>
                                <th class="text-center d-none d-md-table-cell">Cantidad</th>
                                <th class="text-center">Estado</th>
                                <th>Nota</th>
                                <th class="d-none d-md-table-cell text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td colspan="7" class="text-center" *ngIf="comanda.detalles?.length < 1 && !loading">
                                <span class="label label-info">No tiene productos agregados</span>
                            </td>
                            <tr *ngFor="let detalle of comanda.detalles">
                                <td> {{ detalle.id }} </td>
                                <td> {{ detalle.nombre_producto }} </td>
                                <td class="text-center d-none d-md-table-cell">{{ detalle.cantidad }}</td>
                                <td class="text-center">
                                    <span class="badge" [ngClass]="{ 
                                            'badge-danger' : detalle.estado == 'Solicitada', 
                                            'badge-warning' : detalle.estado == 'En Proceso', 
                                            'badge-success' : detalle.estado == 'Entregada' } ">
                                        {{ detalle.estado }}
                                    </span>
                                </td>
                                <td class="text-center">{{ detalle.nota }}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-default" (click)="setEstadoDetalle(detalle, 'En Proceso')"> En Proceso </a>
                                        <a class="btn btn-sm btn-default" (click)="setEstadoDetalle(detalle, 'Entregada')"> Entregada </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn-btn-group float-end">
                    <a class="btn btn-default" (click)="setEstado(comanda, 'En Proceso')">En proceso todo</a>
                    <a class="btn btn-default" (click)="setEstado(comanda, 'Entregada')">Entregado todo</a>
                </div>

            </div>

            <div class="card-body text-center h-100 w-100 d-flex justify-content-center align-items-center" *ngIf="!comanda.id">
                <div class="text-muted">
                    <i class="fa fa-receipt fa-3x"></i>
                   <p>Seleccione una comanda para ver su detalle</p>
                </div>
            </div>

        </div>
    </div> -->

</div>
