<div class="container">

<section class="content-header">
    <h1> Galonaje <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a class="active">Galonaje</a></li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <div class="col-xs-12">
                    <div class="text-center">
                        <h3>Galonaje</h3>
                        <p>Historial</p>
                       <form name="form" (ngSubmit)="loadAll()" class="form-inline mr-top">
                            <div class="form-group">
                                <label for="">Del:</label>
                                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
                            </div>
                            <div class="form-group" style="margin-left: 15px;">
                                <label for="">Al:</label>
                                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
                            </div>
                            <div class="form-group" style="margin-left: 15px;">
                                <label for="">Tipo:</label>
                                <select class="form-control" [(ngModel)]="filtro.tipo_documento" name="tipo_documento">
                                    <option value="">Todos</option>
                                    <option value="Factura">Factura</option>
                                    <option value="Credito Fiscal">Credito Fiscal</option>
                                    <option value="Ninguno">Ninguna</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="loading">
                                <i *ngIf="!loading" class="fa fa-search"></i>
                                <i *ngIf="loading" class="fa fa-ellipsis-h"></i>
                            </button>
                            <app-descargar-excel *ngIf="galonajes?.length > 0" [nombre]="'Galonaje'"></app-descargar-excel>
                        </form>
                    </div>
                    
                    <table class="table table-bordered table-hover mr-top" id="tablaReporte">
                        <thead>
                            <tr>
                                <th colspan="3"></th>
                                <th colspan="3" class="text-center">Cantidad</th>
                                <th colspan="3" class="text-center">Precio</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th style="width:100px;" class="text-center hidden-xs">Fecha</th>
                                <th>Cliente</th>
                                <th>Correlativo</th>
                                <th class="text-center">Diesel</th>
                                <th class="text-center">Regular</th>
                                <th class="text-center">Especial</th>
                                <th class="text-center">Diesel</th>
                                <th class="text-center">Regular</th>
                                <th class="text-center">Especial</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="10" class="text-center" *ngIf="galonajes?.length < 1 && !loading">
                                    <span class="label label-info">No tiene galonajes registrados</span>
                                </td>
                                <td colspan="10" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let galon of galonajes">
                                
                                <td class="text-center hidden-xs">{{galon.fecha | date:'dd-MM-yyyy'}}</td>
                                <td>{{galon.cliente}}</td>
                                <td>{{galon.correlativo}}</td>
                                
                                <td class="text-center"><span *ngIf="galon.can_diesel">{{galon.can_diesel}}</span></td>
                                <td class="text-center"><span *ngIf="galon.can_regular">{{galon.can_regular}}</span></td>
                                <td class="text-center"><span *ngIf="galon.can_super">{{galon.can_super}}</span></td>

                                <td class="text-center"><span *ngIf="galon.pre_diesel">{{galon.pre_diesel | currency:'USD':'symbol':'1.2'}}</span></td>
                                <td class="text-center"><span *ngIf="galon.pre_regular">{{galon.pre_regular | currency:'USD':'symbol':'1.2'}}</span></td>
                                <td class="text-center"><span *ngIf="galon.pre_super">{{galon.pre_super | currency:'USD':'symbol':'1.2'}}</span></td>


                                <td class="text-center">{{galon.total | currency:'USD':'symbol':'1.2'}}</td>

                            </tr>
                            <tr>
                                <td colspan="3" class="text-center"><b>Totales</b></td>
                                
                                <td class="text-center"><b>{{ galonajes | sum:'can_diesel' | number }}</b></td>
                                <td class="text-center"><b>{{ galonajes | sum:'can_regular' | number }}</b></td>
                                <td class="text-center"><b>{{ galonajes | sum:'can_super' | number }}</b></td>

                                <td class="text-center"><b>{{ galonajes | sum:'pre_diesel' | currency:'USD':'symbol':'1.2' }}</b></td>
                                <td class="text-center"><b>{{ galonajes | sum:'pre_regular' | currency:'USD':'symbol':'1.2' }}</b></td>
                                <td class="text-center"><b>{{ galonajes | sum:'pre_super' | currency:'USD':'symbol':'1.2' }}</b></td>

                                <td class="text-center"><b>{{ galonajes | sum:'total' | currency:'USD':'symbol':'1.2' }}</b></td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="galonajes?.length > 10">
                            <tr>
                                <th class="text-center hidden-xs">Fecha</th>
                                <th>Correlativo</th>
                                <th>Cliente</th>
                                <th class="text-center">Diesel</th>
                                <th class="text-center">Regular</th>
                                <th class="text-center">Especial</th>
                                <th class="text-center">Diesel</th>
                                <th class="text-center">Regular</th>
                                <th class="text-center">Especial</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </tfoot>

                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>