<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-sm table-borderless table-hover table-condensed mb-0 align-middle">
            <thead>
                <tr>
                    <th style="width: 30px">
                        <input type="checkbox" 
                               (change)="seleccionarTodos($event)"
                               [checked]="todosSeleccionados">
                    </th>
                    <th>Producto</th>
                    <th style="width: 150px;">Cantidad</th>
                    <th style="width: 150px;">Costo</th>
                    <th style="width: 150px;">Descuento</th>
                    <th style="width: 100px;" class="text-right">Total</th>
                    <th style="width: 50px;" class="text-center"><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (devolucion?.detalles?.length < 1) {
                  <tr>
                    <td colspan="7" class="text-center">
                        <p class="text-muted my-3">
                            Agregue productos y servicios
                        </p>
                    </td>
                  </tr>
                }
                @for (detalle of devolucion?.detalles; track detalle.id || $index) {
                  <tr>
                    <td>
                        <input type="checkbox"
                               [(ngModel)]="detalle.seleccionado"
                               (change)="actualizarSeleccion()">
                    </td>
                    <td>
                        <img [appLazyImage]="apiService.baseUrl + '/img/' + detalle.img" class="rounded-circle" height="50px" width="50px"> 
                        {{ detalle.nombre_producto }}
                        <br>
                        <small class="text-muted" *ngIf="detalle.inventario_por_lotes && isLotesActivo()">
                            <button class="btn btn-sm mt-1" 
                                    [ngClass]="detalle.lote_id ? 'btn-outline-success' : 'btn-outline-warning'" 
                                    (click)="abrirModalLote(mlote, detalle)">
                                <i class="fa fa-box"></i> 
                                <span *ngIf="detalle.lote_id">
                                    Lote: {{ detalle.lote?.numero_lote || 'N/A' }}
                                </span>
                                <span *ngIf="!detalle.lote_id" class="text-muted">
                                    Seleccionar lote
                                </span>
                            </button>
                        </small>
                    </td>
                     <td style="width: 150px;">
                        <input type="number" [(ngModel)]="detalle.cantidad" (change)="updateTotal(detalle)" (keyup)="updateTotal(detalle)" class="form-control"  name="cantidad">
                    </td>
                    <td style="width: 150px;">
                        <input type="number" [(ngModel)]="detalle.costo" (change)="updateTotal(detalle)" (keyup)="updateTotal(detalle)" class="form-control"  name="costo">
                    </td>
                    <td style="width: 150px;">
                        <input type="number" [(ngModel)]="detalle.descuento" (change)="updateTotal(detalle)" (keyup)="updateTotal(detalle)" class="form-control"  name="descuento">
                    </td>
                    <td style="width: 100px;" class="text-right">{{ detalle.total | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 50px;" class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-light" (click)="delete(detalle)">
                              <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                  </tr>
                }
            </tbody>
        </table>
        @if (haySeleccionados()) {
          <div class="d-flex justify-content-end mt-3">
            <!-- <button class="btn btn-danger" (click)="eliminarSeleccionados()">
                Eliminar productos seleccionados
            </button> -->
            <button class="btn btn-light text-danger" (click)="eliminarSeleccionados($event)" tooltip="Eliminar seleccionados">
                Eliminar productos seleccionados <i class="fa fa-trash"></i>
            </button>
          </div>
        }
    </div>
</div>


<ng-template #mcantidad>
  <div class="modal-header">
    <h3 class="modal-title text-center">Cantidad</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <form autocomplete="off" (ngSubmit)="setCantidad()">
            <div class="col-md-12">
                <input type="number" [(ngModel)]="cantidad" name="cantidad" class="form-control text-center" placeholder="Cantidad" focus="true">
            </div>
            @if (detalle.precio2) {
              <div class="col-md-12">
                <label for="">Precios:</label>
                <div class="row">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      @if (detalle.precio1 > 0) {
                        <button type="button" [ngClass]="precio == detalle.precio1 ? 'btn col-md-4 btn-primary' : 'btn btn-default col-md-4'" (click)="setPrecio(detalle.precio1)">{{ detalle.precio1 }}</button>
                      }
                      @if (detalle.precio2 > 0) {
                        <button type="button" [ngClass]="precio == detalle.precio2 ? 'btn col-md-4 btn-primary' : 'btn btn-default col-md-4'" (click)="setPrecio(detalle.precio2)">{{ detalle.precio2 }}</button>
                      }
                      @if (detalle.precio3 > 0) {
                        <button type="button" [ngClass]="precio == detalle.precio3 ? 'btn col-md-4 btn-primary' : 'btn btn-default col-md-4'" (click)="setPrecio(detalle.precio3)">{{ detalle.precio3 }}</button>
                      }
                    </div>
                </div>
              </div>
            }
            <div class="col-md-12 mt-4">
                <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading || !cantidad">
                    @if (!loading) {
                      <span>Guardar</span>
                    }
                    @if (loading) {
                      <span>Guardando...</span>
                    }
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>


<ng-template #msupervisor>
  <div class="modal-header">
    <h4 class="modal-title text-center">Autorización</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form name="form" (ngSubmit)="supervisorCheck()">
            <div class="form-group col-md-12">
                <label for="codigo">Ingrese el código de supervisor:</label>
                <input type="password" [(ngModel)]="supervisor.codigo" name="codigo" class="form-control text-center" focus="true">
            </div>
            <div class="col-md-12">
                <button [disabled]="loading || !supervisor.codigo" class="btn btn-primary btn-block">
                    @if (!loading) {
                      <span>Guardar</span>
                    }
                    @if (loading) {
                      <span>Guardando...</span>
                    }
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>

<!-- Modal para seleccionar/crear lote -->
<ng-template #mlote>
    <div class="modal-header">
        <h4 class="modal-title">Gestión de Lote - {{ detalle.nombre_producto }}</h4>
        <button type="button" class="btn-close" (click)="cerrarModalLote()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-12">
                <div class="btn-group w-100" role="group">
                    <input type="radio" class="btn-check" name="loteOption" id="seleccionarLote" 
                           [checked]="!crearNuevoLote" (change)="cambiarModoLote(false)">
                    <label class="btn btn-outline-primary" for="seleccionarLote">
                        <i class="fa fa-list"></i> Seleccionar lote existente
                    </label>
                    
                    <input type="radio" class="btn-check" name="loteOption" id="crearLote" 
                           [checked]="crearNuevoLote" (change)="cambiarModoLote(true)">
                    <label class="btn btn-outline-primary" for="crearLote">
                        <i class="fa fa-plus"></i> Crear nuevo lote
                    </label>
                </div>
            </div>
        </div>

        <!-- Seleccionar lote existente -->
        <div *ngIf="!crearNuevoLote">
            <h6 class="mb-3">Seleccionar lote existente</h6>
            <div class="table-responsive" style="max-height: 300px;">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Stock</th>
                            <th>Fabricación</th>
                            <th>Vencimiento</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loading">
                            <td colspan="5" class="text-center">Cargando...</td>
                        </tr>
                        <tr *ngIf="!loading && lotes.length == 0">
                            <td colspan="5" class="text-center text-muted">
                                <p class="mb-2">No hay lotes disponibles para este producto en esta bodega.</p>
                                <small>Puede crear un nuevo lote usando la opción de arriba.</small>
                            </td>
                        </tr>
                        <tr *ngFor="let lote of lotes">
                            <td><strong>{{ lote.numero_lote || 'Sin número' }}</strong></td>
                            <td>{{ lote.stock | number:'1.2' }}</td>
                            <td>{{ lote.fecha_fabricacion ? (lote.fecha_fabricacion | date:'dd/MM/yyyy') : 'N/A' }}</td>
                            <td>
                                <span *ngIf="lote.fecha_vencimiento">
                                    {{ lote.fecha_vencimiento | date:'dd/MM/yyyy' }}
                                    <span *ngIf="isLoteVencido(lote.fecha_vencimiento)" class="badge bg-danger ms-1">Vencido</span>
                                </span>
                                <span *ngIf="!lote.fecha_vencimiento" class="text-muted">Sin vencimiento</span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary" (click)="seleccionarLote(lote)">
                                    <i class="fa fa-check"></i> Seleccionar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Crear nuevo lote -->
        <div *ngIf="crearNuevoLote">
            <h6 class="mb-3">Crear nuevo lote</h6>
            <form (ngSubmit)="crearLote()">
                <div class="form-group mb-3">
                    <label>Número de lote <span class="text-danger">*</span></label>
                    <input type="text" [(ngModel)]="nuevoLote.numero_lote" class="form-control" 
                           name="numero_lote" placeholder="Ej: LOTE-001" required>
                    <small class="text-muted">Identificador único del lote</small>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label>Fecha de fabricación</label>
                        <input type="date" [(ngModel)]="nuevoLote.fecha_fabricacion" class="form-control" 
                               name="fecha_fabricacion">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label>Fecha de vencimiento</label>
                        <input type="date" [(ngModel)]="nuevoLote.fecha_vencimiento" class="form-control" 
                               name="fecha_vencimiento">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label>Observaciones</label>
                    <textarea [(ngModel)]="nuevoLote.observaciones" class="form-control" 
                              name="observaciones" rows="2" placeholder="Notas adicionales sobre el lote"></textarea>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" [disabled]="loading || !nuevoLote.numero_lote">
                        <span *ngIf="!loading"><i class="fa fa-save"></i> Crear lote</span>
                        <span *ngIf="loading">Creando...</span>
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="cambiarModoLote(false)">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
