<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Gastos recurrentes</h2>
    <button routerLink="/gasto/crear" tooltip="Crear gasto (F4)" class="btn btn-default tcla-F4"><i class="fa fa-plus"></i> Añadir gasto</button>
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row mb-3">
        <div class="col">
            @if (gastos?.total) {
              <span class="text-muted">
                Mostrando {{ gastos?.to }} de {{ gastos?.total + ' registros' }}
              </span>
            }
        </div>

        <div class="col">
            <div class="d-flex gap-2">
                <button tooltip="Descargar gastos" (click)="openDescargar(mdescargar)" class="btn btn-default tcla-F6"><img src="/assets/icons/download.png" class="icon"></button>
                <form class="d-flex input-group" name="form" (ngSubmit)="filtrarGastos()" autocomplete="off">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtros.buscador">
                </form>
                <button tooltip="Filtrar (F3)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F3"> <img src="/assets/icons/filter.png" class="icon"> </button>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="col-md-6 d-flex gap-2 mb-3">
            <button class="btn" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}"routerLink="/gastos">Todas</button>
            <button class="tcla-F5 btn" tooltip="Actualizar (F5)" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" (click)="loadAll()"  routerLink="/gastos/recurrentes">Recurrentes</button>
        </div>
        <div class="col-md-6 d-flex gap-2 justify-content-end mb-3">
            <select name="estado" (change)="filtrarGastos()" [(ngModel)]="filtros.estado" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Anulada">Anulada</option>
                <option value="Consigna">Consigna</option>
                <option value="Pagada">Pagada</option>
            </select>
            <ng-select name="id_proveedor" (change)="filtrarGastos()" [(ngModel)]="filtros.id_proveedor" class="form-select p-0 border-0 bg-default  w-auto">
                <ng-option value="">Proveedor</ng-option>
                @for (proveedor of proveedores; track proveedor.id) {
                  <ng-option [value]="proveedor.id">
                    {{ proveedor.tipo == 'Empresa' ? proveedor.nombre_empresa : proveedor.nombre_completo }}
                  </ng-option>
                }
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th (click)="setOrden('fecha')" [ngClass]="{'sorted-asc': filtros.orden == 'fecha' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'fecha' && filtros.direccion == 'desc'}" class="click">Fecha</th>
                        <!-- <th>Usuario</th> -->
                        <th>Proveedor</th>
                        <th>Concepto</th>
                        <th>Método de pago</th>
                        <th>Estado</th>
                        <!-- <th>Descripción</th> -->
                        <th (click)="setOrden('total')" [ngClass]="{'sorted-asc': filtros.orden == 'total' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'total' && filtros.direccion == 'desc'}" class="click text-right">Total</th>
                        <th class="text-center">Más</th>
                    </tr>
                </thead>
                <tbody>
                    @if (gastos?.total < 1 && !loading) {
                      <tr>
                        <td colspan="7" class="text-center">
                            <span class="badge bg-primary">No tiene gastos registradas</span>
                        </td>
                      </tr>
                    }
                    @if (loading) {
                      <tr>
                        <td colspan="7" class="text-center">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                      </tr>
                    }

                    @for (gasto of gastos?.data; track gasto.id || $index) {
                      <tr class="animated fadeIn">
                        <td>{{gasto.fecha | date:'dd/MM/yyyy'}}</td>
                        <!-- <td>{{gasto.nombre_usuario }}</td> -->
                        <td>
                          {{gasto.nombre_proveedor | truncate:30 }}
                          @if (gasto.id_proveedor) {
                            <a class="float-end d-none" tooltip="Ver información del proveedor" routerLink="/proveedor/editar/{{gasto.proveedor_id}}">
                              <i class="fa fa-edit"></i>
                            </a>
                          }
                        </td>
                        <td>{{gasto.concepto}}</td>
                        <td>{{gasto.forma_pago}}</td>
                        <td>
                            <select name="estado" [(ngModel)]="gasto.estado" class="form-select w-auto border-0" (change)="setEstado(gasto)" [ngClass]="{'bg-light-danger' : gasto.estado == 'Cancelado', 'bg-light-warning' : gasto.estado == 'Pendiente', 'bg-light-success' : gasto.estado == 'Confirmado'}">
                                <option value="Confirmado">Confirmado</option>
                                <option value="Cancelado">Cancelado</option>
                                <option value="Pendiente">Pendiente</option>
                            </select>
                        </td>
                        <td class="text-end">{{gasto.total | currency}}</td>
                        <td class="text-center">
                            <div class="d-flex gap-2 justify-content-center">
                                <a routerLink="/gasto/crear" tooltip="Generar gasto" [queryParams]="{ recurrente:1, id_gasto: gasto.id }" class="btn btn-default">
                                    <i class="fa fa-fw fa-clone"></i>
                                </a>
                                <a (click)="setRecurrencia(gasto)" tooltip="Marcar como no recurrente" class="btn btn-default">
                                    <i class="fa fa-fw fa-ban"></i>
                                </a>
                            </div>
                        </td>
                      </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (gastos?.last_page > 1) {
          <div class="col-12">
            <app-pagination [items]="gastos" (setPagination)="setPagination($event)"></app-pagination>
          </div>
        }
    </div>
</section>

<ng-template #mdescargar>
  <div class="modal-header">
    <h4 class="modal-title text-center">Descargar registro de gastos</h4>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
        <div class="row">
            <div class="d-grid mt-4">
                <button [disabled]="saving" (click)="descargarDetalles()" class="btn btn-primary btn-block">
                    @if (!saving) {
                      <span>Descargar los detalles de gastos</span>
                    }
                    @if (saving) {
                      <span>Descargando...</span>
                    }
                </button>
            </div>
            <div class="d-grid mt-4">
                <button [disabled]="saving" (click)="descargarGastos()" class="btn btn-primary btn-block">
                    @if (!saving) {
                      <span>Descargar las gastos</span>
                    }
                    @if (saving) {
                      <span>Descargando...</span>
                    }
                </button>
            </div>
        </div>
  </div>
</ng-template>

<ng-template #mabono>
    <div class="modal-header d-block text-center">
        <h5 class="modal-title mb-0">Recibo de pago </h5>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <app-crear-abono-gasto [gasto]="gasto" (update)="filtrarGastos()"></app-crear-abono-gasto>
    </div>
</ng-template>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="filtrarGastos()">
        <div class="row">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtros.inicio" [(ngModel)]="filtros.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtros.fin" [(ngModel)]="filtros.fin"/>
            </div>

            <div class="form-group col-md-12">
                <label for="filtros.proveedor">Proveedor:</label>
                <ng-select [(ngModel)]="filtros.id_proveedor" class="form-select p-0" name="filtros.id_proveedor">
                    <ng-option value="">Todos</ng-option>
                    @for (proveedor of proveedores; track proveedor.id) {
                      <ng-option [value]="proveedor.id">
                        {{ proveedor.nombre }}
                      </ng-option>
                    }
                </ng-select>
            </div>
            <div class="form-group col-md-6">
                <label for="filtros.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtros.id_sucursal" class="form-select" name="filtros.id_sucursal">
                    <option value="">Todos</option>
                    @for (sucursal of sucursales; track sucursal.id) {
                      <option [value]="sucursal.id">
                        {{ sucursal.nombre }}
                      </option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="filtros.id_usuario">Empleado:</label>
                <select [(ngModel)]="filtros.id_usuario" class="form-select" name="filtros.id_usuario">
                    <option value="">Todos</option>
                    @for (usuario of usuarios; track usuario.id) {
                      <option [value]="usuario.id">
                        {{ usuario.name }}
                      </option>
                    }
                </select>
            </div>
        </div>
        <div class="d-grid mt-4">
            <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                @if (!loading) {
                  <span>Filtrar</span>
                }
                @if (loading) {
                  <span>Filtrando...</span>
                }
            </button>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mgasto>
  <div class="modal-header">
    <h4 class="modal-title text-center">Editar gasto</h4>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="fecha">Fecha:</label>
                <input type="date" [(ngModel)]="gasto.fecha" name="fecha" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="forma_pago">Método de pago:</label>
                <select name="forma_pago" [(ngModel)]="gasto.forma_pago" class="form-select">
                    @for (forma of formaPagos; track forma.nombre || $index) {
                      <option [value]="forma.nombre">{{ forma.nombre }}</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="tipo_documento">Documento</label>
                <select name="tipo_documento" [(ngModel)]="gasto.tipo_documento" class="form-select">
                    @for (documento of documentos; track documento.nombre || $index) {
                      <option [value]="documento.nombre">{{ documento.nombre }}</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="correlativo">Correlativo:</label><br>
                <input type="number" class="form-control" [(ngModel)]="gasto.correlativo" name="correlativo">
            </div>
            <div class="form-group col-md-6" *ngIf="gasto.percepcion">
                <label for="sello_mh">Sello de Recepción</label>
                <input type="text" class="form-control" [(ngModel)]="gasto.sello_mh" name="sello_mh" placeholder="Sello de recepción">
            </div>
            <div class="d-grid mt-4">
                <button [disabled]="saving" class="btn btn-primary btn-block">
                    @if (!saving) {
                      <span>Guardar</span>
                    }
                    @if (saving) {
                      <span>Guardando...</span>
                    }
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
