<form name="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <h6 class="mb-3 font-weight-bold">Detalles</h6>
        <!-- nombre  -->
        <div class="form-group col-md-12 col-lg-4">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" (change)="verificarSiExiste()" [(ngModel)]="producto.nombre" name="nombre" placeholder="Escribe aquí" required>
        </div>
        <!-- codigo sku  -->
        <div class="form-group col-md-6 col-lg-3">
            <label for="codigo">Código</label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="producto.codigo" name="codigo" placeholder="Escribe aquí">
                <span class="input-group-text" *ngIf="producto.codigo">
                    <a class="click" tooltip="Generar codigo de barra" (click)="barcode()"><i class="fa fa-barcode"></i></a>
                </span>
            </div>
        </div>
        <!-- codigo de barra  -->
        <div class="form-group col-md-6 col-lg-3">
            <label for="barcode">Código de barras</label>
            <input type="text" class="form-control" [(ngModel)]="producto.barcode" name="barcode" placeholder="Escribe aquí" mask='0*'>
        </div>
        <!-- unidad de medida -->
        <div class="form-group col-md-6 col-lg-2" *ngIf="producto.tipo != 'Servicio'">
            <label for="medida">U. de Medida</label>
            <ng-select [(ngModel)]="producto.medida" class="form-select p-0" name="producto.medida">
                <ng-option *ngFor="let medida of medidas" [value]="medida.nombre">
                    {{ medida.nombre }}
                </ng-option>
            </ng-select>
        </div>

        <h6 class="my-3 font-weight-bold">Organización</h6>
        <!-- categoria -->
        <div class="form-group col-md-6 col-lg-3">
            <label for="id_categoria" class="w-100">Categoria</label>
            <div class="input-group">
                <ng-select name="id_categoria" [(ngModel)]="producto.id_categoria" class="form-select p-0" (change)="updateInputValue()">
                    <ng-option *ngFor="let categoria of categorias" [value]="categoria.id">
                        {{categoria.nombre}}
                    </ng-option>
                </ng-select>
                <app-crear-categoria (update)="setCategoria($event)"></app-crear-categoria>
            </div>
        </div>
        <!-- subcategoria -->
        <div class="form-group col-md-6 col-lg-3">
            <label for="id_subcategoria" class="w-100">Subcategoria</label>
            <div class="input-group">
                <ng-select name="id_subcategoria" [(ngModel)]="producto.id_subcategoria" class="form-select p-0" (change)="updateInputValue()">
                    <!-- <ng-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id"> -->
                    <ng-option *ngFor="let categoria of categorias" [value]="categoria.id">
                        {{categoria.nombre}}
                    </ng-option>
                </ng-select>
            </div>
        </div>
        <!-- marca -->
        <div class="form-group col-md-6 col-lg-2">
            <label for="marca">Marca</label>
            <input type="text" class="form-control" [(ngModel)]="producto.marca" name="marca" placeholder="Escribe aquí">
        </div>
        <!-- proveedor  -->
        <div class="form-group col-md-6 col-lg-4">
            <label for="">Proveedor</label>
            <div class="input-group flex-nowrap">
                <ng-select name="id_proveedor" placeholder="Consumidor Final" [(ngModel)]="producto.id_proveedor" class="form-select p-0">
                    <ng-option value=""> Seleccione aquí </ng-option>
                    <ng-option value="" *ngIf="loading"> Cargando proveedores... </ng-option>
                    <ng-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                        {{ proveedor.tipo == 'Empresa' ? proveedor.nombre_empresa : proveedor.nombre_completo}}
                    </ng-option>
                </ng-select>
                <!-- <app-crear-proveedor [id_proveedor]="compra.id_proveedor" (update)="setProveedor($event)"></app-crear-proveedor> -->
            </div>
        </div>
        <div class="form-group col-md-12 col-lg-7">
            <label for="etiquetas">Etiquetas</label>
            <tag-input theme='bootstrap' [placeholder]="'Escribe aquí'" secondaryPlaceholder="Escribe aquí" [separatorKeyCodes]="[32]" [(ngModel)]="producto.etiquetas" name="etiquetas"></tag-input>
        </div>

        <h6 class="my-3 font-weight-bold">Precio</h6>
        <div class="form-group col-md-4 col-lg-2" *ngIf="!loading && producto.tipo != 'Materia prima'">
            <label for="precio">Precio sin IVA</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" (change)="calPrecioFinal()" (keyup)="calPrecioFinal()" [(ngModel)]="producto.precio" name="precio" placeholder="$0.00" required>
            </div>
        </div>
        <div class="form-group col-md-4 col-lg-2">
            <label for="costo">Costo</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" [(ngModel)]="producto.costo" name="costo" placeholder="Escribe aquí" required>
            </div>
        </div>
        <div class="form-group col-md-4 col-lg-2" *ngIf="!loading && producto.tipo != 'Materia prima'">
            <label for="tipo_impuesto">Ganancia</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" disabled value="{{ (producto.precio - producto.costo).toFixed(2)}}">
            </div>
        </div>
        <div class="form-group col-md-4 col-lg-2" *ngIf="!loading && producto.tipo != 'Materia prima'">
            <label for="impuesto">Margen</label>
            <div class="input-group">
                <input type="number" class="form-control" disabled value="{{ ((producto.precio - producto.costo) / producto.precio * 100).toFixed(2) }}">
                <span class="input-group-text">%</span>
            </div>
        </div>
        <div *ngIf="usuario.empresa.iva > 0" class="form-group col-md-4 col-lg-2">
            <label class="fw-bold" for="precio_final">Precio con IVA:</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" placeholder="Escribe aquí" class="form-control" (change)="calPrecioBase()" (keyup)="calPrecioBase()" [(ngModel)]="producto.precio_final" name="precio_final">
            </div>
        </div>

        <h6 class="my-3 font-weight-bold w-100">Descripción</h6>

        <div class="form-group col-lg-12">
            <label for="descripcion">Agrega alguna información adicional</label>
            <textarea class="form-control" [(ngModel)]="producto.descripcion" name="Descripcion" placeholder="Escribe aquí" cols="30" rows="2"></textarea>
        </div>

        <div class="form-group col-md-6 col-lg-5 without-label " *ngIf="producto.tipo != 'Servicio'">
            <div class="form-switch bg-light-info rounded">
              <label>¿Es producto compuesto?</label>
              <input class="form-check-input float-end" type="checkbox" role="switch" (change)="setCompuesto()" [checked]="producto.tipo == 'Compuesto'" name="compuesto">
            </div>
        </div>

        <h6 class="my-3 font-weight-bold">Variacion</h6>


        <div class="form-group col-lg-12 mt-3">
            <button type="button" class="btn btn-primary" (click)="addVariant()" >Agregar Variación</button>
        </div>

        <div *ngFor="let variant of variants; let i = index" class="row mb-3">
            <div class="col-md-5">
              <label for="nombre{{i}}">Nombre de la Variación</label>
              <input type="text" [(ngModel)]="variant.nombre" name="nombre{{i}}" id="nombre{{i}}" class="form-control" placeholder="Nombre de la variación">
            </div>
            <div class="col-md-4">
              <label for="cantidad{{i}}">Cantidad</label>
              <input type="text" [(ngModel)]="variant.cantidad" name="cantidad{{i}}" id="cantidad{{i}}" 
              class="form-control" placeholder="Cantidad" pattern="^[0-9]+$" required>
       
       <!-- Mensaje de error si la validación falla -->
       <div *ngIf="!productForm.form.controls['cantidad' + i]?.valid && productForm.form.controls['cantidad' + i]?.touched" class="text-danger">
         La cantidad debe ser un número entero positivo.
       </div>            </div>
            <div class="col-md-2 d-flex align-items-end">
              <button type="button" class="btn btn-danger" (click)="removeVariant(i)" >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>

    
       

        <div class="form-group col-lg-12 mt-3">
            <button [disabled]="guardar" class="btn btn-primary float-end tcla-F10" tooltip="Guardar (F10)">
                <span *ngIf="!guardar">Guardar</span>
                <span *ngIf="guardar">Guardando...</span>
            </button>
        </div>
    </div>
</form>
