<div class="d-flex justify-content-between bg-white rounded p-3 mb-3">
    <h3>Nueva devolución de venta</h3>
    <button class="btn btn-light text-danger" routerLink="/devoluciones/ventas">Cancelar <i class="fa fa-close"></i></button>
</div>

<section class="card">
<form  name="facturacion" autocomplete="off" (ngSubmit)="onDevolucion()">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-4 col-lg-2">
                <label for="fecha">Fecha</label><br>
                <input type="date" class="form-control" [(ngModel)]="devolucion.fecha" name="fecha" id="fecha" required>
            </div>
            @if (devolucion.id_documento) {
                <div class="form-group col-md-4 col-lg-2">
                    <label for="id_documento">Documento</label>
                    <select name="id_documento" [(ngModel)]="devolucion.id_documento" (change)="setDocumento($event.target.value)" class="form-select">
                        @for (documento of documentos; track documento.id) {
                            <option [value]="documento.id">{{ documento.nombre }}</option>
                        }
                    </select>
                </div>
            }
            @if (devolucion.id_documento) {
                <div class="form-group col-md-4 col-lg-2">
                    <label for="correlativo">Correlativo</label>
                    <input type="number" class="form-control" [(ngModel)]="devolucion.correlativo" name="correlativo" id="correlativo">
                </div>
            }
            <div class="form-group col-md-4 col-lg-2">
                <label for="tipo">Tipo</label>
                <select name="tipo" [(ngModel)]="devolucion.tipo" class="form-select" required>
                    <option value="devolucion">Devolución</option>
                    <option value="descuento_ajuste">Descuento o Ajuste</option>
                    <option value="anulacion_factura">Anulación de Factura</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label for="">Observaciones:</label>
                    <input type="text" class="form-control" [(ngModel)]="devolucion.observaciones" name="observaciones" placeholder="Escribe aquí" required>
                </div>
            </div>
        </div>
        <h6 class="my-3">Datos de la venta</h6>
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Forma de pago</th>
                    <th>Tipo de documento</th>
                </tr>
                <tr>
                    <td>{{ venta.fecha | date:'dd/MM/yyyy'}}</td>
                    <td>{{ venta.nombre_cliente }}</td>
                    <td>{{ venta.nombre_usuario }}</td>
                    <td>{{ venta.estado }}</td>
                    <td>{{ venta.forma_pago }}</td>
                    <td>{{ venta.nombre_documento }} #{{ venta.correlativo }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <app-devolucion-venta-detalles [devolucion]="devolucion" (update)="updateDevolucion($event)" (sumTotal)="sumTotal()"></app-devolucion-venta-detalles>
            <div class="col-md-12">
                <table class="table table-sm table-borderless table-condensed mb-0">
                    <tbody>
                        <tr>
                            <td class="text-right"> Sub Total: </td>
                            <td width="70px" class="text-right"> {{ devolucion.sub_total | currency}} </td>
                        </tr>
                        <tr>
                            <td class="text-right"> IVA: </td>
                            <td width="70px" class="text-right"> {{ devolucion.iva | currency}} </td>
                        </tr>
                        @if (devolucion.percepcion) {
                        <tr>
                            <td class="text-right"> <b>Percepción (1%)</b></td>
                            <td style="width: 150px;" class="text-right"> {{ devolucion.iva_percibido | currency}} </td>
                            <td style="width: 50px;"></td>
                           </tr>
                        }
                       @if (devolucion.retencion) {
                           <tr>
                               <td class="text-right"> <b>Retención (1%)</b></td>
                               <td style="width: 150px;" class="text-right"> {{ devolucion.iva_retenido | currency}} </td>
                               <td style="width: 50px;"></td>
                           </tr>
                       }
                        @if (devolucion.renta > 0) {
                        <tr>
                             <td class="text-right"> <b>Ret. Renta (10%)</b></td>
                             <td style="width: 150px;" class="text-right"> {{ devolucion.renta_retenida | currency}} </td>
                             <td style="width: 50px;"></td>
                           </tr>
                        }
                       @if (devolucion.exenta > 0) {
                           <tr>
                               <td class="text-right"> <b>Ventas Exentas</b> </td>
                               <td style="width: 150px;" class="text-right"><b> {{ devolucion.exenta | currency}}</b> </td>
                               <td style="width: 50px;"></td>
                           </tr>
                       }
                       @if (devolucion.no_sujeta > 0) {
                           <tr>
                               <td class="text-right"> <b>Ventas No Sujetas</b> </td>
                               <td style="width: 150px;" class="text-right"><b> {{ devolucion.no_sujeta | currency}}</b> </td>
                               <td style="width: 50px;"></td>
                           </tr>
                       }
                       @if (devolucion.cuenta_a_terceros > 0) {
                           <tr>
                               <td class="text-right"> <b>Cuenta a terceros</b> </td>
                               <td style="width: 150px;" class="text-right"><b> {{ devolucion.cuenta_a_terceros | currency}}</b> </td>
                               <td style="width: 50px;"></td>
                           </tr>
                       }
                        <tr>
                            <td class="text-right"> <b>Total:</b> </td>
                            <td width="70px" class="text-right"><b> {{ devolucion.total | currency}}</b> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <section class="card border-0 p-3 mb-3">
        <div class="row">
            <h6 class="mt-3">Detalles de facturación</h6>
            <div class="form-group col-md-6 col-lg-3 without-label">
                <div class="form-switch bg-light-info rounded">
                  <label for="cobrar_impuestos">Con IVA ({{ apiService.auth_user().empresa.iva | number:'1.0' }}%)</label>
                  <input class="form-check-input float-end" type="checkbox" role="switch" (change)="sumTotal()" [(ngModel)]="devolucion.cobrar_impuestos" name="devolucion.cobrar_impuestos">
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-3 without-label">
                <div class="form-switch bg-light-info rounded">
                  <label for="percepcion">Retención (1%)</label>
                  <input class="form-check-input float-end" type="checkbox" role="switch" (change)="sumTotal()" [(ngModel)]="devolucion.retencion" name="devolucion.retencion">
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-3 without-label">
                <div class="form-switch bg-light-info rounded">
                  <label for="percepcion">Percepción</label>
                  <input class="form-check-input float-end" type="checkbox" role="switch" (change)="sumTotal()" [(ngModel)]="devolucion.percepcion" name="devolucion.percepcion">
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 without-label">
                <div class="form-switch bg-light-info rounded">
                    <label for="renta">Renta (10%)</label>
                  <input class="form-check-input float-end" type="checkbox" role="switch" (change)="sumTotal()" [(ngModel)]="devolucion.renta" name="devolucion.renta">
                </div>
            </div>
        </div>
    </section>
    <div class="card-body">
        <div class="row mt-4">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary float-end" id="submit" [disabled]="saving">
                    @if (!saving) {
                        <span>Guardar</span>
                    }
                    @if (saving) {
                        <span>Guardando...</span>
                    }
                </button>
            </div>
        </div>
    </div>
</form>
</section>
