.list-group-item {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.hover-highlight {
  transition: all 0.3s ease;
}

.hover-highlight:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  background-color: rgba(13, 110, 253, 0.05);
}

.list-group-item.active {
  transform: scale(1.02);
  background-color: #5394f6 !important;
  border-color: #0d6efd !important;
  color: white !important;
}


/* Para mantener el texto secundario blanco cuando está activo */
.list-group-item.active .text-muted {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Para el badge cuando el item está activo */
.list-group-item.active .badge {
  background-color: white !important;
  color: #5394f6 !important;
}

.selected-plan {
  border: 2px solid #5394f6 !important;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
  transition: all 0.5s ease;
  transform: scale(1.02);
  z-index: 10;
  position: relative;
}

.plan-container {
  transition: max-height 0.5s ease, opacity 0.4s ease, transform 0.4s ease;
  max-height: 1000px;
  opacity: 1;
  transform: translateY(0);
}

.plan-container.hidden {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.plan-container.visible {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

