
<section class="bg-white p-4 rounded mb-3 d-flex justify-content-between">
    <div>
        <h2>Configuración</h2>
    </div>
    <div>
        <!-- <app-descargar-excel *ngIf="ivas?.length > 0" [nombre]="'Libro de Compras'"></app-descargar-excel> -->
        <!-- <button tooltip="Descargar compras" class="btn btn-default tcla-F6"><img src="/assets/icons/download.png" class="icon"></button> -->
    </div>
</section>

<div class="bg-white p-4 rounded mb-3">


    <div class="row">
        <div class="col-12">
           
        </div>
    </div>
</div>
