<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Empresas</h2>
    <button (click)="openModal(mempresa, {})"  tooltip="Crear empresa (F4)" class="btn btn-default tcla-F4"><i class="fa fa-plus"></i> Añadir empresa</button>
</section>

<section class="bg-white p-4 rounded mb-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            <span class="text-muted" *ngIf="empresas?.total">
                Mostrando {{ empresas?.to }} de {{ empresas?.total + ' registros' }}
            </span>
        </div>

        <div class="col-md-6 mb-3">
            <div class="d-flex gap-2">
                <!-- <button tooltip="Descargar empresas" (click)="descargar()" class="btn btn-default tcla-F6"><img src="/assets/icons/download.png" class="icon"></button> -->
                <form class="d-flex input-group" name="form" (ngSubmit)="filtrarEmpresas()" autocomplete="off">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="filtros.buscador">
                </form>
                <button tooltip="Filtrar (F3)" (click)="filtrarEmpresas()" class="btn btn-default tcla-F3"><i class="fa fa-filter"></i></button>
            </div>
        </div>
    </div>

    <div class="d-flex mb-3">
        <div class="col d-flex gap-2">
            <button class="btn btn-primary tcla-F5" tooltip="Filtrar (F5)"  (click)="loadAll()">Todos</button>
        </div>
        <div class="col d-flex gap-2 justify-content-end">
            <select name="activo" (change)="filtrarEmpresas()" [(ngModel)]="filtros.activo" class="form-select bg-default w-auto">
                <option value="">Estado</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th (click)="setOrden('nombre')" [ngClass]="{'sorted-asc': filtros.orden == 'nombre' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'nombre' && filtros.direccion == 'desc'}" class="click">Nombre</th>
                        <th>Plan</th>
                        <th (click)="setOrden('created_at')" [ngClass]="{'sorted-asc': filtros.orden == 'created_at' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'created_at' && filtros.direccion == 'desc'}" class="click">Fecha Suscripción</th>
                        <th (click)="setOrden('fecha_cancelacion')" [ngClass]="{'sorted-asc': filtros.orden == 'fecha_cancelacion' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'fecha_cancelacion' && filtros.direccion == 'desc'}" class="click">Fecha Cancelación</th>
                        <th>Estado</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="empresas?.total < 1 && !loading">
                            <span class="badge bg-primary">No tiene empresas registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let empresa of empresas?.data">
                        
                        <td>{{empresa.id }}</td>
                        <td>{{empresa.nombre }}</td>
                        <td>{{empresa.plan }}</td>
                        <td>{{empresa.created_at | date:'dd/MM/yyyy' }}</td>
                        <td>{{empresa.fecha_cancelacion | date:'dd/MM/yyyy' }}</td>
                        <td>
                            <select name="activo" [(ngModel)]="empresa.activo" class="form-select w-auto border-0" (change)="setEstado(empresa)" [ngClass]="{'bg-light-danger' : empresa.activo == 0, 'bg-light-success' : empresa.activo == 1}">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <span class="btn" [popover]="accionesTemplate" [outsideClick]="true" tooltip="Acciones">
                                <i class="fa fa-ellipsis-vertical fa-fw"></i>
                            </span>
                            <ng-template #accionesTemplate>
                                <div class="list-group border-0">
                                    <a (click)="openModal(mempresa, empresa)" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-edit"></i> Editar
                                    </a>
                                    <a *ngIf="empresa.activo == 'Pendiente'" (click)="setEstado(empresa, 'Pagada')" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fas fa-fw fa-credit-card"></i> Pagar
                                    </a>
                                    <a *ngIf="empresa.activo != 'Cancelado'" (click)="setEstado(empresa, 'Cancelado')" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-ban"></i> Cancelar
                                    </a>
                                    <a *ngIf="empresa.activo == 'Cancelado'" (click)="setEstado(empresa, 'Pagada')" class="list-group-item list-group-item-action border-0 click">
                                        <i class="fa fa-fw fa-check"></i> Revertir anulación
                                    </a>
                                </div>
                            </ng-template>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12" *ngIf="empresas?.last_page > 1">
            <app-pagination [items]="empresas" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</section>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="filtrarEmpresas()">
        <div class="row text-center">
            <app-notificaciones-container></app-notificaciones-container>
            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtros.inicio" [(ngModel)]="filtros.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtros.fin" [(ngModel)]="filtros.fin"/>
            </div>

            <div class="form-group col-sm-6">
                <label for="filtros.categoria">Categoría:</label>
                <input type="text" list="empresas" [(ngModel)]="filtros.categoria" class="form-control" name="filtros.categoria">
                <datalist id="empresas">
                    <option value="Todas">
                    <option value="Transporte">
                    <option value="Alimentación">
                    <option value="Viaticos">
                    <option value="Agua">
                    <option value="Luz">
                    <option value="Teléfono">
                    <option value="Internet">
                    <option value="Cable">
                    <option value="Material de oficina">
                    <option value="Material de limpieza">
                    <option value="Otros">
                </datalist>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mempresa>
  <div class="modal-header">
    <div class="modal-title">
        <h2 class="text-center">
            <span *ngIf="empresa.id">Editar </span>
            <span *ngIf="!empresa.id">Crear </span>
            empresa
        </h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <app-notificaciones-container></app-notificaciones-container>
            <div class="form-group col-md-6 col-lg-4">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.nombre" name="nombre" placeholder="Nombre" required>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="nombre_propietario">Propietario</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.nombre_propietario" name="nombre_propietario" placeholder="Escribe aquí">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="telefono">Teléfono</label>
                <input type="tel" class="form-control" [(ngModel)]="empresa.telefono" name="telefono" placeholder="xxxx-xxxx">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" [(ngModel)]="empresa.correo" name="correo" placeholder="info@miempresa.com">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="municipio">Municipio</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.municipio" name="municipio" placeholder="Escribe aquí">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="departamento">Departamento</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.departamento" name="departamento" placeholder="Escribe aquí">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.direccion" name="direccion" placeholder="Escribe aquí">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="nit">NIT</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.nit" name="nit" placeholder="000-000000-000-0">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="ncr">NCR</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.ncr" name="ncr" placeholder="000000-0">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="giro">Sector</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.giro" name="giro" placeholder="Sector">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="giro">Giro</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.giro" name="giro" placeholder="Giro">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="tamano">Tamaño</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.tamano" name="tamano" placeholder="Tamaño">
            </div>
            <div class="form-group col-md-12">
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" [(ngModel)]="empresa.descripcion" name="descripcion" placeholder="Escribe aquí">
            </div>
        </div>
        <div class="row mt-3">
            <h5 class="my-3">Configuraciones</h5>
            <div class="form-group col-md-6 col-lg-4 without-label">
                <div class="form-switch bg-light-info rounded">
                  <label for="modulo_citas">Modulo de citas</label>
                  <input class="form-check-input float-end" type="checkbox" role="switch" [(ngModel)]="empresa.modulo_citas" name="modulo_citas">
                </div>
            </div>

            <div class="form-group col-md-6 col-lg-4 without-label">
                <div class="form-switch bg-light-info rounded">
                  <label for="vender_sin_stock">Vender sin stock</label>
                  <input class="form-check-input float-end" type="checkbox" role="switch" [(ngModel)]="empresa.vender_sin_stock" name="vender_sin_stock">
                </div>
            </div>

            <div class="form-group col-md-6 col-lg-4 without-label">
                <div class="form-switch bg-light-info rounded">
                  <label for="editar_precio_venta">Editar precio venta</label>
                  <input class="form-check-input float-end" type="checkbox" role="switch" [(ngModel)]="empresa.editar_precio_venta" name="editar_precio_venta">
                </div>
            </div>
        </div>

        <div class="d-grid mt-4">
            <button type="submit" [disabled]="saving" class="btn btn-primary btn-block">
                <span *ngIf="!saving">Guardar</span>
                <span *ngIf="saving">Guardando...</span>
            </button>
        </div>
    </form>
  </div>
</ng-template>
