<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Inteligencia de negocios</h2>
</section>

<div class="bg-white p-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="alert alert-info border-0">
                <p class="mb-0"><b>Importante:</b> Los reportes se actualizan a las 12.30 p.m. y a las 5.30 p.m.
                </p>
            </div>
        </div>
        <div class="col-md-12">
                <iframe title="GENERAL" width="100%" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiZDI0YTQwNTgtNDY3MC00MTZlLWI3NzUtYjY3OTUzYjZiNWRmIiwidCI6IjdiZDI5MmI5LWQ3MmQtNDdiOS05NTYwLTIxYTg2ZjhmNWJjMCJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>
