<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Inteligencia de negocios</h2>
</section>

<!-- Dashboard nuevo -->
<app-dashboard></app-dashboard>

<!-- Dashboard antiguo -->
<div class="bg-white p-3 mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="alert alert-info border-0">
                <p class="mb-0"><b>Importante:</b> Los reportes se actualizan durante la noche.
                </p>
            </div>
        </div>
        <div class="col-md-12" *ngIf="dashboards.total == 0">
           Aún no hay configurados reportes, cuando lo estes aparecerán acá.
       </div>
        <div class="col-md-12" *ngFor="let dashboard of dashboards.data">
            <div [innerHTML]="dashboard.codigo_embed"></div>
        </div>
    </div>
</div>
