<h6 class="my-3 font-weight-bold">Detalles de la carga o mercadería
<!--     <button type="button" (click)="openModal(mdetalle,{})" title="Agregar detalle (F2)" class="btn btn-default btn-sm float-right tcla-F2">
        <i class="fa fa-plus"></i>
    </button> -->
</h6>
<div class="row">
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-condensed mb-0">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Descripcion</th>
                    <th style="width: 200px">Embalaje</th>
                    <th class="text-right" style="width: 100px">Unidades</th>
                    <th class="text-right" style="width: 100px">Bultos</th>
                    <th class="text-right" style="width: 100px">Peso</th>
                    <th class="text-right" style="width: 100px">Valor</th>
                    <th class="text-center" style="width: 100px" *ngIf="flete.estado != 'Pagado'"><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of flete?.detalles; let i = index">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td>{{ detalle.descripcion }}</td>
                    <td>{{ detalle.tipo_embalaje }}</td>
                    <td class="text-right">{{ detalle.unidades }}</td>
                    <td class="text-right">{{ detalle.bultos }}</td>
                    <td class="text-right">{{ detalle.peso | number:'1.1' }}</td>
                    <td class="text-right">{{ detalle.valor_carga | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center" *ngIf="flete.estado != 'Pagado'">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" (click)="delete(detalle)" tooltip="Eliminar">
                              <i class="fa fa-trash"></i>
                            </button>
                            <button type="button" class="btn btn-default tcla-F7" (click)="edit(detalle)" tooltip="Editar">
                              <i class="fa fa-pencil-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th colspan="3" class="text-right">Totales:</th>
                    <th class="text-right">{{ flete?.total_unidades }}</th>
                    <th class="text-right">{{ flete?.total_bultos }}</th>
                    <th class="text-right">{{ flete?.total_peso | number:'1.1'}}</th>
                    <th class="text-right">{{ flete?.total_valor_carga | currency:'USD':'symbol':'1.2'}}</th>
                    <th *ngIf="flete.estado != 'Pagado'"></th>
                </tr>
                <tr *ngIf="flete.estado != 'Pagado'">
                <!-- <form autocomplete="off" (ngSubmit)="onSubmit()"> -->
                    <td></td>
                    <td>
                        <input style="min-width: 200px;" type="text" name="descripcion" [(ngModel)]="detalle.descripcion" class="form-control">
                    </td>
                    <td>
                        <select style="min-width: 200px;" name="tipo_embalaje" class="form-control form-select" [(ngModel)]="detalle.tipo_embalaje">
                            <option value="Granel">Granel</option>
                            <option value="Paletas">Paletas</option>
                            <option value="Bolsas">Bolsas</option>
                            <option value="Cajas">Cajas</option>
                            <option value="Sacos">Sacos</option>
                            <option value="Rollos">Rollos</option>
                            <option value="Contenedor">Contenedor</option>
                            <option value="Otros">Otros</option>
                        </select>
                    </td>
                    <td>
                        <input style="min-width: 100px;" type="number" step="any" name="unidades" [(ngModel)]="detalle.unidades" class="form-control">
                    </td>
                    <td>
                        <input style="min-width: 100px;" type="number" step="any" name="bultos" [(ngModel)]="detalle.bultos" class="form-control">
                    </td>
                    <td>
                        <input style="min-width: 100px;" type="number" step="any" name="peso" [(ngModel)]="detalle.peso" class="form-control">
                    </td>
                    <td>
                        <input style="min-width: 100px;" type="number" step="any" name="valor_carga" [(ngModel)]="detalle.valor_carga" class="form-control">
                    </td>
                    <td>
                        <button type="button" (click)="onSubmit()" class="btn btn-primary btn-block" [disabled]="!detalle.descripcion || !detalle.tipo_embalaje || !detalle.unidades || !detalle.bultos || !detalle.peso || !detalle.valor_carga" tooltip="Agregar">
                            <span *ngIf="detalle.edit">Guardar</span>
                            <span *ngIf="!detalle.edit">Agregar</span>
                        </button>
                    </td>
                <!-- </form> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #mdetalle>
  <div class="modal-header">
    <h3 class="modal-title text-center">Detalle</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="descripcion">Descripción:</label>
                <input type="text" name="descripcion" [(ngModel)]="detalle.descripcion" class="form-control" focus="true">
            </div>
            <div class="form-group col-md-6">
                <label for="tipo_embalaje">Tipo embalaje:</label>
                <select name="tipo_embalaje" class="form-control form-select" [(ngModel)]="detalle.tipo_embalaje">
                    <option value="Granel">Granel</option>
                    <option value="Paletas">Paletas</option>
                    <option value="Bolsas">Bolsas</option>
                    <option value="Cajas">Cajas</option>
                    <option value="Sacos">Sacos</option>
                    <option value="Rollos">Rollos</option>
                    <option value="Contenedor">Contenedor</option>
                    <option value="Otros">Otros</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="unidades">Unidades:</label>
                <input type="number" name="unidades" [(ngModel)]="detalle.unidades" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="bultos">Bultos:</label>
                <input type="number" name="bultos" [(ngModel)]="detalle.bultos" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="peso">Peso (KG):</label>
                <input type="number" name="peso" [(ngModel)]="detalle.peso" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="valor_carga">Valor:</label>
                <input type="text" name="valor_carga" [(ngModel)]="detalle.valor_carga" class="form-control">
            </div>
            <div class="col-md-12 mt-4">
                <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>