<section class="d-flex justify-content-between bg-white p-4 rounded mb-3">
    <h2 class="page-heading">Gasto</h2>
    <button class="btn btn-light text-danger" (click)="goBack()"><i class="fa fa-arrow-left"></i> Regresar</button>
</section>

<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Fecha:</label>
                        <p>{{ gasto.fecha | date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Usuario</label>
                        <p>{{ gasto.nombre_usuario }}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Documento:</label>
                        <p>{{ gasto.tipo_documento }}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Referencia:</label>
                        <p>{{ gasto.referencia }}</p>
                    </div>
                </div>
                <h6>Detalle de gasto</h6>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Sucursal</label>
                        <p>{{ gasto.nombre_sucursal }}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Proveedor:</label>
                        <p>{{ gasto.nombre_proveedor }}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Tipo:</label>
                        <p>{{ gasto.tipo }}</p>
                     <!-- <label class="fw-medium">Categoria:</label>
                      <p>{{ gasto.nombre_categoria }}</p>-->
                    </div>
                    <div class="form-group col-md-12 col-lg-3">
                        <label class="fw-medium">Concepto:</label>
                        <p>{{ gasto.concepto }}</p>
                    </div>
                </div>
                <h6>Detalle de facturación</h6>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Forma de pago:</label>
                        <p>{{ gasto.forma_pago }}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Bancos</label>
                        <p>{{ gasto.detalle_banco }}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3 without-label">
                        <label class="fw-medium">Estado</label>
                        <p>{{ gasto.estado }}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Fecha de pago:</label><br>
                        <p>{{ gasto.fecha_pago }}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Sub Total:</label>
                        <p>{{ gasto.sub_total | currency}}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">IVA:</label>
                        <p>{{ gasto.iva | currency}}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Percepción:</label>
                        <p>{{ gasto.iva_percibido | currency}}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                        <label class="fw-medium">Total:</label>
                        <p>{{ gasto.total | currency}}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                          <label class="fw-medium">Recurrente</label>
                          <p>{{ gasto.recurrente ? 'Si' : 'No' }}</p>
                    </div>
                    <div class="form-group col-md-4 col-lg-3">
                          <label class="fw-medium">IVA</label>
                          <p>{{ gasto.iva ? 'Si' : 'No' }}</p>
                    </div>
                    <div class="form-group col-md-6 col-lg-3">
                        <label class="fw-medium">Nota:</label>
                        <p>{{ gasto.nota }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="gasto.abonos?.length > 0 || gasto.estado == 'Pendiente'">
    <h5 class="card-title p-3">
        Recibos de pago
        <a *ngIf="gasto.saldo > 0" (click)="openAbono(mabono, gasto)" class="btn btn-default float-end">
            <i class="fas fa-fw fa-hand-holding-usd"></i> Agregar abono
        </a>
    </h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Forma de pago</th>
                        <th>Estado</th>
                        <th class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center" *ngIf="gasto.abonos?.length < 1 && !loading">
                            <span class="badge bg-primary">No tiene abonos agregados</span>
                        </td>
                        <td colspan="5" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor="let abono of gasto.abonos; let i=index">
                        <td>{{ abono.fecha | date:'dd/MM/yyyy' }}</td>
                        <td>{{ abono.concepto }}</td>
                        <td>{{ abono.forma_pago }} <small *ngIf="abono.detalle_banco" class="text-muted">({{ abono.detalle_banco }})</small></td>
                        <td>
                            <select name="estado" class="form-select w-auto border-0" (change)="setEstado(abono)" [(ngModel)]="abono.estado" [ngClass]="{'bg-light-danger' : abono?.estado == 'Cancelado', 'bg-light-success' : abono?.estado == 'Confirmado'}">
                                <option value="Cancelado">Cancelado</option>
                                <option value="Confirmado">Confirmado</option>
                            </select>
                        </td>
                        <td class="text-end">{{ abono.total | currency:'USD':'symbol':'1.2' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #mabono>
    <div class="modal-header d-block text-center">
        <h4 class="modal-title">Agregar abono</h4>
    </div>
    <div class="modal-body">
        <app-crear-abono-gasto [gasto]="gasto" (update)="loadAll()"></app-crear-abono-gasto>
    </div>
</ng-template>

