<section class="d-flex justify-content-between bg-white p-2 p-md-4 rounded mb-3">
  <h2 class="page-heading">Inventario</h2>
  <div>
    <button *ngIf="apiService.canCreate()" routerLink="/producto/combo/crear" class="btn btn-default font-weight-bold"
      style="margin-right: 10px;"><img src="/assets/icons/plus.png" class="icon me-2"> Crear compuesto</button>
    <button *ngIf="apiService.canCreate()" routerLink="/producto/crear" tooltip="Crear producto (F4)"
      class="btn btn-default tcla-F4 font-weight-bold"><img src="/assets/icons/plus.png" class="icon me-2"> Añadir
      producto</button>
  </div>
</section>

<section class="bg-white p-2 p-md-4 rounded mb-3">
  <div class="row">
    <div class="col-md-6 mb-3">
      <span class="text-muted d-flex align-items-center gap-2" *ngIf="productos?.total">
        Mostrando
        <select name="paginate" class="form-select w-auto" (change)="filtrarProductos()" [(ngModel)]="filtros.paginate">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        de {{ productos?.total + ' registros' }}
      </span>
    </div>

    <div class="col-md-6 mb-3" tourAnchor="tour.toolbar" id="tour.toolbar">
      <div class="d-flex gap-2">
        <app-importar-excel (loadAll)="loadAll()" [nombre]="'productos'"></app-importar-excel>
        <button [disabled]="downloading" tooltip="Descargar productos" (click)="descargar()"
          class="btn btn-default tcla-F6">
          <img src="/assets/icons/download.png" class="icon">
        </button>
        <form class="d-flex input-group" name="form" (ngSubmit)="filtrarProductos()" autocomplete="off">
          <div class="input-group">
            <div class="input-group-text bg-white border-end-0">
              <i class="fa fa-search text-muted"></i>
            </div>
            <input type="search" name="buscador" class="form-control pull-right border-start-0" placeholder="Buscar"
              [(ngModel)]="filtros.buscador">
          </div>
        </form>
        <button tooltip="Filtrar (F3)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F3"><img
            src="/assets/icons/filter.png" class="icon"></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 d-flex gap-2 mb-3">
      <button class="tcla-F3 btn " tooltip="Actualizar (F5)" routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{exact: true}" (click)="loadAll()" routerLink="/productos">Todos</button>
      <button class="tcla-F3 btn " tooltip="Ver Combos" routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{exact: true}" routerLink="/producto-combos">Combos</button>
      <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}"
        routerLink="/ajustes">Ajustes</button>
      <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}"
        routerLink="/traslados">Traslados</button>
      <button class="btn " routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}"
        routerLink="/consignas">Consignas</button>
    </div>
    <div class="col-md-4 d-md-none d-lg-flex gap-2 justify-content-end mb-3">
      <ng-select name="id_categoria" (change)="filtrarProductos()" [(ngModel)]="filtros.id_categoria"
        class="form-select p-0 border-0 bg-default">
        <ng-option value="">Categoria</ng-option>
        <ng-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{categoria.nombre}}
        </ng-option>
      </ng-select>
      <select name="id_sucursal" (change)="filtrarProductos()" [(ngModel)]="filtros.id_sucursal"
        class="form-select bg-default w-auto">
        <option value="">Sucursal</option>
        <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
          {{sucursal.nombre}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table table-borderless table-hover align-middle">
        <thead>
          <tr>
            <!-- <th><input type="checkbox" class="form-check"></th> -->
            <th (click)="setOrden('nombre')"
              [ngClass]="{'sorted-asc': filtros.orden == 'nombre' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'nombre' && filtros.direccion == 'desc'}"
              class="click">Producto</th>
            <th (click)="setOrden('enable')"
              [ngClass]="{'sorted-asc': filtros.orden == 'enable' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'enable' && filtros.direccion == 'desc'}"
              class="click d-none d-lg-table-cell">Estado</th>
            <th (click)="setOrden('categoria')"
              [ngClass]="{'sorted-asc': filtros.orden == 'categoria' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'categoria' && filtros.direccion == 'desc'}"
              class="click d-none d-md-table-cell">Categoría</th>
            <th (click)="setOrden('codigo')"
              [ngClass]="{'sorted-asc': filtros.orden == 'codigo' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'codigo' && filtros.direccion == 'desc'}"
              class="click d-none d-md-table-cell">Código</th>
            <th (click)="setOrden('precio')"
              [ngClass]="{'sorted-asc': filtros.orden == 'precio' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'precio' && filtros.direccion == 'desc'}"
              class="click text-right">Precio sin IVA</th>
            <th class="text-right">Precio con IVA</th>
            <th (click)="setOrden('stock')"
              [ngClass]="{'sorted-asc': filtros.orden == 'stock' && filtros.direccion == 'asc', 'sorted-desc': filtros.orden == 'stock' && filtros.direccion == 'desc'}"
              class="click text-center">Stock</th>
            <th class="text-center">Más</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="8" class="text-center" *ngIf="productos?.total < 1 && !loading">
              <span class="badge bg-primary">No tiene productos registrados</span>
            </td>
            <td colspan="8" class="text-center" *ngIf="loading">
              <span class="badge bg-primary">Cargando...</span>
            </td>
          </tr>
          <tr *ngFor=" let producto of productos?.data">
            <!--  <td>
                            <input type="checkbox" class="form-check">
                        </td> -->
            <!-- imagen  y nombre-->
            <td>
              <img src="{{ apiService.baseUrl }}/img/{{ producto.img }}" class="rounded-circle" width="50px">
              {{ producto.nombre }}
            </td>

            <td class="d-none d-lg-table-cell">
              <select name="enable" class="form-select w-auto border-0" (change)="setEstado(producto)"
                [(ngModel)]="producto.enable"
                [ngClass]="{'bg-light-danger' : producto?.enable == 0, 'bg-light-success' : producto?.enable == 1}">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </td>
            <td class="d-none d-md-table-cell">{{ producto.nombre_categoria }}</td>
            <td class="d-none d-md-table-cell">{{ producto.codigo }}</td>
            <td class="text-right">{{ producto.precio | currency:'USD':'symbol':'1.2' }}</td>
            <td class="text-right">{{ (producto.precio * 1) + (producto.precio * (apiService.auth_user().empresa.iva /
              100) ) | currency:'USD':'symbol':'1.2' }}</td>
            <td class="text-center">
              <div class="click" tooltip="Realizar ajuste de stock" *ngIf="filtros.id_sucursal"
                (click)="openModalAjuste(majuste, producto)">
                {{ producto.inventarios | filter:'id_sucursal':filtros.id_sucursal | sum:'stock' }}
              </div>
              <div *ngIf="!filtros.id_sucursal">
                <span *ngIf="producto?.inventarios?.length > 0" style="display: block; height: 40px; line-height: 40px;"
                  class="click" placement="left" [popover]="popTemplate" triggers="mouseenter:mouseleave">
                  {{ producto.inventarios | sum:'stock' }}
                </span>
                <span *ngIf="producto?.inventarios?.length == 0">
                  Sin control
                </span>
                <ng-template #popTemplate>
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th>Bodega</th>
                        <th>Sucursal</th>
                        <th class="text-right">Stock</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let inventario of producto?.inventarios">
                        <td class="text-nowrap">{{ inventario.nombre_bodega}}</td>
                        <td class="text-nowrap">{{ inventario.nombre_sucursal}}</td>
                        <td class="text-right">{{ inventario.stock }}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="2">Total</th>
                        <th class="text-right">{{ producto.inventarios | sum:'stock' }}</th>
                      </tr>
                    </tfoot>
                  </table>
                </ng-template>
              </div>
            </td>
            <td class="text-center">
              <span class="btn" [popover]="accionesTemplate" [outsideClick]="true" tooltip="Acciones">
                <i class="fa fa-ellipsis-vertical fa-fw"></i>
              </span>
              <ng-template #accionesTemplate>
                <div class="d-flex flex-column">
                  <button type="button" routerLink="/producto/ver/{{producto.id}}"
                    class="btn text-start border-0">
                    <img src="/assets/icons/grid.png" class="icon me-2">Ver Detalles
                  </button>
                  <button *ngIf="apiService.canEdit()" type="button" routerLink="/producto/editar/{{producto.id}}"
                    class="btn text-start border-0">
                    <img src="/assets/icons/edit.png" class="icon me-2">Editar
                  </button>
                  <button type="button" routerLink="/kardex/{{producto.id}}" class="btn text-start border-0">
                    <img src="/assets/icons/file-text.png" class="icon me-2">Kardex
                  </button>
                  <!-- <button type="button" class="btn text-start border-0">
                                        <img  src="/assets/icons/tool.png" class="icon me-2">Ajustar
                                    </button>
                                    <button type="button" class="btn text-start border-0">
                                        <img  src="/assets/icons/corner-up-right.png" class="icon me-2">Trasladar
                                    </button> -->

                  <!-- <button type="button" (click)="delete(producto.id)" class="btn text-start text-danger">
                                        <img  src="/assets/icons/trash-2.png" class="icon me-2">Eliminar
                                    </button> -->
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12" *ngIf="productos?.last_page > 1">
      <app-pagination [items]="productos" (setPagination)="setPagination($event)"></app-pagination>
    </div>
  </div>
</section>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
      <h2 class="text-center">Filtrar</h2>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-notificaciones-container></app-notificaciones-container>
    <form autocomplete="off" (ngSubmit)="filtrarProductos()">
      <div class="row">

        <div class="form-group col-sm-6">
          <label for="filtros.estado">Estado:</label>
          <select [(ngModel)]="filtros.estado" class="form-control form-select" name="filtros.estado">
            <option value="">Todos</option>
            <option value="1">Activos</option>
            <option value="0">Inactivos</option>
          </select>
        </div>
        <div class="form-group col-sm-6">
          <label for="filtros.id_categoria">Categoria:</label>
          <select [(ngModel)]="filtros.id_categoria" class="form-control form-select" name="filtros.id_categoria">
            <option value="">Todos</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group col-sm-6">
          <label for="filtros.id_proveedor">Proveedor:</label>
          <ng-select name="id_proveedor" [(ngModel)]="filtros.id_proveedor" class="form-select p-0">
            <ng-option value="">Todos</ng-option>
            <ng-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
              {{proveedor.nombre}}
            </ng-option>
          </ng-select>
        </div>
        <div class="form-group col-sm-6">
          <label for="filtros.id_proveedor">Sucursal:</label>
          <select name="id_sucursal" (change)="filtrarProductos()" [(ngModel)]="filtros.id_sucursal"
            class="form-select">
            <option value="">Todas</option>
            <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
              {{sucursal.nombre}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-12 without-label">
          <div class="form-switch bg-light-info rounded">
            <label for="sin_stock">Con stock bajo</label>
            <input class="form-check-input float-end" type="checkbox" role="switch" [(ngModel)]="filtros.sin_stock"
              name="sin_stock">
          </div>
        </div>
        <div class="form-group col-md-12 without-label">
          <div class="form-switch bg-light-info rounded">
            <label for="compuestos">Productos compuestos</label>
            <input class="form-check-input float-end" type="checkbox" role="switch" [(ngModel)]="filtros.compuestos"
              name="compuestos">
          </div>
        </div>

      </div>

      <div class="d-grid mt-3">
        <button type="submit" [disabled]="loading" class="btn btn-primary">
          <span *ngIf="!loading">Filtrar</span>
          <span *ngIf="loading">Filtrando...</span>
        </button>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #majuste>
  <div class="modal-header justify-content-between">
    <h5 class="modal-title mb-0">Ajuste de stock </h5>
    <button class="btn btn-light text-danger" (click)="modalRef.hide(); alertService.modal = false;">Cancelar <i
        class="fa fa-close"></i></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitAjuste()" autocomplete="off">
      <div class="row">
        <app-notificaciones-container></app-notificaciones-container>
        <p><b>Sucursal:</b> {{ inventario.nombre_sucursal }}</p>
        <p><b>Producto:</b> {{ producto.nombre }}</p>
        <p><span class="badge bg-info">{{ ajuste.stock_actual | number:'1.0' }} unidades</span></p>
        <div class="form-group col-md-12">
          <label for="stock_real">Ingrese la cantidad que debe haber en existencias:</label>
          <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            class="form-control text-center" [(ngModel)]="ajuste.stock_real" (change)="calAjuste()"
            (keyup)="calAjuste()" name="stock_real" focus="true">
        </div>

        <div class="form-groumdcol-xs-12" *ngIf="ajuste.stock_real">
          <label for="ajuste">Se realizá un ajuste de:</label>
          <p *ngIf="ajuste.stock_real"> {{ ajuste.ajuste }}</p>
          <p *ngIf="!ajuste.stock_real"> 0</p>
        </div>

        <div class="form-group col-md-12">
          <label for="concepto">Nota del ajuste:</label>
          <input type="text" class="form-control" [(ngModel)]="ajuste.concepto" name="concepto">
        </div>

      </div>
      <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !ajuste.stock_real">
          <span *ngIf="!loading">Guardar</span>
          <span *ngIf="loading">Guardando...</span>
        </button>
      </div>

    </form>
  </div>
</ng-template>