<section class="d-flex justify-content-between bg-white p-2 p-md-4 rounded mb-3">
    <h2 class="page-heading">Venta</h2>
    <button class="btn btn-light text-danger" routerLink="/ventas">Cancelar <i class="fa fa-close"></i></button>
</section>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            Información
            <a *ngIf="venta.credito" routerLink="/credito/{{venta.credito.id}}" class="btn btn-default float-end" tooltip="Ver crédito">
                <i class="fa fa-money-check"></i>
            </a>
        </h5>
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>Fecha pago</th>
                    <th>Forma de pago</th>
                    <th>Banco</th>
                    <th>Documento</th>
                </tr>
                <tr>
                    <td>{{ venta.fecha | date:'yy/MM/yyyy'}} {{ venta.created_at | date:'hh:mm a'}}</td>
                    <td>{{ venta.nombre_usuario }}</td>
                    <td>{{ venta.nombre_cliente }}</td>
                    <td>{{ venta.estado }}</td>
                    <td>{{ venta.fecha_pago }}</td>
                    <td>{{ venta.forma_pago }}</td>
                    <td>{{ venta.detalle_banco }}</td>
                    <td>{{ venta.tipo_documento }} # {{ venta.correlativo }}</td>
                </tr>
            </table>
        </div>    
    </div>

</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Productos o servicios</h5>
        <div class="table-responsive" style="min-height: 300px;">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Producto</th>
                        <th width="100">Cantidad</th>
                        <th width="100">Precio</th>
                        <th width="100">Descuento</th>
                        <th width="100" class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="venta.detalles?.length < 1 && !loading">
                            <span class="badge bg-primary">No tiene productos agregados</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge bg-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor="let detalle of venta.detalles; let i=index">
                        <td> {{ i + 1 }} </td>
                        <td> {{ detalle.nombre_producto }} </td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>{{ detalle.precio | currency:'USD':'symbol':'1.2' }}</td>
                        <td>{{ detalle.descuento | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-end">{{ detalle.total | currency:'USD':'symbol':'1.2' }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>Sub Total:</b></td>
                        <td class="text-end"><b>{{ venta?.sub_total | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>IVA:</b></td>
                        <td class="text-end"><b>{{ venta?.iva | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>Descuento:</b></td>
                        <td class="text-end"><b>{{ venta?.descuento | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end"></td>
                        <td class="text-end"><b>Total:</b></td>
                        <td class="text-end"><b>{{ venta?.total | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card" *ngIf="venta.nota">
    <div class="card-body">
        <h5 class="card-title"> Observaciones </h5>
        <p>{{ venta.nota }}</p>  
    </div>

</div>
