
<section class="bg-white p-4 rounded mb-3 d-flex justify-content-between">
    <div>
        <h2>Kardex</h2>
        <h4>{{ producto.nombre }}</h4>
    </div>
    <div>
        <button tooltip="Descargar ventas" (click)="descargarKardex()" class="btn btn-default tcla-F6"><img src="/assets/icons/download.png" class="icon"></button>
    </div>
</section>

<div class="bg-white p-4 rounded mb-3">
    <div class="row">
        <div class="col-12">
            <form name="form" (ngSubmit)="loadAll()" class="row">
                <div class="form-group col-md-6 col-lg-3">
                    <label for="">Bodega: </label>
                    <select class="form-control form-select" [(ngModel)]="filtros.id_inventario" name="id_inventario">
                        <option [value]="bodega.id" *ngFor="let bodega of bodegas">
                            {{ bodega.nombre }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    <label for="">Tipo: </label>
                    <select name="detalle" [(ngModel)]="filtros.detalle" class="form-control form-select">
                        <option value="">Todos los tipos</option>
                        <option value="Venta">Ventas</option>
                        <option value="Compra">Compras</option>
                        <option value="Ajuste">Ajuste</option>
                        <option value="Traslado">Traslados</option>
                        <option value="Devolución Venta">Devoluciones de venta</option>
                        <option value="Devolución Compra">Devoluciones de compra</option>
                        <option value="Actualización de producto">Actualización de producto</option>
                    </select>
                </div>
                <div class="form-group col-md-5 col-lg-3">
                    <label for="">Del: </label>
                    <input type='date' class="form-control" name="filtros.inicio" [(ngModel)]="filtros.inicio"/>
                </div>
                <div class="form-group col-md-5 col-lg-3">
                    <label for="">Al: </label>
                    <div class="input-group">
                        <input type='date' class="form-control" name="filtros.fin" [(ngModel)]="filtros.fin"/>
                        <button type="submit" class="btn btn-primary tcla-F6" [disabled]="loading" tooltip="Filtrar datos (F6)">
                            <i *ngIf="!loading" class="fa fa-search"></i>
                            <i *ngIf="loading" class="fa fa-ellipsis-h"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <!-- <th colspan="4"></th> -->
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Detalle</th>
                            <th>N° de Documento</th>
                            <th class="text-center">Entrada</th>
                            <th class="text-center">Salida</th>
                            <th class="text-center">Stock Final</th>
                            <th class="text-center">Costo U</th>
                            <th class="text-right">Costo Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="9" class="text-center" *ngIf="producto?.movimientos?.length < 1 && !loading">
                                <span class="badge bg-primary">No tiene movimientos registrados</span>
                            </td>
                            <td colspan="9" class="text-center" *ngIf="loading">
                                <span class="badge bg-primary">Cargando...</span>
                            </td>
                        </tr>

                        <tr *ngFor=" let movimiento of producto?.movimientos">
                            
                            <td><span tooltip="{{ movimiento.created_at | date:'hh:mm a'}}">{{movimiento.fecha | date:'dd/MM/yyyy'}}</span></td>
                            <td>{{movimiento.nombre_usuario}}</td>
                            <td>{{movimiento.detalle}}</td>
                            <td>
                                {{movimiento.modelo_detalle}}
                                <a class="float-end d-none"  tooltip="Ver detalle de la transacción" routerLink="/{{movimiento.modelo}}/{{movimiento.referencia}}"><i class="fa fa-edit"></i></a>
                            </td>

                            <td class="text-center">{{ movimiento.entrada_cantidad > 0 ? (movimiento.entrada_cantidad | number:'1.0') : '' }}</td>
                            <td class="text-center">{{ movimiento.salida_cantidad > 0 ? (movimiento.salida_cantidad | number:'1.0') : '' }}</td>
                            
                            <td class="text-center">{{ movimiento.total_cantidad > 0 ? (movimiento.total_cantidad | number:'1.0') : '' }}</td>
                            <td class="text-center">{{ movimiento.costo_unitario > 0 ? (movimiento.costo_unitario | currency ): ''  }}</td>
                            <td class="text-end">{{ movimiento.total_valor > 0 ? (movimiento.total_valor | currency ): ''  }}</td>
                        </tr>

                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>
