<button type="button" class="btn btn-default tcla-F1" (click)="openModal(mproveedor)">
    <i *ngIf="!id_proveedor" tooltip="Crear nuevo proveedor (F1)" class="fa fa-plus"></i>
    <i *ngIf="id_proveedor" tooltip="Editar proveedor (F1)" class="fa fa-pencil-alt"></i>
</button>

<ng-template #mproveedor>
    <div class="modal-header justify-content-between">
        <h3 class="modal-title">
            <span *ngIf="!id_proveedor">Nuevo proveedor</span>
            <span *ngIf="id_proveedor">Editar proveedor</span>
        </h3>
        <button class="btn btn-light text-danger" (click)="modalRef.hide(); alertService.modal = false;">Cancelar <i class="fa fa-close"></i></button>
    </div>
    <div class="modal-body p-3">
        <app-notificaciones-container></app-notificaciones-container>
        <form (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col d-grid">
                    <input type="radio" class="btn-check" name="tipo" [(ngModel)]="proveedor.tipo" id="option1" (change)="setTipo('Persona')">
                    <label class="btn" [ngClass]="{'btn-default' : proveedor.tipo == 'Persona', 'btn-light' : proveedor.tipo != 'Persona' }" for="option1">Persona</label>
                </div>
                <div class="col d-grid">
                    <input type="radio" class="btn-check" name="tipo" [(ngModel)]="proveedor.tipo" id="option2" (change)="setTipo('Empresa')">
                    <label class="btn" [ngClass]="{'btn-default' : proveedor.tipo == 'Empresa', 'btn-light' : proveedor.tipo != 'Empresa' }" for="option2">Empresa</label>
                </div>
                <div class="col d-grid">
                    <input type="radio" class="btn-check" name="tipo" [(ngModel)]="proveedor.tipo" id="option3" (change)="setTipo('Extranjero')">
                    <label class="btn" [ngClass]="{'btn-default' : proveedor.tipo == 'Extranjero', 'btn-light' : proveedor.tipo != 'Extranjero' }" for="option3">Extranjero</label>
                </div>
            </div>
            <div class="row" *ngIf="proveedor.tipo != 'Extranjero'">
                <div class="col-12" [ngClass]="{ 'order-1' :  proveedor.tipo == 'Persona', 'order-2' :  proveedor.tipo == 'Empresa' }">
                    <div class="row">
                        <h6 class="col-12 pb-2 mb-2">Información de contacto</h6>
                        <div class="form-group col-lg-4">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="nombre" [(ngModel)]="proveedor.nombre">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" (change)="verificarSiExiste()" placeholder="Escribe aquí" name="apellido" [(ngModel)]="proveedor.apellido">
                        </div>
                        <div class="form-group col-6 col-lg-4">
                            <label for="dui">{{ apiService.auth_user().empresa.pais == 'El Salvador' ? 'DUI' : 'Número de identificación' }}</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="dui" [(ngModel)]="proveedor.dui" [dropSpecialCharacters]="false" mask='00000000-0'>
                        </div>
                        <div class="form-group col-6 col-lg-4">
                            <label for="codigo_cliente">Código Cliente</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="codigo_cliente" [(ngModel)]="proveedor.codigo_cliente">
                        </div>
                        <div class="form-group col-6 col-lg-4">
                            <label for="correo">Correo</label>
                            <input type="email" class="form-control" placeholder="Escribe aquí" name="correo" [(ngModel)]="proveedor.correo">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label for="telefono">Teléfono:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="telefono" [(ngModel)]="proveedor.telefono">
                        </div>

                        <div class="form-group col-6 col-lg-3" *ngIf="proveedor.tipo == 'Persona'">
                            <label for="pais">Pais:</label>
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica" type="text" class="form-control" placeholder="Escribe aquí" name="pais" [(ngModel)]="proveedor.pais">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica" [(ngModel)]="proveedor.cod_pais" (change)="setPais()" placeholder="Escribe aquí" class="form-control form-select p-0" name="proveedor.cod_pais">
                                <ng-option *ngFor="let pais of paises" [value]="pais.cod">
                                    {{ pais.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-6 col-lg-4" *ngIf="proveedor.tipo == 'Persona'">
                            <label for="departamento">Departamento:</label>
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica" type="text" class="form-control" placeholder="Escribe aquí" name="departamento" [(ngModel)]="proveedor.departamento">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica" [(ngModel)]="proveedor.cod_departamento" (change)="setDepartamento()" placeholder="Escribe aquí" class="form-control form-select p-0" name="proveedor.cod_departamento">
                                <ng-option *ngFor="let departamento of departamentos" [value]="departamento.cod">
                                    {{ departamento.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-6 col-lg-4" *ngIf="proveedor.tipo == 'Persona'">
                            <label for="distrito">Distrito:</label>
                            <input *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="distrito" [(ngModel)]="proveedor.distrito">
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="distrito" [(ngModel)]="proveedor.distrito">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" [(ngModel)]="proveedor.cod_distrito" (change)="setDistrito()" placeholder="Escribe aquí" class="form-control form-select p-0" name="proveedor.cod_distrito">
                                <ng-option *ngFor="let distrito of distritos | filter:'cod_departamento':proveedor.cod_departamento" [value]="distrito.cod">
                                    {{ distrito.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-6 col-lg-4" *ngIf="proveedor.tipo == 'Persona'">
                            <label for="municipio">Municipio:</label>
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica" type="text" class="form-control" placeholder="Escribe aquí" name="municipio" [(ngModel)]="proveedor.municipio">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica" [(ngModel)]="proveedor.cod_municipio" (change)="setMunicipio()" placeholder="Escribe aquí" class="form-control form-select p-0" name="proveedor.cod_municipio">
                                <ng-option *ngFor="let municipio of municipios | filter:'nombre_departamento':proveedor.departamento" [value]="municipio.cod">
                                    {{ municipio.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-12 col-md-6" *ngIf="proveedor.tipo == 'Persona'">
                            <label for="direccion">Dirección:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="direccion" [(ngModel)]="proveedor.direccion">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="etiquetas">Etiquetas:</label>
                            <tag-input theme='bootstrap' secondaryPlaceholder="Etiquetas" [placeholder]="'etiquetas'" [separatorKeyCodes]="[32]" [(ngModel)]="proveedor.etiquetas" name="etiquetas"></tag-input>
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="nota">Observaciones</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="nota" [(ngModel)]="proveedor.nota">
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="proveedor.tipo == 'Empresa'" [ngClass]="{ 'order-1' :  proveedor.tipo == 'Empresa', 'order-2' :  proveedor.tipo == 'Persona' }">
                    <div class="row">
                        <h6 class="col-12 pb-2 mb-2">Información de la empresa</h6>

                        <div class="form-group col-6 col-lg-6">
                            <label for="nombre_empresa">Empresa:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="nombre_empresa" [(ngModel)]="proveedor.nombre_empresa">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label for="nit">{{ apiService.auth_user().empresa.pais == 'El Salvador' ? 'NIT:' : 'Identificación fiscal:' }}</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="nit" [(ngModel)]="proveedor.nit">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label for="ncr">{{ apiService.auth_user().empresa.pais == 'El Salvador' ? 'NCR:' : 'Registro tributario:' }}</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="ncr" [(ngModel)]="proveedor.ncr">
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="tipo_contribuyente">Tipo de contribuyente:</label>
                            <select class="form-select" [(ngModel)]="proveedor.tipo_contribuyente" name="tipo_contribuyente">
                                <option value="">Seleccione aquí</option>
                                <option value="Pequeño">Pequeño</option>
                                <option value="Mediano">Mediano</option>
                                <option value="Grande">Grande</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        <div class="form-group col-6 col-lg-9">
                            <label for="giro">Giro:</label>
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica" type="text" class="form-control" placeholder="Escribe aquí" name="giro" [(ngModel)]="proveedor.giro">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica" [(ngModel)]="proveedor.cod_giro" (change)="setGiro()" placeholder="Escribe aquí" class="form-select p-0" name="proveedor.cod_giro">
                                <ng-option *ngFor="let actividad_economica of actividad_economicas" [value]="actividad_economica.cod">
                                    {{ actividad_economica.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label for="telefono">Teléfono:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="empresa_telefono" [(ngModel)]="proveedor.empresa_telefono">
                        </div>
                        <div class="form-group col-6 col-lg-3" *ngIf="proveedor.tipo == 'Empresa'">
                            <label for="pais">Pais:</label>
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica" type="text" class="form-control" placeholder="Escribe aquí" name="pais" [(ngModel)]="proveedor.pais">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica" [(ngModel)]="proveedor.cod_pais" (change)="setPais()" placeholder="Escribe aquí" class="form-control form-select p-0" name="proveedor.cod_pais">
                                <ng-option *ngFor="let pais of paises" [value]="pais.cod">
                                    {{ pais.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-6 col-lg-3" *ngIf="proveedor.tipo == 'Empresa'">
                            <label for="departamento">Departamento:</label>
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica" type="text" class="form-control" placeholder="Escribe aquí" name="departamento" [(ngModel)]="proveedor.departamento">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica" [(ngModel)]="proveedor.cod_departamento" (change)="setDepartamento()" placeholder="Escribe aquí" class="form-control form-select p-0" name="proveedor.cod_departamento">
                                <ng-option *ngFor="let departamento of departamentos" [value]="departamento.cod">
                                    {{ departamento.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-6 col-lg-3" *ngIf="proveedor.tipo == 'Empresa'">
                            <label for="distrito">Distrito:</label>
                            <input *ngIf="apiService.auth_user().empresa.pais != 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="distrito" [(ngModel)]="proveedor.distrito">
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" type="text" class="form-control" placeholder="Escribe aquí" name="distrito" [(ngModel)]="proveedor.distrito">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica && apiService.auth_user().empresa.pais == 'El Salvador'" [(ngModel)]="proveedor.cod_distrito" (change)="setDistrito()" placeholder="Escribe aquí" class="form-control form-select p-0" name="proveedor.cod_distrito">
                                <ng-option *ngFor="let distrito of distritos | filter:'cod_departamento':proveedor.cod_departamento" [value]="distrito.cod">
                                    {{ distrito.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-6 col-lg-3" *ngIf="proveedor.tipo == 'Empresa'">
                            <label for="municipio">Municipio:</label>
                            <input *ngIf="!apiService.auth_user().empresa.facturacion_electronica" type="text" class="form-control" placeholder="Escribe aquí" name="municipio" [(ngModel)]="proveedor.municipio">
                            <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica" [(ngModel)]="proveedor.cod_municipio" (change)="setMunicipio()" placeholder="Escribe aquí" class="form-control form-select p-0" name="proveedor.cod_municipio">
                                <ng-option *ngFor="let municipio of municipios | filter:'nombre_departamento':proveedor.departamento" [value]="municipio.cod">
                                    {{ municipio.nombre }}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-12 col-md-9" *ngIf="proveedor.tipo == 'Empresa'">
                            <label for="direccion">Dirección:</label>
                            <input type="text" class="form-control" placeholder="Escribe aquí" name="empresa_direccion" [(ngModel)]="proveedor.empresa_direccion">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="proveedor.tipo == 'Extranjero'">
                <h6 class="col-12 pb-2 mb-2">Información de contacto</h6>
                <div class="form-group col-lg-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" placeholder="Escribe aquí" name="nombre" [(ngModel)]="proveedor.nombre">
                </div>
                <div class="form-group col-lg-3">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" placeholder="Escribe aquí" name="apellido" [(ngModel)]="proveedor.apellido">
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="tipo_documento">Tipo de documento</label>
                    <select class="form-select" placeholder="Escribe aquí" name="tipo_documento" [(ngModel)]="proveedor.tipo_documento">
                        <option value="13">{{ apiService.auth_user().empresa.pais == 'El Salvador' ? 'DUI' : 'Documento de identidad' }}</option>
                        <option value="36">{{ apiService.auth_user().empresa.pais == 'El Salvador' ? 'NIT' : 'Identificación fiscal' }}</option>
                        <option value="03">Pasaporte</option>
                        <option value="02">Carnet de residente</option>
                        <option value="37">Otro</option>
                    </select>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="dui">{{ apiService.auth_user().empresa.pais == 'El Salvador' ? 'DUI' : 'Número de identificación' }}</label>
                    <input type="text" class="form-control" placeholder="Escribe aquí" name="dui" [(ngModel)]="proveedor.dui">
                </div>
                <div class="form-group col-6">
                    <label for="nombre_empresa">Nombre comercial</label>
                    <input type="text" class="form-control" placeholder="Escribe aquí" name="nombre_empresa" [(ngModel)]="proveedor.nombre_empresa">
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="tipo_persona">Tipo Persona:</label>
                    <select class="form-select" placeholder="Escribe aquí" name="tipo_persona" [(ngModel)]="proveedor.tipo_persona">
                        <option value="Persona Natural">Persona Natural</option>
                        <option value="Persona Juridica">Persona Jurídica</option>
                    </select>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="pais">Pais:</label>
                    <ng-select *ngIf="apiService.auth_user().empresa.facturacion_electronica" [(ngModel)]="proveedor.cod_pais" (change)="setPais()" placeholder="Escribe aquí" class="form-control form-select p-0" name="proveedor.cod_pais">
                        <ng-option *ngFor="let pais of paises" [value]="pais.cod">
                            {{ pais.nombre }}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="direccion">Dirección:</label>
                    <input type="text" class="form-control" placeholder="Escribe aquí" name="direccion" [(ngModel)]="proveedor.direccion">
                </div>
                <div class="form-group col-6 col-lg-6">
                    <label for="giro">Giro</label>
                    <input type="text" class="form-control" placeholder="Escribe aquí" name="giro" [(ngModel)]="proveedor.giro">
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="correo">Correo</label>
                    <input type="email" class="form-control" placeholder="Escribe aquí" name="correo" [(ngModel)]="proveedor.correo">
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" class="form-control" placeholder="Escribe aquí" name="telefono" [(ngModel)]="proveedor.telefono">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 mt-3">
                    <button type="submit" [disabled]="saving" class="btn btn-primary float-end tcla-F10" tooltip="Guardar (F10)">
                        <span *ngIf="!saving">Guardar proveedor <img src="assets/icons/arrow-right-stroke.png" class="icon2 ms-2"></span>
                        <span *ngIf="saving">Guardando...</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
