<button type="button" class="btn btn-default tcla-F1" (click)="openModal(mproveedor)">
    <i *ngIf="!id_proveedor" tooltip="Crear nuevo proveedor (F1)" class="fa fa-plus"></i>
    <i *ngIf="id_proveedor" tooltip="Editar proveedor (F1)" class="fa fa-pencil-alt"></i>
</button>

<ng-template #mproveedor>
    <div class="modal-header text-center">
        <h3 class="modal-title">
            <span *ngIf="!id_proveedor">Nuevo proveedor</span>
            <span *ngIf="id_proveedor">Editar proveedor</span>
        </h3>
        <button class="btn btn-light text-danger" (click)="modalRef.hide()">Cancelar <i class="fa fa-close"></i></button>
    </div>
    <div class="modal-body p-3">
        <form name="form" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col d-grid">
                    <input type="radio" class="btn-check" name="tipo" [(ngModel)]="proveedor.tipo" id="option1" (change)="setTipo('Persona')">
                    <label class="btn" [ngClass]="{'btn-default' : proveedor.tipo == 'Persona', 'btn-light' : proveedor.tipo == 'Empresa' }" for="option1">Persona</label>
                </div>
                <div class="col d-grid">
                    <input type="radio" class="btn-check" name="tipo" [(ngModel)]="proveedor.tipo" id="option2" (change)="setTipo('Empresa')">
                    <label class="btn" [ngClass]="{'btn-default' : proveedor.tipo == 'Empresa', 'btn-light' : proveedor.tipo == 'Persona' }" for="option2">Empresa</label>
                </div>
            </div>
            <div class="row">
                <h6 class="my-3">Información del contacto</h6>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="proveedor.nombre" class="form-control" placeholder="Escribe aquí" [(ngModel)]="proveedor.nombre" focus="true">
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="proveedor.apellido" class="form-control" placeholder="Escribe aquí" [(ngModel)]="proveedor.apellido">
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="dui">DUI</label>
                    <input type="text" class="form-control" [(ngModel)]="proveedor.dui" name="dui" [dropSpecialCharacters]="false" mask='00000000-0' placeholder="xxxxxxx-x">
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="correo">Correo</label>
                    <input type="mail" class="form-control" [(ngModel)]="proveedor.correo" name="correo" placeholder="Escribe aquí">
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="telefono">Teléfono</label>
                    <input type="text" class="form-control" [(ngModel)]="proveedor.telefono" name="telefono" [dropSpecialCharacters]="false" mask='0000-0000' placeholder="0000-0000">
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="municipio">Municipio</label>
                    <input type="text" class="form-control" [(ngModel)]="proveedor.municipio" name="municipio" placeholder="Escribe aquí">
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="departamento">Departamento</label>
                    <input type="text" class="form-control" [(ngModel)]="proveedor.departamento" name="departamento" placeholder="Escribe aquí">
                </div>
                <div class="form-group col-lg-8">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" [(ngModel)]="proveedor.direccion" name="direccion" placeholder="Escribe aquí">
                </div>
                <div class="form-group col-lg-6">
                    <label for="etiquetas">Etiquetas</label>
                    <tag-input theme='bootstrap' secondaryPlaceholder="Escribe aquí" [separatorKeyCodes]="[32]" [(ngModel)]="proveedor.etiquetas" name="etiquetas"></tag-input>
                </div>
                <div class="form-group col-lg-6">
                    <label for="nota">Observaciones</label>
                    <input type="text" class="form-control" [(ngModel)]="proveedor.nota" name="nota" placeholder="Escribe aquí">
                </div>
            </div>
            <div class="row" *ngIf="proveedor.tipo == 'Empresa'">
                <h6 class="my-3">Información de la empresa</h6>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="nombre_empresa">Empresa</label>
                    <input type="text" class="form-control" [(ngModel)]="proveedor.nombre_empresa" name="nombre_empresa" placeholder="Escribe aquí"> 
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="ncr">NRC</label>
                    <input type="text" class="form-control" [(ngModel)]="proveedor.ncr" name="ncr" placeholder="xxxx-x"> 
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="nit">NIT</label>
                    <input type="text" class="form-control" [(ngModel)]="proveedor.nit" name="nit" [dropSpecialCharacters]="false" mask='0000-000000-000-0' placeholder="xxxx-xxxxxx-xxx-x">
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="giro">Giro</label>
                    <input type="text" class="form-control" [(ngModel)]="proveedor.giro" name="giro" placeholder="Giro">
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="tipo_contribuyente">Tipo de contribuyente</label>
                    <select class="form-select" [(ngModel)]="proveedor.tipo_contribuyente" name="tipo_contribuyente">
                        <option value="Pequeño">Pequeño</option>
                        <option value="Mediano">Mediano</option>
                        <option value="Grande">Grande</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 mt-3">
                    <button [disabled]="loading" class="btn btn-primary float-end">
                        <span *ngIf="!loading">Guardar</span>
                        <span *ngIf="loading">Guardando...</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
